body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit }
input, textarea, select { *font-size: 100% }
legend { color: #000 }
/* 通用 */
html,body{ background: #F2F2F2; min-height: 480px;}
body, input, button, textarea { -webkit-text-size-adjust: none; font: normal 16px/20px 'Microsoft Yahei', helvetica, arial; color: #555; outline: none; box-sizing:border-box; -webkit-box-sizing:border-box; }
p { padding: 0; margin: 0 }
a { text-decoration: none; color: #1F4E73 }
*{ box-sizing: border-box;}
.fl { float: left }
.fr { float: right; }
.clear { clear: both; }
.text-left { text-align: left!important }
.text-right { text-align: right }
.text-center { text-align: center }
.blue { color: #1D4D73 !important }
.bold { font-weight: 700 }
.dark { color: #656565 !important }
.black { color: #000}
.gray { color: #aaa !important }
.red { color: #FE0000 !important}
.green { color: #05ac00}
.bg-gray { background: #F0EFF4}
.vr{ font-family: "微软雅黑", "黑体", "宋体";}
.height-10{ height: 10px;}
.hide{ display: none;}
.show{ display: block;}
.img-100{ width: 100%; height: auto;}
.height-10{height: 10px;}
.height-30{ height: 30px;}
.height-60{ height: 60px;}
.height-90{ height: 90px;}
.none{ display: none;}

.swiper-container{
    width: 100%;
    margin: auto;
}
.slide-img{
    display: block;
    width: 100%;
    height: 100%;
}     
body{ 
	letter-spacing: 0px;
	min-width: 320px;
	min-height: 480px;
	max-width: 768px;
	margin: auto;
	position: relative;
	background-color: white;
}
.modal-header
,.modal-footer{
	border: none;
}
.modal{
	top: 20%;
}
.modal-title{
	text-align: center;
}
.modal-content{
	padding-bottom: 25px;
}
.r-pay-modal{
	top: auto;
	bottom: 0;
}
.r-pay-dialog{
	width: 100%;
	margin: 0;
}
.r-pay-content{
	border-radius: 0;
	padding: 0;
}
.r-pay-title{
	font-size: 18px;
}
.r-pay-header{
	border-bottom: 1px solid #CCCCCC;
}
.r-pay-header
,.r-pay-body{
	padding: 15px 0;
}
.rp-ul{
	margin-left: 20px;
}
.rp-ul li{
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #F2F2F2;
	width: 100%;
	padding-right: 20px;
	color: #666666;
}
.rp-ul p{
	float: right;
	font-size: 14px;
	width: 60%;
	color: black;
	text-align: right;
	overflow: hidden;
}
.rp-btn-qdzf{
	width: 100%;
	background-color: #FF2222;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 18px;
	border: none;
}
.show-next-btn{
	display: block;
	margin: 10px auto;
	width: 90%;
	line-height: 40px;
	text-align: center;
	background-color: #00cc33;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	letter-spacing: 2px;
	
	
}
a:link { 
text-decoration: none; 
} 
a:visited { 
 text-decoration: none; 
} 
a:hover { 
 text-decoration: none; 
}