body,html{
	background-color: white;
}
.body-list{
	background-color: white;
}
.list-swipe img{
	position: relative;
	width: 100%;	
}
.list-swipe .van-swipe-item{
	position: relative;
	padding: 0;
	margin: 0;
}
.list-swipe h4{
	background-color: #101010;
	line-height: 30px;
	color: white;
	height: 30px;
	overflow: hidden;
	font-size: 16px;
	padding: 0 10px;
}
.body-list-item{
	position: relative;
	padding: 15px 110px 15px 10px;
	border-bottom: 1px solid #999999;
}
.body-list-item img{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -35px;
	width: 100px;
	height: 70px;
}
.body-list-item h3{
	line-height: 24px;
	font-size: 14px;
	height: 48px;
	margin-bottom: 8px;
	overflow: hidden;
	color: #333333;
}
.body-list-item h4{
	display: flex;
	justify-content: space-between;
	color: #999999;
	font-size: 12px;
	line-height: 20px;
}
.van-multi-ellipsis--l2{
	    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
