.ydws-header{
	position: relative;
}
.d-img-download{
	position: absolute;
	right: 8%;
	bottom: 8%;
	width: 40%;
}
.ydws-js{
	margin: 15px 10px 30px 10px;
	padding: 10px;
	font-size: 1.125rem;
	line-height: 26px;
	border: 1px solid #22a525;
	border-radius: 8px;
}
.ydws-tc{
	display: none;
	position: fixed;
	max-width: 768px;
	top: 0;
	height: 0%;
}

