.feature-details{
	padding: 10px;
}
.fd-nav li{
	width: 25%;
	float: left;
	text-align: center;
	font-size: 1.15rem;
	color: #333;
	line-height: 40px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.fd-nav .fd-nav-click{
	color: #ea8d99;
	border-bottom: 2px solid #ea8d99;
}
.fd-body{
	padding: 20px 0;
}
.fd-list{
	display: none;
}
.fd-list-click{
	display: block;
}
.fd-list img{
	display: block;
}
.fd-list p{
	padding-top: 10px;
	line-height: 24px;
	text-indent: 2rem;
	color: #666;
	font-size: 1rem;
}
