.student{
	padding: 10px;
}
.stu-list{
	position: relative;
	margin-left: 70px;
	border-bottom: 1px solid #ccc;
	padding-top: 5px;
	padding-bottom: 10px;
}
.stu-list img{
	position: absolute;
	left:-70px;
	top:10px;
	width:60px;
	height:60px;
	border-radius: 50%;
	border:1px solid #ccc;
}
.stu-list h1{
	color: black;
	line-height: 36px;
	font-size: 1.25rem;
}
.stu-list p{
	color: #666;
	line-height: 24px;
	font-size: 1rem;
	height: 24px;
	overflow: hidden;
}

