<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 使用最新的ie内核渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备优先, 禁止缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">
    <!-- 国产浏览器(360)使用webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止识别为手机号码 -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <title>vuejs</title>
	<style type="text/css">
		
	</style>
</head>
<body>

    <div id="app">
        {{msg}}
        {{ message }}
        <br>
        <input type="text" v-model="msg"  />
    </div>
        <div id="app-2">
          <span v-bind:title="message2">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
          </span>
        </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>


    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var app1 = new Vue({
            el:"#app",
            data:{
                msg:"hello world!",
                message: 'Hello Vue!'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message2: '页面加载于 ' + new Date()
            }
        });
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });

        var app4 = new Vue({
            el:"#app-4",
            data: {
                todos:[

                    {text: 'apple'},
                    {text: 'banana'},
                    {text: 'orange'}
                ]
            }
        });
        //app4.todos.push({ text: 'watermelon' })
        console.log();

        /*
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                ]
            }
        })
        */
    </script>
</body>
</html>