.v-list{
    padding-bottom: 20px;
}
.list-fail
,.list-true{
    background-repeat: no-repeat;
    background-size: 80px 66px;
    background-position: 95% 20px;
}
.list-fail{
    background-image: url("../images/detail-fail.png");
}
.list-true{
    background-image: url("../images/detail-true.png");
}