<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<script src="js/Angular.js"></script>
		<title>表单验证</title>
		<style type="text/css">

		</style>
	</head>

	<body ng-app="app">
		<!--
    	作者：648267773@qq.com
    	时间：2017-01-05
    	··········在输入框失误焦点后显示验证
    	描述：如果想要屏蔽浏览器对表单的默认验证行为，可以在表单元素上添加 novalidate 标记。
    -->
		<form name="signup_form" novalidate ng-submit="signupForm()">
			<fieldset>
				<legend>Signup</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Your name</label>
						<!--
						<input type="text" placeholder="Name" name="name" ng-model="signup.name" ng-minlength="3" ng-maxlength="20" required />
						<div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.submitted">
						-->
						<input ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}" type="text" placeholder="Name" name="name" ng-model="signup.name" ng-minlength="3" ng-maxlength="20" required ng-focus />
						<div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused">	
							<small class="error" ng-show="signup_form.name.$error.required">
Your name is required.
</small>
							<small class="error" ng-show="signup_form.name.$error.minlength">
Your name is required to be at least 3 characters
</small>
							<small class="error" ng-show="signup_form.name.$error.maxlength">
Your name cannot be longer than 20 characters
</small>
						</div>
					</div>
				</div>
				<button type="submit">Submit</button>
			</fieldset>
		</form>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.directive('ngFocus', [function() {
				var FOCUS_CLASS = "ng-focused";
				return {
					restrict: 'A',
					require: 'ngModel',
					link: function(scope, element, attrs, ctrl) {
						ctrl.$focused = false;
						element.bind('focus', function(evt) {
							element.addClass(FOCUS_CLASS);
							scope.$apply(function() {
								ctrl.$focused = true;
							});
						}).bind('blur', function(evt) {
							element.removeClass(FOCUS_CLASS);
							scope.$apply(function() {
								ctrl.$focused = false;
							});
						});
					}
				};
			}]);
		</script>
	</body>

</html>