<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
	<script src="js/Angular.js"></script>
    <title>常用指令的使用</title>
	<style type="text/css">
		.border-red{border: 1px solid red;}
	</style>
</head>
<body ng-app = "userApp">
    <div style="padding: 10px" ng-controller = "userController">
        <form name="userForm" ng-submit="register(user)">
                <legend>基本信息</legend>
                <img ng-show="user.isShow" ng-src="{{user.src}}" alt=""/>
                <br/>
                <input ng-model="user.name" type="text" placeholder="用户名" required/>
                <input ng-model="user.pwd" type="text" placeholder="密码" required/>
                <p>职位：</p>
                <select>
                    <option>请选择</option>
                    <option ng-selected="user.zw == '1'">Web前端</option>
                    <option ng-selected="user.zw == '2'">C#</option>
                    <option ng-selected="user.zw == '3'">JAVA</option>
                    <option ng-selected="user.zw == '4'">PHP</option>
                </select>
                <br/>
                <select ng-disabled = "true">
                    <option>disabled</option>
                    <option>disabled</option>
                </select>
                <div>
                    <span>性别：</span>
                    <label><input ng-checked="user.sex == 1" name="sex" type="radio"/>男</label>
                    <label><input ng-checked="user.sex == 0" name="sex" type="radio"/>女</label>
                </div>

                <legend>爱好</legend>
                <input ng-checked="isChecked(1)" name="love" type="checkbox" />篮球
                <input ng-checked="isChecked(2)" name="love" type="checkbox" />排球
                <input ng-checked="isChecked(5)" name="love" type="checkbox" />足球
                <br/>
                <button ng-disabled="userForm.$invalid" class="btn" type="submit">提交</button>
        </form>
    </div>
    <script type="text/javascript">
        //ng-bind,ng-module,ng-show/hide,ng-if
        //ng-checked,ng-src,ng-href,ng-class,ng-selected,ng-submit,ng-disabled
        angular.module("userApp",[])
                .controller("userController",function($scope){
                    $scope.user = {
                        isShow: 'true',
                        src : 'images/bg.png',
                        name : "李健",
                        pwd : "123456",
                        sex : '0',
                        zw : '1',
                        aihao: [1,2,3]

                    };
                    $scope.isChecked = function(num){
                        var isOK = false;
                        for( var i = 0; i<$scope.user.aihao.length; i++)
                        {

                            if(num == $scope.user.aihao[i] )
                            {

                                isOK = true;
                                break;
                            }

                        }
                        return isOK;
                    };
                    $scope.register = function(msg){
                        console.log(msg);
                        alert('提交')
                    }


                })
    </script>
</body>
</html>