<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<script src="js/Angular.js"></script>
		<title>False名称</title>
		<style type="text/css">
			[id]
			{
				color: red;
			}
		</style>
	</head>

	<body ng-app="myapp">
		<div id="emailEditor">
			<input ng-model="to" type="email" placeholder="Recipient" />
			<textarea ng-model="emailBody"></textarea>
		</div>
		<div id="emailPreview">
			<pre>__ previewText __</pre>
		</div 
		<script type="text/javascript">
			啊啊啊
		</script>
		<script type="text/javascript">
			function(){
				
			}
		</script>
	</body>

</html>