<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>报表</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/mainNews.css" />
		<link rel="stylesheet" type="text/css" href="../css/mainTable.css" />
	</head>

	<body ng-controller="tableCtrl">
		<div class="main-table">
			<div class="mui-loader">加载中...</div>
			<div class="content-div">
				<div class="content-list content-list-click">
					<ul class="cl-ul">
						<li ng-repeat="item in newsList" ng-click="onItemClick(item)">
							<img class="cl-ul-img" src="../images/main/zx-mt-01.jpg" />
							<a href="#">
								<h1>{{item.title}}</h1></a>
							<h2>{{item.summary}}</h2>
							<div><span>报表类型：{{item.reportType}}</span><span>{{item.publishTime}}</span></div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/jquery-2.1.3.min.js" ></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/angular.min.js"></script>
		<script type="text/javascript" src="../js/controllers/tableController.js"></script>
		<script>
			mui.init()
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener("plusready", function() {
					plusReady();
				}, false);
			}

			function plusReady() {
				_self = plus.webview.currentWebview();
				_self.setPullToRefresh({
					support: true,
					height: '50px',
					range: '100px',
					style: 'circle',
					offset: '45px'
				}, pulldownRefresh);
			}
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				var appElement = document.querySelector('[ng-controller=tableCtrl]');
				var $scope = angular.element(appElement).scope();
				var userInfo = JSON.parse(localStorage.getItem("userInfo"));
				if(userInfo) {
					$scope.getData(userInfo.userid, function() {
						_self.endPullToRefresh();
					});
				}
			}
		</script>
	</body>

</html>