.index {
  overflow-x: hidden;
  min-width: 1000px;
  padding-top: 80px;
  background-image: url(../images/next_01.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.index .swiper-01-div {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 75%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 0 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 6px;
}
.index .swiper-01-div .swiper-slide {
  border-radius: 10px;
}
.index .swiper-01-div .swiper-pagination,
.index .swiper-01-div .swiper-button-prev,
.index .swiper-01-div .swiper-button-next {
  display: none;
}
.index .swiper-container {
  border-radius: 8px;
}
.index .swiper-slide {
  background-position: center;
  background-size: cover;
}
.index .i-img-scale {
  position: absolute;
  left: 50%;
  top: 70px;
  width: 400px;
  margin-left: -200px;
  z-index: 100;
}
.index .i-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  min-width: 1000px;
  background-color: white;
  z-index: 99999;
}
.index .i-header .nav-img-01 {
  display: inline-block;
  width: 140px;
  height: 80px;
  margin-left: 5%;
  background-position: 100% 100%;
  background-image: url(../images/index_41.png);
}
.index .i-header .nav-img-02 {
  display: inline-block;
  width: 480px;
  height: 80px;
  margin-left: 20%;
  background-position: 100% 100%;
  background-image: url(../images/index_42.png);
}
.index .i-header-hover {
  background-color: black;
}
.index .i-header-hover .nav-img-01 {
  background-image: url(../images/index_41_hover.png);
}
.index .i-header-hover .nav-img-02 {
  background-image: url(../images/index_42_hover.png);
}
.index .i-main-01 {
  display: table-cell;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  vertical-align: middle;
}
.index .i-main-02 {
  position: relative;
  background-color: white;
  padding-top: 140px;
}
.index .i-main-02 .i-img-01 {
  position: relative;
  z-index: 22;
}
.index .i-main-03 {
  background-color: #1b577f;
  /*以下是图片动态效果*/
  /*以上是图片动态效果*/
}
.index .i-main-03 .main-03-content {
  position: relative;
  z-index: 10;
  margin-bottom: 180px;
}
.index .i-main-03 .main-03-content-div {
  position: relative;
  padding: 120px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  transition: all 1s;
}
.index .i-main-03 .main-03-content-div .content-div {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.index .i-main-03 .main-03-content-div .content-div img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  transition: all 0.6s;
}
.index .i-main-03 .main-03-content-div .content-div .content-left {
  width: 50px;
}
.index .i-main-03 .main-03-content-div .content-div .content-left h1 {
  color: #90acc3;
  line-height: 40px;
  font-size: 18px;
  transition: all 0.6s;
}
.index .i-main-03 .main-03-content-div .content-div .content-left h2,
.index .i-main-03 .main-03-content-div .content-div .content-left h3,
.index .i-main-03 .main-03-content-div .content-div .content-left p {
  opacity: 0;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 img {
  position: absolute;
  left: 120px;
  top: 0;
  width: 300px;
  height: 300px;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left {
  position: relative;
  width: 400px;
  z-index: 2;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left h1 {
  font-size: 30px;
  line-height: 60px;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left h2,
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left h3,
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left p {
  opacity: 1;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left h2 {
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left h3 {
  color: #e68524;
  line-height: 30px;
  font-size: 16px;
  padding: 5px 0;
}
.index .i-main-03 .content-div-hover-01 .content-div-01 .content-left p {
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0;
}
.index .i-main-03 .content-div-hover-01 .content-div-02 {
  top: 50px;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 img {
  position: absolute;
  left: 120px;
  top: -50px;
  width: 300px;
  height: 300px;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left {
  position: relative;
  width: 400px;
  z-index: 2;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left h1 {
  font-size: 30px;
  line-height: 60px;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left h2,
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left h3,
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left p {
  opacity: 1;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left h2 {
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left h3 {
  color: #e68524;
  line-height: 30px;
  padding: 5px 0;
  font-size: 16px;
}
.index .i-main-03 .content-div-hover-02 .content-div-02 .content-left p {
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 img {
  position: absolute;
  left: 120px;
  top: 0;
  width: 300px;
  height: 300px;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left {
  position: relative;
  width: 400px;
  z-index: 2;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left h1 {
  font-size: 30px;
  line-height: 60px;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left h2,
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left h3,
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left p {
  opacity: 1;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left h2 {
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left h3 {
  color: #e68524;
  line-height: 30px;
  font-size: 16px;
  padding: 5px 0;
}
.index .i-main-03 .content-div-hover-03 .content-div-03 .content-left p {
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0;
}
.index .i-main-03 .content-div-hover-03 .content-div-02 {
  top: 50px;
}
.index .i-main-03-hover {
  background-color: #1b577f;
}
.index .i-main-03,
.index .i-main-04,
.index .i-main-05,
.index .i-main-06 {
  position: relative;
  z-index: 2;
}
.index-hover {
  background-image: url(../images/index_09.png);
}
