html {  height: 100%;}
body {margin: 0; font-family: "微软雅黑", Arial, Helvetica, sans-serif; font-size: 16px; position: relative; height: 100%; }
ul,li{margin:0;padding:0;list-style: none;}
p{margin:10px 0 10px;}


.h1{font-size:20px; font-weight:bold;}
.h2{font-size:26px; font-weight:bold;}
.h3 {font-size:21px; font-weight:bold;}
.small{font-size:14px;}
.smaller{font-size:12px;}
.strong{font-weight:bold;}

a.button{background:#ffebac; color:#ef0101; padding:0.3em 1em; font-size:28px; font-weight:bold; display:inline-block; border-radius:0.3em; box-shadow: 0em 0.2em 0em rgba(0,0,0,0.3);text-decoration: none;}

.title{font-size:24px;}
.yellow{color:#ffebac;}
.show{display:block;}
.hidden{display:none;}

.form-control {
display: block;
height: 2.4em; line-height: 2.4em;
padding: 0.4em 0.8em;
font-size: 14px;
color: #555;
background-color: #fff;
border: none;
border-radius: 0.25em;
}

.input-group{width: 90%; overflow:hidden; margin:1em auto 1em; }
.phone{width: 100%; margin:0 auto;}
.yzcode{margin:0 auto; float:left; width:51%;}
.getcode{float:right; width:38%; height: 2.4em; line-height: 2.4em; background:#9a271b; border: 1px solid #9a271b; font-size:14px; border-radius: 0.25em; padding: 0.4em 0; text-align:center;}

.p8 .button{margin-top:30px;}
.p9 .sj{width:30%;}
.line{background:url(/images/sweet/fg.png) no-repeat center bottom; background-size:100% auto; width:100%; height:5%; margin:0 auto;}
.p10 .strong{margin-top:40px;}
.p10 .button{margin-top:40px;}

#waiting{background:#fd0100; width:100%; height:100%;}
#waiting p{position:absolute; bottom:80px; width:100%; text-align:center; color:#fff;}
.rqcode{width:31%; margin:6px auto 0;}







.swiper-container { width: 100%; height: 100%; color: #fff; text-align: center;}
.swiper-slide{position:relative;}

.pagination { position: absolute; z-index: 20; left: 10px; bottom: 10px; opacity:0.1;}
.swiper-pagination-switch { display: block; width: 8px; height: 8px; border-radius: 8px; background: #222; margin-right: 5px; opacity: 0.8;  border: 1px solid #fff; cursor: pointer;}
.swiper-visible-switch { background: #aaa;}
.swiper-active-switch { background: #fff;}



.welcome .bg{background:#fd0100 url(/images/sweet/bg.jpg) repeat-y center center; background-size:100% auto; width:100%; height:100%;}

.p1, .p2, .p3, .p4, .p5, .p6{background:url(/images/sweet/bg-mh.jpg); background-size:100% 100%;}

.text{
background-position:center center;
background-repeat:no-repeat;
background-size:100% auto;
width:100%; height:18%; margin-top:25%;
}
.p1 .text{background-image:url(/images/sweet/p1_text.jpg);}
.p2 .text{background-image:url(/images/sweet/p2_text.jpg);}
.p3 .text{background-image:url(/images/sweet/p3_text.jpg);}
.p4 .text{background-image:url(/images/sweet/p4_text.jpg);}
.p5 .text{background-image:url(/images/sweet/p5_text.jpg);}
.p6 .text{background-image:url(/images/sweet/p6_text.jpg);}


.mh-con{
background-position:center center;
background-repeat:no-repeat;
background-size:76.6% auto;
width:100%; height:50%;
margin:0 auto;
position:relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.p1 .mh-con{background-image:url(/images/sweet/p1.png);}
.p2 .mh-con{background-image:url(/images/sweet/p2.png);}
.p3 .mh-con{background-image:url(/images/sweet/p3.png);}
.p4 .mh-con{background-image:url(/images/sweet/p4.png);}
.p5 .mh-con{background-image:url(/images/sweet/p5.png);}
.p6 .mh-con{background-image:url(/images/sweet/p6.png);}


/*对话框*/
.p1 .pop1{background-image:url(/images/sweet/p1_pop.png); width:38.3%; left:57.5%; top: 25%;}
.p4 .pop1{background-image:url(/images/sweet/p4_pop1.png); width:37.7%; left:48.4%; top: 12%;}
.p4 .pop2{background-image:url(/images/sweet/p4_pop2.png); width:32.8%; left:23.4%; top: 22%;}
.p6 .pop1{background-image:url(/images/sweet/p6_pop1.png); width:52.7%; left:34.4%; top: 16%;}

.pop1, .pop2{height:20%;
background-position:top left;
background-repeat:no-repeat;
background-size:100% auto;
position:absolute;
}

.pop1{
animation-delay:1s;
-webkit-animation-delay:1s; /* Safari 和 Chrome */
}

.pop2{
animation-delay:2s;
-webkit-animation-delay:2s; /* Safari 和 Chrome */
}

.txt{background:url(/images/sweet/txt.png) no-repeat center center; background-size:100% auto; width:60%;
height:30px;
margin:0 auto;
}


.sentno{position:absolute; width:100%; height:100%;}
.nothing{position:absolute; width:100%; height:100%; background:url(/images/sweet/bg.jpg); background-size:100% 100%;}

.nothing .sj{width:50%; height:18%; background: url(/images/sweet/cry.png) no-repeat center bottom; background-size: auto 100%;}

.sharewarp{position:absolute; top:0; width:100%; height:100%; background:rgba(0,0,0,0.9);}
.shareimg{width:70%; height:70%; background: url(/images/sweet/share.png) no-repeat right top; background-size:100% auto; margin-top:20px; margin-right:20px; float: right;}

/*表单*/
.p7, .p8, .p9, .p10{background:#fd0100 url(/images/sweet/bg.jpg); background-size:100% 100%;}

.logo_s{background:url(/images/sweet/logo_s.png) no-repeat center center; background-size:100% auto; width:30%; height:16%; margin:0 auto; }
.logo_s2{background:url(/images/sweet/logo_s2.png) no-repeat center center; background-size:100% auto; width:30%; height:22%; margin:0 auto;}
.sj{width:40%; height:auto; margin:0 auto;}
.sj img{width:100%; height:auto;}
.p10{}

.p8 .sj{width:50%;background: url(/images/sweet/shake.png) no-repeat center center;background-size: 100% auto;height:30%;margin-top:15%;}

/*其他*/
.mainLogo{background:url(/images/sweet/logo_b.png) no-repeat center center; background-size:100% auto; width:80%; height:100%;
position: absolute;
top: 0;
left: 10%;
}

.mh-head{background:url(/images/sweet/head.png) no-repeat top center; background-size:100% auto; width:100%; height:20%; position:fixed; top:0;  opacity: 0;
}

.music{
background:url(/images/sweet/musicon.png) no-repeat center center; background-size:100% 100%; width:30px;
height:30px;
position:absolute;
bottom:20px; right:20px;
}

.music.off{background:url(/images/sweet/musiconoff.png) no-repeat center center;}

.arrows_down{
background:url(/images/sweet/arrows_down.png) no-repeat center bottom; background-size:auto 100%; width:100%; height:16px; margin:0 auto;
position:absolute;
bottom:30px;
opacity: 0;
}

.p11{background:rgba(0,0,0,1);}
.sharebg{background:url(/images/sweet/share.png) right top no-repeat; background-size:100% auto; width:60%; height:60%;
position:absolute;
top:10px; right:10px;
}

/*相应式*/
@media (max-width: 359px) {
body{font-size: 14px;}
p{margin:8px 0 8px; line-height: 1.2;}
.h1{font-size:22px;}
.h2{font-size:21px;}
.h3 {font-size:18px;}
.small{font-size:12px;}
.smaller{font-size:10px;}
a.button{font-size:18px;}
.title{font-size:18px;}
.form-control{font-size: 12px;}
.getcode{font-size: 12px;}
.p8 .button{margin-top:21px;}
.p10 .strong{margin-top:30px;}
.p10 .button{margin-top:30px;}
.line{height:4%;}
.arrows_down{height: 10px;}
.music{width: 24px; height: 24px;}

.mh-con{width: 85%;}
.rqcode {width: 26%;}
.p9 .sj {width: 25%;}
#waiting p{bottom:60px; }

}


/*动画开始*/
.swiper-wrapper.noanimated{
  -webkit-animation-duration: 0s!important;
          animation-duration: 0s!important;
transition-duration: 0s!important;
-webkit-transition-duration:0s!important;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated .delay1s{
animation-delay:1s;
-webkit-animation-delay:1s; /* Safari 和 Chrome */
}

.fadeoutp{
transition-duration: 0ms; -webkit-transition-duration: 0ms;
transform: translate3d(0px, 100%, 0px);
-webkit-transform: translate3d(0px, 100%, 0px);
}


@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
          animation-name: wobble;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
animation-delay:0.5s;
-webkit-animation-delay:0.5s; /* Safari 和 Chrome */
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    opacity: 0;
  }
}

.flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}


@-webkit-keyframes bounceIn {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(-0.3, -0.3, .3);
            transform: scale3d(-0.3, -0.3, .3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {


  0% {
    opacity: 0;
    -webkit-transform: scale3d(-0.3, -0.3, .3);
            transform: scale3d(-0.3, -0.3, .3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

.rotate {
  animation:rotate 3s;
  -webkit-animation-name: rotate;
          animation-name: rotate;

  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


@-webkit-keyframes swipeMove {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-5px,0)
    }

    70% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,8px,0)
    }
}

@keyframes swipeMove {
    0% {
        opacity: 0;
        transform: translate3d(0,-5px,0)
    }

    70% {
        opacity: 1;
        transform: translate3d(0,0,0)
    }

    100% {
        opacity: 0;
        transform: translate3d(0,8px,0)
    }
}

.swipeMove {
-webkit-animation: swipeMove 1s ease-in infinite;
animation: swipeMove 1s ease-in infinite;
}



 /* .swiper-container {
    background: #000;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }
  .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .swiper-slide {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

  }*/

  .swiper-wrapper{
  transition-duration: 0.75s!important;
  -webkit-transition-duration: 0.75s!important;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  }


/*
.p1{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p2{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p3{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p4{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p5{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p6{
transform: translateY(0px);
-webkit-transform: translateY(0px);
transition-duration: 300ms; -webkit-transition-duration: 300ms;}

.p1 .flip-container{
transform: rotateX(0deg);
-webkit-transform: rotateX(0deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}

.p2 .flip-container{
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}

.p3 .flip-container{
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}

.p4 .flip-container{
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}

.p5 .flip-container{
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}

.p6 .flip-container{
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
transition-duration: 300ms;
-webkit-transition-duration: 300ms;
height: 50%;
}*/
.music button{width:100%;height:100%;padding:0;border-radius: 50%;opacity: 0;}
.music.hidden{display:none;}
.music.play{background:url(/images/sweet/musicoff.png) no-repeat center center; background-size: 100% 100%;}



canvas {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.direction {
  position: relative;
  color: #ddd;
  font-style: italic;
}
.direction a{
  color: white;
  font-weight: bold;
}
