body{
	height: 100%;
	width: 100%;
}
.application-body{
	padding: 0  10px 20px 10px;
}
.ab-list{
	position: relative;
	padding: 15px  70px;
	border-bottom: 1px solid #ccc;
	
}
.abl-img{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
}
.abl-ul li{
	line-height: 24px;
}
.abl-ul li:first-child{
	color: black;
	font-size: 16px;
	font-weight: bold;
}
.abl-ul li:nth-child(2){
	color: #666666;
	font-size: 14px;
}
.abl-ul li:nth-child(3){
	color: red;
	font-size: 14px;
}
.abl-btn-a{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -18px;
	border: 1px solid #009cff;
	color: #009cff;
	height: 36px;
	line-height: 34px;
	width: 60px;
	text-align: center;
	border-radius: 6px;
	font-size: 16px;
}
.app-ts{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: none;
}
