body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit }
input, textarea, select { *font-size: 100% }
legend { color: #000 }
/* 通用 */
html,body{ background: #F2F2F2; min-height: 480px;}
body, input, button, textarea { -webkit-text-size-adjust: none; font: normal 16px/20px 'Microsoft Yahei', helvetica, arial; color: #555; outline: none; box-sizing:border-box; -webkit-box-sizing:border-box; }
p { padding: 0; margin: 0 }
a { text-decoration: none; color: #1F4E73 }
*{ box-sizing: border-box;}
.fl { float: left }
.fr { float: right; }
.clear { clear: both; }
.text-left { text-align: left!important }
.text-right { text-align: right }
.text-center { text-align: center }
.blue { color: #1D4D73 !important }
.bold { font-weight: 700 }
.dark { color: #656565 !important }
.black { color: #000}
.gray { color: #aaa !important }
.red { color: #FE0000 !important}
.green { color: #05ac00}
.bg-gray { background: #F0EFF4}
.vr{ font-family: "微软雅黑", "黑体", "宋体";}
.height-10{ height: 10px;}
.hide{ display: none;}
.show{ display: block;}
.img-100{ width: 100%; height: auto;}
.height-10{height: 10px;}
.height-30{ height: 30px;}
.height-60{ height: 60px;}
.none{ display: none;}
@media only screen and (min-width:0px){
	.swiper-container{height: 200px;}
}
@media only screen and (min-width:480px){
	.swiper-container{height: 300px;}
}
.swiper-container{
    width: 100%;
    margin: auto;
}
.slide-img{
    display: block;
    width: 100%;
    height: 100%;
}     
body{ 
	letter-spacing: 2px;
	min-width: 320px;
	min-height: 480px;
	max-width: 768px;
	margin: auto;
	position: relative;
	background-color: white;
}

