.bbb-one,
.bbb-two {
  padding: 10px 20px;
}
.bbb-div h2 {
  font-size: 14px;
  line-height: 40px;
  color: #555555;
}
.bbbo-item {
  position: relative;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #999999;
  border-radius: 6px;
  margin-bottom: 15px;
}
.bbbo-item img {
  display: block;
  width: 100%;
}
.bbbo-item-header {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  padding-left: 40px;
  padding-right: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-image: url(../images/Weight_icon@2x.png);
  background-position: 17px center;
  line-height: 40px;
  font-size: 15px;
  color: white;
}
.bbbo-item-footer {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  padding: 5px 15px;
}
.bbbo-item-footer h3 {
  color: white;
  font-size: 17px;
  line-height: 24px;
}
.bbbo-item-footer h4 {
  font-size: 14px;
  line-height: 24px;
  color: white;
}
.bbc-msyy {
  position: absolute;
  bottom: 10px;
  left: 15px;
  display: inline-block;
  width: initial;
  border-radius: 17px;
  line-height: 34px;
  height: 34px;
  padding: 0 15px;
  font-size: 14px;
}
.body-building .bbb-two {
  display: block;
}
.body-building-first .bbb-one {
  display: block;
}
.body-building-first .bbb-two {
  display: none;
}
.bbb-two .bbbo-item-header {
  background-image: url(../images/bb_Weight_icon@2x.png);
  color: white;
}
.bbb-two .bbbo-item-footer h3,
.bbb-two .bbbo-item-footer h4 {
  color: white;
}
.bbbt-item {
  position: relative;
  padding: 10px 10px 10px 75px;
  background-size: 40px 40px;
  background-position: 20px 15px;
  background-repeat: no-repeat;
  background-image: url(../images/bb_wait_for_icon@2x.png);
}
.bbbt-item h5 {
  font-size: 16px;
  color: #908EA5;
  line-height: 24px;
}
.bbbt-item p {
  font-size: 14px;
  color: #B0AEBD;
  line-height: 24px;
}
.bbbt-item-waiting {
  background-image: url(../images/bb_wait_for_icon@2x.png);
}
.bbbt-item-waiting h5 {
  color: #020202;
}
.bbbt-item-old {
  background-image: url(../images/bb_overdue_icon@2x.png);
}
.bbbt-item-ok {
  background-image: url(../images/bb_ok_circular@2x.png);
}
.body-building-reserve {
  position: relative;
  padding: 0 20px;
}
.bbrh-ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.bbrh-ul li {
  width: 32%;
  color: #585760;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
}
.bbrh-ul .bbrh-li-click {
  border-radius: 20px;
  background-color: #F5F5F5;
}
.bbrb-list {
  display: none;
}
.body-building-reserve .bbrb-list-hover {
  display: block;
}
.bbrb-item {
  position: relative;
  display: flex;
  height: 80px;
}
.bbrb-item:last-child .bbrb-item-left,
.bbrb-item:last-child .bbrb-item-right {
  height: 100%;
  border-bottom: 1px solid #F0EFF8;
}
.bbrb-item-left,
.bbrb-item-right {
  position: relative;
  height: 100%;
  border-top: 1px solid #F0EFF8;
  overflow: hidden;
}
.bbrb-item-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 22%;
}
.bbrb-item-left p {
  font-size: 14px;
  color: #B0AEBD;
  line-height: 32px;
  padding-left: 15px;
}
.bbrb-item-right {
  border-left: 1px solid #F0EFF8;
  display: flex;
  justify-content: space-between;
  width: 78%;
}
.bbrb-item-right h3 {
  padding-left: 20px;
  color: #747474;
  font-size: 15px;
}
.bbrb-item-right a {
  color: #E91A0E;
  font-size: 14px;
}
.bbrb-item-right h3,
.bbrb-item-right a {
  line-height: 80px;
}
.bbrb-item-ok .bbrb-item-right:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  content: " ";
  font-size: 1px;
  color: transparent;
  width: 7px;
  height: 100%;
  background-color: #F4C6C3;
}
.bbrb-item-ok img {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.bbrb-item-ok .bbrb-item-right {
  justify-content: flex-start;
  padding-left: 60px;
}
.bbrb-item-ok .bbrb-item-right p {
  line-height: 80px;
  color: #020202;
  font-size: 15px;
}
.body-building-reserve-order {
  background-color: white;
}
.bbro-body {
  padding: 0 20px;
}
.bbro-table {
  width: 100%;
}
.bbro-table td {
  vertical-align: middle;
  line-height: 70px;
}
.bbro-table td:first-child,
.bbro-div-one h3 {
  color: #010101;
  font-size: 17px;
  line-height: 70px;
}
.bbro-table td:nth-child(2) {
  text-align: right;
}
.bbro-div-one {
  display: flex;
  justify-content: space-between;
}
.bbro-div-one h4 {
  line-height: 70px;
  font-size: 17px;
  color: #FF0000;
}
.bbro-ul-time {
  display: flex;
  justify-content: space-between;
}
.bbro-ul-time li {
  width: 19.6%;
  margin: 0;
  background-color: #F5F5F5;
  line-height: 34px;
  text-align: center;
  color: #646464;
}
.bbro-ul-time li:first-child {
  border-radius: 6px 0 0 6px;
}
.bbro-ul-time li:last-child {
  border-radius: 0 6px 6px 0;
}
.bbro-ul-time .bbro-li-hover {
  background-color: #FF9645;
  color: white;
}
.bbro-a {
  display: block;
  color: #646464;
  font-size: 17px;
  line-height: 70px;
  background-size: 10px 16px;
  background-image: url(../images/arrow@2x.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}
.bbro-td-01 {
  color: #646464;
  font-size: 15px;
}
.bbro-td-04,
.bbro-td-02 {
  color: #969696;
  font-size: 17px;
}
.bbro-td-02 span {
  display: inline-block;
  margin-left: 8px;
  color: #FF0000;
}
.bbro-footer {
  position: relative;
  padding-top: 120px;
  text-align: center;
}
.bbro-btn-qdyy {
  color: white;
  line-height: 46px;
  border: none;
  border-radius: 23px;
  font-size: 18px;
  width: 90%;
}
.bbro-ts {
  position: absolute;
  left: 0;
  top: 50px;
  font-size: 14px;
  color: red;
  line-height: 30px;
  width: 100%;
  text-align: center;
}
.bbro-btn-start,
.bbro-btn-end {
  vertical-align: middle;
  background-color: #F5F5F5;
  color: #969696;
  border: none;
  font-size: 17px;
}
.mui-toast-container {
  bottom: 50% !important;
}
.mui-toast-message {
  background: url(../images/me-safe-icon@2x.png) no-repeat center 30px #000;
  background-size: 39px 39px;
  opacity: 0.9;
  color: #fff;
  width: 180px;
  font-size: 15px;
  padding: 100px 5px 20px 5px;
}
.bbro-toast {
  color: white;
}
#toastBtn {
  display: none;
}
.body-building-reserve-me {
  position: relative;
  padding: 15px 20px;
}
.bbrm-body {
  margin-top: 10px;
}
.bbrm-card {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #F5F5F5;
  box-shadow: 0 0 8px #F5F5F5;
  background-color: white;
}
.bbrm-card h1 {
  color: #373737;
  font-size: 19px;
  line-height: 36px;
  text-align: center;
}
.bbrm-table-01 {
  width: 100%;
}
.bbrm-table-01 td {
  text-align: center;
}
.bbrm-table-01 tr:nth-child(2) td {
  color: #686868;
  line-height: 28px;
  font-size: 13px;
}
.bbrm-table-01 tr:first-child td {
  color: #000000;
  font-size: 24px;
  line-height: 32px;
}
.bbrm-table-01 tr:first-child .bbrm-middle-div {
  position: relative;
  font-size: 15px;
  color: #646464;
  width: 100px;
  padding-top: 15px;
}
.bbrm-table-01 .bbrm-middle-div:before {
  position: absolute;
  content: " ";
  color: transparent;
  width: 100%;
  height: 1px;
  top: 15px;
  left: 0;
  background-color: #E0E0E0;
}
.bbrm-table-01 .bbrm-middle-div:after {
  position: absolute;
  content: " ";
  color: transparent;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 15px;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  background-color: #E0E0E0;
}
.body-building-reserve-me .ftmc-line:before,
.body-building-reserve-me .ftmc-line:after {
  background-color: white;
}
.bbrm-table-02 {
  width: 78%;
  margin: 0 auto;
}
.bbrm-table-02 td {
  line-height: 24px;
  padding: 10px 0;
}
.bbrm-table-02 tr td:first-child {
  color: #646464;
  font-size: 15px;
  text-align: left;
}
.bbrm-table-02 tr td:last-child {
  color: #646464;
  font-size: 15px;
  color: #202020;
  text-align: right;
}
.bbrm-table-02 tr:last-child td:last-child {
  color: #FF0101;
  font-size: 15px;
}
.bbrm-footer {
  position: relative;
  padding-top: 80px;
}
.bbrm-footer p {
  color: #646464;
  padding: 10px 0;
  text-align: center;
}
.bbr-btn-share {
  background-size: 21px 21px;
  background-image: url(../images/bbr-share-icon-current@2x.png);
}
.body-building-run {
  position: relative;
}
.bbr-body {
  padding: 20px;
}
.bbrc-time-div {
  position: relative;
  margin-top: 60px;
  padding-top: 20px;
}
.bbrc-music {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/bbr-music@2x.png);
}
.bbrc-time {
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  text-align: center;
}
.bbrc-time-div p {
  font-size: 16px;
  color: #979797;
  text-align: center;
}
.bbr-table {
  margin-top: 60px;
  width: 100%;
}
.bbr-table td {
  text-align: center;
  padding: 4px 0;
  color: #474747;
  font-size: 15px;
}
.bbr-table tr:first-child td {
  font-size: 29px;
  line-height: 32px;
}
.bbrf-btn-tqjs {
  margin: 80px 0 30px 0;
  display: block;
  width: 100%;
  color: #FF0000;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}
.bbrf-btn-more {
  display: block;
  font-size: 15px;
  color: #363636;
  line-height: 32px;
  text-align: center;
}
.bbt-body {
  padding: 20px;
}
.bbt-body h2 {
  color: #343434;
  font-size: 17px;
  line-height: 50px;
  font-weight: bold;
}
.bbf-content {
  color: #969696;
  font-size: 17px;
  text-indent: 2em;
  line-height: 28px;
  margin-bottom: 30px;
}
.bbt-body {
  position: relative;
  padding: 20px;
}
.bbt-swiper-container {
  margin-right: -20px;
}
.bbt-swiper-container img {
  display: block;
  width: 100%;
}
.bbt-swiper-container h3 {
  margin-top: 5px;
  color: #333333;
  font-size: 17px;
  line-height: 32px;
  font-weight: bold;
}
.bbt-swiper-container h3 span {
  font-weight: 100;
  font-size: 14px;
  transform: scale(0.8);
}
.bbt-swiper-container h4 {
  font-size: 13px;
  color: #676767;
  line-height: 24px;
}
.bbt-swiper-content {
  position: relative;
  padding: 0 15px;
}
.cmb-item-footer {
  margin: 10px 0;
}
.bbt-btn-msyy {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  width: auto;
  padding: 0 20px;
}
@media screen and (max-width: 360px) {
  .bbt-swiper-content {
    padding: 0;
  }
  .bbt-btn-msyy {
    right: 0;
  }
  .bbtb-order-item {
    padding-left: 90px;
  }
  .bbtb-order-item img {
    width: 120px;
    height: 78px;
  }
}
.bbtb-map {
  position: relative;
}
.bbtb-map h2 {
  color: #323232;
  font-size: 17px;
  line-height: 40px;
  padding-left: 30px;
  font-weight: bold;
}
.bbtb-map p {
  color: #666666;
  font-size: 15px;
  line-height: 24px;
}
.bbtb-btn-position-big {
  position: absolute;
  right: 0;
  top: -40px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-image: url(../images/gym/gym-iconlocation@3x.png);
  background-size: 100% 100%;
}
.bbtb-btn-position-small {
  position: absolute;
  left: 0;
  top: 6px;
  width: 21px;
  height: 26px;
  background-repeat: no-repeat;
  background-image: url(../images/gym/gym-address@3x.png);
  background-size: 100% 100%;
}
.bbtb-equipment {
  margin: 30px 0;
}
.bbtb-order {
  position: relative;
}
.bbtb-btn-tjyy {
  position: absolute;
  padding-left: 30px;
  right: 0;
  top: 0px;
  color: #999999;
  font-size: 14px;
  line-height: 50px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-image: url(../images/gym/gym-make@3x.png);
  background-position: left center;
}
.bbtb-order-item,
.bbtb-order-item-no {
  position: relative;
  padding-left: 152px;
  min-height: 100px;
  margin-bottom: 20px;
}
.bbtb-order-item img,
.bbtb-order-item-no img {
  position: absolute;
  left: 0;
  top: 5px;
  width: 140px;
  height: 90px;
}
.bbtb-order-item h2,
.bbtb-order-item-no h2 {
  color: #323232;
  font-size: 16px;
  line-height: 28px;
}
.bbtb-order-item h3,
.bbtb-order-item-no h3 {
  color: #323232;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 5px 0;
}
.bbtb-order-item .bbtb-btn-type,
.bbtb-order-item-no .bbtb-btn-type {
  margin-top: 5px;
  display: inline-block;
  line-height: 26px;
  border-radius: 13px;
  padding: 0 20px;
  font-size: 14px;
  color: white;
  background-color: #18D09A;
}
.bbtb-order-item-ok h2,
.bbtb-order-item-ok h3 {
  color: #999999;
}
.bbtb-order-item-ok .bbtb-btn-type {
  background-color: #DFDFDF;
}
.bbrtb-item-right img {
  width: 20px;
}
.body-building-reserve-two {
  padding: 10px 20px;
}
.bbrt-header {
  background-color: white;
  margin-top: 10px;
  padding: 5px 12px;
}
.bbrt-header h5 {
  color: #585760;
  font-size: 12px;
  line-height: 32px;
}
.bbrth-ul {
  display: flex;
  justify-content: space-between;
}
.bbrth-ul li {
  cursor: pointer;
}
.bbrth-ul li h2,
.bbrth-ul li h3 {
  text-align: center;
}
.bbrth-ul li h2 {
  color: #8E8E8E;
  font-size: 13px;
  line-height: 50px;
}
.bbrth-ul li h3 {
  color: #323232;
  font-size: 17px;
  line-height: 32px;
  font-weight: bold;
  width: 32px;
}
.bbrth-ul .bbrth-li-click h3 {
  background-color: #FF9645;
  border-radius: 50%;
  color: white;
}
.bbrtb-list {
  display: none;
}
.bbrtb-list-hover {
  display: block;
}
.bbrtb-list {
  padding: 10px 0;
}
.bbrtb-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding: 10px 100px 10px 80px ;
  margin-bottom: 15px;
  min-height: 74px;
}
.bbrtb-item .bbrtb-item-left {
  position: absolute;
  left: 0;
  width: 80px;
  top: 50%;
  margin-top: -20px;
}
.bbrtb-item .bbrtb-item-left p {
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #323232;
}
.bbrtb-item h3 {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  padding: 2px 0;
}
.bbrtb-item .bbrtb-btn-qyy {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  width: auto;
  padding: 0 15px;
  line-height: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 14px;
}
.bbrtb-item .cmb-item-footer {
  margin: 5px 0 0 0;
  flex-wrap: wrap;
}
.bbrtb-item-no .bbrtb-btn-qyy {
  background-color: #DEDEDE;
}
.bbro-btn-right {
  line-height: 70px;
  padding-right: 20px;
  font-size: 17px;
  color: #646464;
  border: none;
  background-color: transparent;
  background-image: url(../images/arrow@2x.png);
  background-size: 10px 16px;
  background-position: right center;
  background-repeat: no-repeat;
}
div.mui-dtpicker,
.mui-poppicker {
  background-color: white;
}
div.mui-poppicker-body {
  border-top: 1px solid transparent;
}
.mui-poppicker-header .mui-poppicker-btn-cancel {
  color: #646464;
  font-size: 17px;
  border: none;
}
.mui-poppicker-header .mui-poppicker-btn-ok {
  color: #FF8F29;
  font-size: 17px;
  border: none;
  background-color: transparent;
}
.mui-pciker-list li {
  color: #CCCCCC;
}
.mui-pciker-list,
.mui-pciker-rule {
  color: black;
}
