.chatContainer,
.chatContainer div,
.chatContainer ul,
.chatContainer li,
.chatContainer p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* 设置滚动条的样式 */

::-webkit-scrollbar {
  width: 5px;
}


/* 滚动槽 */

::-webkit-scrollbar-track {
  border-radius: 10px;
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(243, 243, 243);
  -webkit-box-shadow: rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(175, 190, 255, 0.4);
}


/*按钮样式*/

.btn-default-styles {
  outline: none;
  resize: none;
  border: none;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background: #bbb;
  color: #fff;
  border-radius: 4px;
}

.btn-default-styles:focus {
  outline: none;
}

.btn-default-styles:hover {
  background: #c5c5c5;
  animation: anniu 1s infinite;
}

.btn-default-styles:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2) inset;
}

.chatContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chatBtn {
  width: 50px;
  height: 50px;
  background: #01bef0;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #d4d4d4;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.chatBtn:hover {
  background: #01b3df;
  box-shadow: none;
}

.chatBtn>i {
  font-size: 25px;
}

.chatBox {
  width: 370px;
  min-width: 320px;
  height: 570px;
  border-radius: 10px;
  background: #f5ecff;
  position: absolute;
  bottom: 0;
  right: 70px;
  overflow: hidden;
  border: solid 1px #d5d5d5;
  box-shadow: 1px 1px 2px #c0c0c0;
  z-index: 1005;
}

.chatBox-head {
  width: 100%;
  height: 75px;
  background: #01aee0;
  position: absolute;
  top: 0;
  left: 0;
}

.chatBox-head-one {
  width: 100%;
  height: 75px;
  line-height: 75px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.chatBox-head-two {
  width: 100%;
  height: 75px;
  color: #fff;
  padding: 10px 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.chat-return {
  float: left;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.chat-return:hover {
  background: #0188b7;
}

.chat-close {
  float: right;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.chat-close:hover {
  background: #0188b7;
}

.chat-people {
  float: left;
}

.chat-people>div {
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  line-height: 55px;
  margin-left: 5px;
}

.chat-people>div:nth-of-type(1) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
}

.chat-people>div:nth-of-type(1)>img {
  width: 50px;
  height: 50px;
}

.chat-people>div:nth-of-type(2) {
  width: 165px;
  text-align: left;
  height: 55px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chatBox-info {
  width: 100%;
  height: 495px;
  background: #fff;
  text-align: left;
  position: absolute;
  top: 75px;
  left: 0;
}

.chatBox-list {
  width: 100%;
  height: 495px;
  overflow-y: scroll;
}

.chat-list-people:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.chat-list-people>div {
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.chat-list-people>div:nth-of-type(1) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
}

.chat-list-people>div:nth-of-type(1)>img {
  width: 40px;
  height: 40px;
}

.chat-name {
  width: 230px;
}

.chat-name>p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-name>p:nth-of-type(1) {
  line-height: 55px;
}

.chat-list-people>div.message-num {
  display: inline-block;
  height: auto;
  min-width: 10px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 14px;
  color: #fff;
  background: #f46266;
  float: right;
}

.chat-message-num {
  display: inline-block;
  height: auto;
  min-width: 10px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 14px;
  color: #fff;
  background: #f46266;
  position: absolute;
  bottom: 40px;
  right: -24px;
}

.chatBox-kuang {
  width: 100%;
  height: 495px;
  display: none;
}

.chatBox-content {
  width: 100%;
}

.chatBox-content-demo {
  width: 100%;
  overflow-y: scroll;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1;
  margin: 10px 10px;
}

.clearfloat .right {
  float: right;
}

.author-name {
  text-align: center;
  margin: 15px 0 5px 0;
  color: #888;
}

.clearfloat .chat-message {
  max-width: 252px;
  text-align: left;
  padding: 8px 12px;
  border-radius: 6px;
  word-wrap: break-word;
  display: inline-block;
  position: relative;
}

.clearfloat .left .chat-message {
  background: #D9D9D9;
  min-height: 36px;
}

.clearfloat .left .chat-message:before {
  position: absolute;
  content: "";
  top: 8px;
  left: -6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #D9D9D9;
}

.clearfloat .right {
  text-align: right;
}

.clearfloat .right .chat-message {
  background: #FF9645;
  color: #fff;
  text-align: left;
  min-height: 36px;
}

.clearfloat .right .chat-message:before {
  position: absolute;
  content: "";
  top: 8px;
  right: -6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FF9645;
}

.clearfloat .chat-avatars {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eee;
  vertical-align: top;
  overflow: hidden;
}

.clearfloat .chat-avatars>img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.clearfloat .left .chat-avatars {
  margin-right: 10px;
}

.clearfloat .right .chat-avatars {
  margin-left: 10px;
}

.chatBox-send {
  width: 100%;
  padding: 10px 5px;
  background: #eee;
  border-top: 1px #D0D0D0 solid;
  position: absolute;
  bottom: 0;
  left: 0;
}

.div-textarea {
  width: 260px;
  min-height: 20px;
  max-height: 100px;
  _height: 120px;
  padding: 3px;
  outline: 0;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  user-modify: read-write-plaintext-only;
  /*纯文本*/
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
}


/*.div-textarea:focus{
    box-shadow: 0 0 15px rgba(82, 168, 236, 0.6);
}*/

.chatBox-send>div {
  float: left;
}

.chatBox-send>div:nth-of-type(2) {
  font-size: 0;
}

.chatBox-send>div button {
  padding: 1px 5px;
  margin-left: 3px;
}

.chatBox-send>div label {
  padding: 1px 5px;
  margin-left: 3px;
}

#chat-biaoqing {
  position: relative;
}

.hidden {
  display: none;
}

.biaoqing-photo {
  width: 200px;
  height: 160px;
  background: #ffffff;
  position: absolute;
  top: -160px;
  right: 40px;
  text-align: left;
  border-radius: 5px;
  border: solid 1px #c5c5c5;
  display: none;
}

.biaoqing-photo::before {
  content: '';
  position: absolute;
  border-top: solid 7px #c5c5c5;
  border-left: solid 9px transparent;
  border-right: solid 9px transparent;
  bottom: -7px;
  right: 36px;
}

.biaoqing-photo::after {
  content: '';
  position: absolute;
  border-top: solid 7px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  bottom: -5px;
  right: 35px;
}

.biaoqing-photo>ul {
  margin: 0;
  width: 200px;
  height: 160px;
  padding: 3px 2px;
  list-style: none;
}

.biaoqing-photo>ul>li {
  float: left;
  height: 30px;
  margin-left: 2px;
}

.emoji-picker-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/bqxtb01.png) no-repeat;
  background-size: 200px auto;
  cursor: pointer;
}

.biaoqing-photo>ul>li span.emoji-picker-image:hover {
  border: solid 1px #f5f5f5;
}

.chat-message img {
  width: 220px;
  height: auto;
}

@media all and (max-width: 768px) {
  .chatBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media all and (max-width: 370px) {
  .chat-name {
    width: 185px;
  }
  .chat-people>div:nth-of-type(2) {
    width: 120px;
  }
  .clearfloat .chat-message {
    max-width: 240px;
  }
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: #FFFFFF
}

footer,
#footer {
  position: fixed;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-top: solid 1px #bbb;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 0px 70px 0 8px;
  z-index: 9999;
  /*padding: 0px 70px 0 50px;*/
  background-color: #FFFFFF;
}

#footer {
  position: absolute;
}

header {
  background-color: #FFFFFF !important;
  box-shadow: none !important;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
  color: #000000;
}

.footer-left {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  padding: 12px 4px;
}

.footer-right {
  position: absolute;
  width: 70px;
  height: 50px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  padding: 12px 5px;
  display: inline-block;
}

.footer-center {
  height: 100%;
  padding: 5px 0px;
}

.footer-center [class*=input] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.footer-center .input-text {
  background: #fff;
  border: solid 1px #ddd;
  padding: 10px !important;
  font-size: 16px !important;
  line-height: 18px !important;
  overflow: hidden;
}

.footer-center .input-sound {
  background-color: #eee;
}

.mui-content {
  height: 100%;
  /*padding: 114px 0px 50px 0px!important;*/
  padding: 120px 10px 50px 10px!important;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

#msg-list {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.msg-item {
  padding: 8px;
  clear: both;
}

.msg-item .mui-item-clear {
  clear: both;
}

.msg-item .msg-user {
  width: 38px;
  height: 38px;
  border: solid 1px #d3d3d3;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  float: left;
  padding: 3px;
  color: #ddd;
}

.msg-item .msg-user-img {
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  float: left;
  color: #ddd;
}

.msg-item .msg-content {
  display: inline-block;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: #303030;
  padding: 8px;
  vertical-align: top;
  font-size: 15px;
  position: relative;
  margin: 0px 8px;
  max-width: 75%;
  min-width: 35px;
  float: left;
}

.msg-item .msg-content .msg-content-inner {
  overflow-x: hidden;
}

.msg-item .msg-content .msg-content-arrow {
  position: absolute;
  border: solid 1px #d3d3d3;
  border-right: none;
  border-top: none;
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  left: -5px;
  top: 12px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  display: none;
}

.msg-item-self .msg-user,
.msg-item-self .msg-content {
  float: right;
}

.msg-item-self .msg-content .msg-content-arrow {
  left: auto;
  right: -5px;
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}

.msg-item-self .msg-content,
.msg-item-self .msg-content .msg-content-arrow {
  background-color: #879EDF;
  color: #fff;
  border-color: #2AC845;
}

footer .mui-icon {
  color: #000;
}

footer .mui-icon:active {
  color: #007AFF !important;
}

footer .mui-icon-paperplane:before {
  content: "发送";
}

footer .mui-icon-paperplane {
  /*-webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);*/
  font-size: 16px;
  word-break: keep-all;
  line-height: 100%;
  padding-top: 6px;
  color: rgba(0, 135, 250, 1);
}

#msg-sound {
  -webkit-user-select: none !important;
  user-select: none !important;
}

.rprogress {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-left: -70px;
  margin-top: -70px;
  background-image: url(../images/arecord.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: none;
  -webkit-transition: .15s;
}

.rschedule {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 46px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -23px;
  margin-top: -23px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.r-sigh {
  display: none;
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 46px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -23px;
  margin-top: -23px;
  text-align: center;
  line-height: 46px;
  font-size: 40px;
  font-weight: bold;
  color: #2187e7;
}

.rprogress-sigh {
  background-image: none !important;
}

.rprogress-sigh .rschedule {
  display: none !important;
}

.rprogress-sigh .r-sigh {
  display: block !important;
}

.rsalert {
  font-size: 12px;
  color: #bbb;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  width: 130px;
  margin: 5px 5px;
  padding: 5px;
  left: 0px;
  bottom: 0px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#h {
  background: #fff;
  border: solid 1px #ddd;
  padding: 10px !important;
  font-size: 16px !important;
  line-height: 18px !important;
  overflow: visible;
  position: absolute;
  left: -1000px;
  right: 0px;
  word-break: break-all;
  word-wrap: break-word;
}

.cancel {
  background-color: darkred;
}

.chat-btn-fs {
  line-height: 28px;
  padding-top: 0;
  padding-bottom: 0;
}

.ch-ul {
  display: flex;
  justify-content: space-between;
}

.ch-ul li {
  padding-top: 40px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  line-height: 24px;
  color: #646464;
  min-width: 50px;
}

.chat-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  padding: 10px 15px 5px 15px;
  z-index: 999;
  background-color: white;
}

.ch-li-repair {
  background-image: url(../images/chat/chat-Repair@3x.png);
}

.ch-li-water {
  background-image: url(../images/chat/chat-water@3x.png);
}

.ch-li-money {
  background-image: url(../images/chat/chat-money@3x.png);
}

.ch-li-call {
  background-image: url(../images/chat/chat-Complaint-ivon@3x.png);
}

.ch-li-complaint {
  background-image: url(../images/chat/chat-Complaint@3x.png);
}

.mui-bar {
  height: 70px;
}

.chat-div {
  position: relative;
  height: 100%;
}
.chat-type-div{
  display: inline-block;
  background-color: #F5F5F5;
  line-height: 20px;
  border-radius: 10px;
  padding: 0 15px;
}
