.me-index {
  padding: 0px 20px 0 20px;
  background-color: white;
}
.me-index .mi-top {
  height: 90px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 20px 0 20px;
  margin: 0 -20px;
  background: -webkit-gradient(linear, 0 100%, 0 0, from(#fd933d), to(#fe6026));
  background: -webkit-linear-gradient(90deg, #fd933d, #fe6026);
  background: -moz-linear-gradient(90deg, #fd933d, #fe6026);
  background: -o-linear-gradient(90deg, #fd933d, #fe6026);
  background: linear-gradient(90deg, #fd933d, #fe6026);
  /* 标准的语法 */
}
.me-index .mi-top .mit-news,
.me-index .mi-top .mit-setting {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}
.me-index .mi-top .mit-news {
  background-image: url(../images/two/notice@3x.png);
}
.me-index .mi-top .mit-setting {
  margin: 0 -5px 0 5px;
  background-image: url(../images/two/settiing-icon@3x.png);
}
.me-index .mi-header {
  position: relative;
  padding-left: 0;
  padding-top: 35px;
  min-height: 70px;
}
.me-index .mi-header .mih-img {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border: 1px solid #F5F5F5;
  border-radius: 50%;
}
.me-index .mi-header h1 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  height: 30px;
  overflow: hidden;
  font-weight: bold;
}
.me-index .mi-header p {
  font-size: 13px;
  line-height: 24px;
  color: #686868;
  overflow: hidden;
  height: 24px;
}
.me-index .mi-body {
  position: relative;
  padding-top: 10px;
}
.me-index .mi-body .mib-btn-face {
  width: 150px;
  height: 25px;
  margin-bottom: 15px;
  background-color: transparent;
  line-height: 25px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: white;
  border-radius: 6px 6px 0 0;
  letter-spacing: 2px;
  background-image: url(../images/two/Face_btn@3x.png);
  background-size: 100% 100%;
  color: transparent;
}
.me-index .mi-body .mib-btn-face img {
  position: relative;
  display: none;
  top: 5px;
  height: 29px;
  width: 29px;
  margin-right: 5px;
}
.me-index .mi-body .mib-list {
  position: relative;
}
.me-index .mi-body .mibl-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 20px 0 40px;
  border-bottom: 1px solid #F5F5F5;
  background-image: url(../images/arrow@2x.png);
  background-size: 8px 15px;
  background-repeat: no-repeat;
  background-position: right center;
}
.me-index .mi-body .mibl-item h2 {
  font-size: 17px;
  color: #010101;
  line-height: 60px;
}
.me-index .mi-body .mibl-item .mi-active-number {
  font-size: 17px;
  color: #646464;
}
.me-index .mi-body .mibl-item:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -13px;
  content: " ";
  font-size: 1px;
  color: transparent;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.me-index .mi-body .mibl-item-02:before {
  background-image: url(../images/two/me-Mobile-icon@3x.png);
}
.me-index .mi-body .mibl-item-03:before {
  background-image: url(../images/two/me-Face-icon@3x.png);
}
.me-index .mi-body .mibl-item-04:before {
  background-image: url(../images/two/me-privacy-icon@3x.png);
}
.me-index .mi-body .mibl-item-05:before {
  background-image: url(../images/two/me-about-icon@3x.png);
}
.me-index .mi-line-15 {
  background-color: #F8F8F8;
  height: 15px;
  margin: 0 -20px;
}
.me-setting .mi-body {
  padding: 0;
}
.me-setting .mib-list .mibl-item:last-child {
  border-bottom: 1px solid #F5F5F5;
}
.me-setting .mib-list .mes-item-02 {
  border-bottom: 1px solid transparent!important;
}
.me-setting .mib-list .mes-item {
  background-color: white;
  padding-left: 0;
}
.me-setting .mib-list .mes-item p {
  color: #6D6E8D;
  font-size: 17px;
}
.me-setting .mib-list .mes-item:before {
  display: none;
}
.me-setting .mes-user-setting {
  position: relative;
  top: 15px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.me-setting .mes-line {
  background-color: #F5F5F5;
  margin: 0 -20px;
  height: 30px;
}
.me-setting .msf-btn-tcdl {
  display: block;
  width: 100%;
  font-size: 17px;
  color: #E91A0E;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}
.me-modify-password .mmp-body {
  padding: 15px;
}
.me-modify-password .mmp-body .mmp-input,
.me-modify-password .mmp-body h4,
.me-modify-password .mmp-body h5 {
  padding: 0 15px;
}
.me-modify-password .mmp-body .mmp-input {
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid transparent;
  background-color: #F8F8F8;
  font-size: 15px;
  color: #969696;
}
.me-modify-password .mmp-body h4 {
  font-size: 12px;
  color: #646464;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.me-modify-password .mmp-body h5 {
  color: #E91A0E;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  margin-bottom: 20px;
}
.me-modify-password .mmp-body .mmp-btn-qdxg {
  border-radius: 4px;
  display: block;
  background-color: #E91A0E;
  color: white;
  font-size: 17px;
  line-height: 48px;
  width: 100%;
  text-align: center;
}
.me-modify-result {
  padding-top: 20px;
}
.me-modify-result .mmo-title {
  padding: 100px 0 10px 0;
  font-size: 15px;
  text-align: center;
  background-image: url(../images/me-safe-icon@2x.png);
  background-repeat: no-repeat;
  background-size: 39px 39px;
  background-position: center;
  font-weight: bold;
}
.me-mofify-result-no .mmo-title {
  background-image: url(../images/bill_04.png);
}
.me-phone-choice {
  padding: 20px;
}
.me-phone-choice .mpc-body {
  padding-top: 20px;
}
.me-phone-choice .mpc-body .mpc-img {
  height: 39px;
  width: 39px;
  margin: 10px auto;
  background-image: url(../images/me-safe-icon@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.me-phone-choice .mpc-body h3 {
  font-size: 15px;
  line-height: 24px;
  padding: 10px 0;
  color: #000000;
  text-align: center;
}
.me-phone-choice .mpc-body .mpc-phone {
  margin: 20px auto;
  width: 90%;
  color: #2EBC6E;
  background-color: #F8F8F8;
  border-radius: 26px;
  padding: 10px 15px;
  line-height: 32px;
  text-align: center;
  font-size: 17px;
}
.me-phone-old {
  padding: 15px;
}
.me-phone-old .mpo-body .mpo-phone-div,
.me-phone-old .mpo-body .mpo-number-div {
  padding: 0 15px;
  background-color: #F8F8F8;
  border-radius: 4px;
  margin-bottom: 20px;
}
.me-phone-old .mpo-body .mpo-phone-div {
  display: flex;
}
.me-phone-old .mpo-body .mpo-phone-div h2 {
  width: 30%;
  font-size: 15px;
  color: #202020;
  line-height: 48px;
}
.me-phone-old .mpo-body .mpo-phone-div .mpo-input-phone {
  width: 69%;
  height: 48px;
  line-height: 48px;
  padding-right: 15px;
  color: #888888;
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin: 0;
}
.me-phone-old .mpo-body .mpo-input-yzm,
.me-phone-old .mpo-body .mpo-input-phone {
  padding: 0 15px 0 0;
}
.me-phone-old .mpo-body .mpo-number-div {
  display: flex;
  justify-content: space-between;
}
.me-phone-old .mpo-body .mpo-number-div .mpo-input-yzm {
  width: 69%;
  height: 48px;
  line-height: 48px;
  color: #888888;
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin: 0;
}
.me-phone-old .mpo-body .mpo-number-div .mpo-btn-hqyz {
  width: 30%;
  font-size: 15px;
  color: #202020;
  line-height: 48px;
  text-align: right;
}
.me-phone-old .mpo-body .mpo-warning {
  text-align: center;
  font-size: 12px;
  color: red;
  line-height: 32px;
  height: 32px;
  margin-top: -10px;
}
.me-phone-old .mpo-body .mpo-btn-qdxg {
  display: block;
  margin-top: 10px;
  background-color: #2EBC6E;
  color: white;
  font-size: 17px;
  line-height: 48px;
  text-align: center;
  border-radius: 4px;
}
.set_downtime {
  color: #020202!important;
}
.set_downtime span {
  display: inline-block;
  margin-left: 5px;
  color: #999!important;
}
.me-phone-modify .mpm-header {
  padding-top: 20px;
}
.me-phone-modify .mpm-header .mpm-img {
  display: block;
  margin: auto;
  width: 66px;
  height: 66px;
  background-image: url(../images/me-safe-icon_02@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.me-phone-modify .mpm-header p {
  font-size: 15px;
  line-height: 32px;
  color: #2EBC6E;
  text-align: center;
  margin: 10px 0 20px 0 ;
}
.me-phone-modify .mom-btn-question {
  display: block;
  text-align: center;
  line-height: 32px;
  margin-top: 40px;
  font-size: 15px;
  color: #223A6E;
}
.me-setting-info .msi-header {
  position: relative;
  padding: 10px;
}
.me-setting-info .msi-header .msi-img {
  display: block;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  margin: auto;
}
.me-setting-info .msi-header h1 {
  margin-top: 10px;
  color: #223A6E;
  font-size: 19px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  overflow: hidden;
}
.me-setting-info .msi-body {
  padding-top: 10px;
}
.me-setting-info .msi-body .msi-div {
  color: #686868;
  font-size: 15px;
  line-height: 24px;
  line-height: 50px;
}
.me-setting-info .msi-body .msi-item:before {
  display: none;
}
.me-setting-info .msi-body .msi-item {
  padding-left: 0;
}
.me-setting-info .msi-body .msi-item:last-child {
  border-bottom: 1px solid #E0E0E0;
}
.me-setting-info .msi-body .msi-item-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
  color: #6D6E8D;
}
.me-setting-info .msi-body .msi-item-right button {
  border: none;
  font-size: 17px;
  color: #6D6E8D;
  padding-right: 0;
}
.me-setting-info .msi-btn-tcdl {
  margin: 30px auto;
  height: 46px;
  line-height: 46px;
  width: 140px;
  text-align: center;
  border-radius: 23px;
  background-color: #F5F5F5;
  color: #E91A0E;
  font-size: 17px;
}
.me-setting-info .msi-item-05 {
  border: none!important;
  padding: 0!important;
}
.me-setting-info .msi-face-img {
  width: 60px;
  background-image: url(../images/friend-change-button1@3x.png);
  background-size: 60px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}
.me-setting-info .msi-face-img-hover {
  background-image: url(../images/friend-change-button1@3x-hover.png);
}
.me-error {
  padding: 20px;
}
.me-error .me-body {
  padding-top: 60px;
}
.me-error .me-body .meb-img {
  margin: auto;
  width: 167px;
  height: 100px;
  background-image: url(../images/me-error-images@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.me-error .me-body p {
  color: #303030;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  line-height: 28px;
}
.me-error .me-body .meb-btn-new {
  display: block;
  margin: 60px auto;
  width: 136px;
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  text-align: center;
  font-size: 16px;
  color: #011A54;
  border: 1px solid #E0E0E0;
  letter-spacing: 3px;
  font-weight: bold;
}
.me-new .mn-body-no {
  display: block;
  padding: 20px 0;
}
.me-new .mn-body-no .mn-img {
  width: 100%;
}
.me-new .mn-body-no h3 {
  margin-top: 20px;
  color: #969696;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
}
.me-new .mn-body-ok {
  display: none;
}
.me-new .mn-body-ok .mnb-list-div {
  padding-left: 80px;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item {
  position: relative;
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid #E0E0E0;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item .mnc-item-header {
  display: flex;
  justify-content: space-between;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h2 {
  font-size: 17px;
  color: #000000;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h4 {
  font-size: 13px;
  color: #969696;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item p {
  font-size: 14px;
  color: #686868;
  height: 24px;
  overflow: hidden;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h4,
.me-new .mn-body-ok .mnb-list-div .mnc-item h2,
.me-new .mn-body-ok .mnb-list-div .mnc-item p {
  line-height: 26px;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item:before {
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  content: " ";
  color: transparent;
  background-image: url(../images/me-notice-icon-icon@2x.png);
  background-size: 100% 100%;
  background-position: 0 center;
}
.me-new-more .mn-body-no {
  display: none;
}
.me-new-more .mn-body-ok {
  display: block;
}
.me-news-detail {
  padding: 20px;
}
.me-news-detail .mnd-content h1 {
  color: #969696;
  font-size: 21px;
  line-height: 32px;
  padding: 8px 0;
}
.me-news-detail .mnd-content h2 {
  color: #000000;
  font-size: 17px;
  line-height: 32px;
  padding: 8px 0;
}
.me-news-detail .mnd-content p {
  color: #646464;
  font-size: 15px;
  line-height: 28px;
  padding: 5px 0;
}
.me-news-detail img {
  width: 100%;
}
