.hdgz{
	padding: 20px 10px;
	background-color: white;
}
.hdgz h1{
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	color: black;
	font-weight: bold;
}
.hdgz h2{
	font-size: 14px;
	line-height: 24px;
	color: red;
	letter-spacing: 2px;
}
.hdgz p{
	font-size: 14px;
	line-height: 24px;
	color: #666666;
	letter-spacing: 2px;
}
.hdgz-btn{
	width: 60%;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	font-size: 16px;
	background-color: #CCCCCC;
	color: white;
	border: none;
	margin: 20px 0;
}
