.pq-show-first{
    padding: 40px 10px;
    text-align: center;
}
.pq-show-first p{
    font-size: 16px;
    color: #7e100e;
    line-height: 26px;
}
.pq-body{
    background-image: url("../images/pq_index_02.jpg");
    background-size: 100% auto;
}
.pq-show-div{
    min-height: 200px;
    background-image: url("../images/pq_index_03.jpg");
    background-size: 100% auto;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding: 20px 10%;
    text-align: center;
}
.pq-input{
    display: block;
    width: 240px;
    height: 60px;
    margin: auto;
    background-image: url("../images/pq_index_04.png");
    background-size: 100% 100%;
    padding: 20px 20px 0 20px;
    font-size: 16px;
    color: #fef284;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: transparent;
    letter-spacing: 2px;
}
.pq-btn{
    display: block;
    margin: 15px auto;
    background-color: #cb2421;
    text-align: center;
    width: 240px;
    height: 38px;
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #6a0b0a;
    background-color: #cb2421;
    border-radius: 20px;
    color: #fef284;
    letter-spacing: 2px;
}
.pq-show-true
,.pq-show-false{
    border-radius: 20px;
    padding: 10px;
    background-color: #cb2421;
}
.pq-show-true h1{
    color: #6a0b0a;
    line-height: 40px;
    font-size: 18px;

}
.pq-show-true p
,.pq-show-false p{
    color: #f4c970;
    text-decoration:underline;
    line-height: 26px;
}
.pq-show-div>div{
    display: none;
}
.pq-show-div>.pq-active{
    display: block;
}