body {
  margin: 0;
  background-image: none;
  position: static;
  left: auto;
  width: 10rem;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#base {
  position: absolute;
  z-index: 0;
}
#u29_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.10666667rem;
}
#u29 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.10666667rem;
}
#u29_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u30_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.32rem;
}
#u30 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 1.10666667rem;
  width: 10rem;
  height: 1.32rem;
}
#u30_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u31_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 13.49333333rem;
}
#u31 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 2.42666667rem;
  width: 10rem;
  height: 13.49333333rem;
}
#u31_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u32 {
  border-width: 0;
  position: absolute;
  left: 1.45333333rem;
  top: 0.16rem;
  width: 6.66666667rem;
  height: 0.70666667rem;
}
#u32_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 6.66666667rem;
  height: 0.70666667rem;
  background-color: transparent;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 0.17333333rem;
  text-decoration: none;
  color: #000000;
  text-align: left;
  border-color: transparent;
  outline-style: none;
}
#u33_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 13.49333333rem;
}
#u33 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 15.92rem;
  width: 10rem;
  height: 13.49333333rem;
}
#u33_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u34_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.32rem;
  height: 1.14666667rem;
}
#u34 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.32rem;
  height: 1.14666667rem;
}
#u34_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}