@charset "UTF-8";


/* COLOR
============================== */
/* Bar pointer */
.color-pointer {
	background-image: url(../../media/pointer-yellow.png);
}

/* Bar color */
.color-bar {
	background-image: url(../../media/bar-yellow.png);
}

/* Loader bar color */
#jpreBar {
	background: url(../../media/bar-yellow.png);
}