<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<!-- 使用最新的ie内核渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 移动设备优先, 禁止缩放 -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">
	<!-- 国产浏览器(360)使用webkit内核 -->
	<meta name="renderer" content="webkit">
	<!-- 禁止识别为手机号码 -->
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/vant.css" />
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<title>展品</title>
	<style type="text/css">
		.xwxq{
			position: relative;
		}
		#app{
			padding-top: 1rem;
			padding-bottom: 0;
			background-color: #1A285C;
		}
		.public-header-title{
			background-color: transparent;
		}
		.phtc-fenxiang{
			right: 0;
		}
		.xwxq-body{
			position: relative;
			padding: 0 .3rem 0 .3rem;
			border-radius: .67rem .67rem 0 0;
		}
		.sxzp-body{
			position: relative;
		}
		#app *{
			color: white;
		}
		.zp-search{
			display: block;
			width: 100%;
			margin-bottom: .3rem;
		}
		.index-ygz-list{
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.index-ygz-item img
		,.index-ygz-list:nth-child(odd) .index-ygz-item:nth-child(even) img
		,.index-ygz-list:nth-child(even) .index-ygz-item:nth-child(odd) img{
			height: 2.5rem;
		}
		.index-ygz-more{
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1rem;
		}
		.index-ygz-more img{
			width: .29rem;
			height: .29rem;
			margin-left: .1rem;
		}
		.index-ygz-item .van-image{
			height: 2.5rem;
			overflow: hidden;
			border-radius: .2rem;
		}

	</style>
</head>

<body>
	<div class="sczp xwxq" id="app" v-cloak>
		<div class="public-header-title">
			<div class="public-header-title-content">
				<div class="phtc-return" @click="public_return_page()"></div>
				<div class="phtc-title">展品</div>
				<div class="index-ygz-more" @click="showPopup">筛选<img src="images/shaixuan.png" alt=""></div>
				
			</div>
		</div>
		<div class="sczp-body xwxq-body">
			<img class="zp-search" @click="goPage('single_search_zp.html',{})" src="images/search-02.png" alt="">
			<div class="jjwb-fhlt-div">
				<div class="index-ygz-list">
					<div class="index-ygz-item" @click="goPage(goods.liveUrl,{})" v-for="(goods,index) in listGoods" :key="index">
						<!-- <img src="images/bg.png" alt=""> -->
						<van-image
							fit="contain"
							:src="goods.logo"
							><template v-slot:error>加载失败</template></van-image>
						<h3 class="van-ellipsis">{{goods.name}}</h3>
						<p class="van-ellipsis">{{goods.appHits}}人正在浏览</p>
					</div>
				</div>
			</div>
		</div>
		<van-popup class="zqsl-popup" v-model="show" position="right" :style="{ height: '100%',width:'86.6%' }">
			<van-collapse v-model="activeNames">
				<van-collapse-item title="分类" name="1">
					<div class="zqsl-sx-list zqsl-sx-hc">
						<div class="zqsl-sx-item" :class="index==activeHC?'zqsl-sx-item-click':''" @click="selectHC(index)" v-for="(item,index) in typeGoods" :key="index">
							{{item.label}}
						</div>
					</div>
				</van-collapse-item>
				<!-- <van-collapse-item title="品牌" name="2">
					<div class="zqsl-sx-list zqsl-sx-zq">
						<div class="zqsl-sx-item" :class="index==activeZQ?'zqsl-sx-item-click':''" @click="selectZQ(index)" v-for="index in 5" :key="index">
							品牌{{index}}
						</div>
					</div>
				</van-collapse-item> -->
			</van-collapse>
			<div class="zqsl-sx-list zqsl-btn-footer">
				<div class="zqsl-sx-item" @click="reset()">取消</div>
				<div class="zqsl-sx-item zqsl-sx-item-click" @click="selectQD()">确定</div>
			</div>
		</van-popup>
	</div>
	<script>

	</script>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/qs.js"></script>
	<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/axios_my.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vant.min.js"></script>

	<script type="text/javascript">
		$(function(){
			navHeader()
			$(window).scroll(function () {
				navHeader()
			})
		})
		// 引入qs
		var qs = Qs;
		var _obj = public_obj();
		 
		var app = new Vue({
			el: '#app',
			data: {
				activeNames: ['1','2'],
				value: 2,
				active: 3,
				show: false,
				activeHC:0,
				activeZQ:0,
				selectType:0, // 选择的类型
				formData:{ // 展商列表请求数组
					SkipCount:0,
					Position:[],
					ExhibitType:'',
					MaxResultCount:100,
				},
				listGoods: [], // 展品列表
				typeGoods: [], // 展品类型
				aa :'',
			},
			created: function () {
				var _this = this;
				// vant.Toast('提示看看');
				_this.selectType = parseInt(qs2obj(window.location.href).type) - 1;
				// 获取所有配置数据
				axios.get(_obj.shopUrl+'AbpUserConfiguration/GetAll?Position=01')
				.then(function (response) {
					// _this.items = response.data.result.custom.BCodes.ExhibitionArea;
					_this.typeGoods = response.data.result.custom.BCodes.ExhibitType;
					_this.aa = response.data.result.custom.BCodes.ExhibitionArea;
					// console.log('1122',aa)
					console.log('33222222111',_this.formData);
					// 获取展品
					_this.getGoods();

				})

				// // 获取展品
				// axios.get(_obj.shopUrl+'api/services/app/Exhibitor/GetCachePageList')
				// .then(function (response) {
				// 	console.log(response);
				// })
				// .catch(function (error) {
				// 	console.log(error);
				// });
			},
			mounted: function () {

			},
			methods: {
				// 获取展品
				getGoods(_type){
					var _this = this;
					_this.formData.ExhibitType = qs2obj(window.location.href).type;
					_this.formData.Position= [_this.aa[qs2obj(window.location.href).HC].value,_this.aa[qs2obj(window.location.href).HC].children[qs2obj(window.location.href).ZQ].value]
					if(_type?true:false&_type<10){
						_type = '0' + _type
					}
					_type?_this.formData.ExhibitType=_type:'';
					axios.get(_obj.shopUrl+'api/services/app/Exhibit/GetCachePageList?Status=1',{
						params:this.formData,
						paramsSerializer: function(params) {
							return qs.stringify(params, {arrayFormat: 'repeat'})
						}
					})
					.then(function (response) {
						_this.listGoods =  response.data.result.items;
					})
				},
				showPopup() {
					this.activeHC = this.selectType;
					this.show = true;
				},
				hidePopup() {
					this.show = false;
				},
				onClickLeft() {
					vant.Toast('返回');
				},
				onClickRight() {
					vant.Toast('按钮');
				},
				selectMulu(_index) {
					this.active = _index;
					vant.Toast(this.active)
					this.hidePopup()
				},
				selectHC(_index){
					// this.selectType = _index;
					this.activeHC = _index;
					// vant.Toast('会场'+_index)
				},
				selectZQ(_index){
					this.activeZQ = _index;
					// vant.Toast('展区'+_index)
				},
				selectQD(){
					this.selectType = this.activeHC;
					// vant.Toast(this.selectType)
					// 获取展品
					this.getGoods(this.selectType);
					// console.log(this.activeHC,this.activeZQ)
					this.hidePopup()
				},
				reset(){
					this.hidePopup();
					// this.activeHC = 1;
					// this.activeZQ = 1;
					// console.log('重置')
				}
			},

		})
	</script>
</body>

</html>