.cd-ul-01 li:first-child{
	width: 70%;
}
.cd-ul-01 li:nth-child(2){
	width: 30%;
}
.cb-btn-next
,.cb-btn-ok
,.snb-btn{
	background-color: #47b27c;
	border-radius: 20px;	
}
.cd-btn-hqyzm{
	color: #47b27c;
}
.btn-disable{
	color: red;
}
.forget-password-again{
	padding-top: 50px;
}
