.index-submit{
    padding-top: 40px;
}
.is-div-01{
    position:relative;
    margin: auto;
    background-image: url("../images/qs-03.png");
    background-size: 100% 100%;
    width:280px;
    height:228px;
    padding: 8px 30px;
    z-index: 999;
}
.is-div-02{
    position: relative;
    margin: -50px auto 0 auto;
    background-image: url("../images/qs-04.png");
    background-size: 100% 100%;
    width: 280px;
    height: 190px;
    padding: 20px 30px;
    z-index: 99;
}
.is-div-01 p
,.is-div-02 p{
    font-size: 14px;
    line-height: 30px;
}
.is-div-01 p{
    color: white;

}
.is-div-02 p{
    color: #f26159;
}
.is-body{
    padding: 20px 0;
}
.is-img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    z-index: 9999;
}
.is-btn-submit{
    display: none;
    margin-top: 10px;
}
.is-input{
    height: 90px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
    border:none;
    background-color: transparent;
    font-size: 14px;
    resize:none;
    text-align: left;
}
.is-input-question{
    color: white;
}
.is-input-advice{
    margin-top: -2px;
    color: #f26159;
}

.is-div-02{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}