// @import 'public.scss';
$public-color-01: #e60012;
$public-color-01-hover: #ba0000;
$public-bgColor-01: #f5f5f5;
$public-borderColor-01: #e0e0e0;
$public-fontColor-01: #333333;
.center-administrators
,body{
  .ca-two-div{
      display: none;
  }
  .ca-add-div{
    display: none;
  }
  .ca-add-div-hover{
    display: block
  }
  .abc-div-bg-left{
    float: left;
    width: 240px;
  }
  .abc-div-bg-right{
    float: left;
    text-align: center;
    margin-left: 10px;
    width: 90px;
  }
  .abc-div-bg-left
  ,.abc-div-bg-right{
    line-height: 30px;
    border: 1px solid $public-borderColor-01;
    padding: 0 10px;
    background-color: $public-bgColor-01;
  }
  .acc-list-modify{
    display: none;
  }
  .ac-top{
    position: relative;
    min-height: 120px;
    background-color: white;
    .ac-content-list{
      display: none;
    }
    .acc-list-modify{
      display: block;
    }
    .acc-list-look{
      display: none;
    }
  }
  .ca-xtxx-textatea
  ,.ca-xjkc-textarea{
    padding: 0 10px;
    width: 100%;
    line-height: 30px;
    height: 100px;
    resize: none;
  }
  .xtxx-table-01
  ,.xjkc-table
  ,.acc-table{
    width:100%;
    background-color: white;
    td:first-child{
      vertical-align: top;
      width: 94px;
      padding-right: 12px;
      text-align: right;
    }
    td{
      line-height: 36px;
      padding-left: 8px;
      padding-bottom: 8px;
    }
  }
  .ca-xtxx-setting
  ,.ca-xtxx-lsxx{
    background-color: #f7f7f7;
    margin-bottom: 10px;
  }
  .csbr-body-xxgl{
   padding: 15px;
  }
  .ca-xtxx-lsxx{
    padding: 15px;
    .info-footer{
      margin: 0 -15px;
    }
  }
  .ca-xjkc-ts{
    color: red;
  }
  .ca-xjkc-content{
    padding: 15px;
    background-color: #f7f7f7;
  }
  .ca-xjkc-ts{
    display: none;
  }
  .xjkc-table{
    margin-bottom: 10px;
  }
  .tcn-tmxq-number{
    display: inline-block;
    color: $public-color-01;
  }
  .ac-content-disable{
    opacity: 0.5;
  }
}
.acc-btn-tjkc-div{
  .abc-div-bg-left
  ,.abc-div-bg-right{
    padding: 0;
  }
  .abc-div-bg-left select
  ,.abc-div-bg-left option{
    width: 240px;
  }
}
.abc-div-bg-02{
  margin-bottom: 10px;
}
.ac-body{
    display: none;
}

.ac-body-hover{
    display: block;
}
.ac-content-list-modify{
    .acc-list-look
    ,.ac-btn-xgbj
    ,.ac-btn-scbj{
    display: none;
    }
    .acc-list-modify{
        display: block;
    }
}

.admin-class-modify{
    .ac-content{
        display: none;
    }
    .ac-content-list-modify
    ,.ac-content-modify{
        display: block;
    }
}
