.friend{
	padding: 0;
}
.f-btn-dz{
	border: none;
	background-color: transparent;
	width: 210px;
	height: 140px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.f-btn-ok{
	background-image: url(../images/dz-08.png);
}
.f-btn-no{
	background-image: url(../images/dz-07.png);
}
