
img{
	position: relative;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari å’Œ Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
}
