body					{ background: #ffffff; font: 11px "Trebuchet MS", Verdana, Arial, sans-serif; }
/*p 						{ padding-bottom:10px; position:absolute;bottom:5px; }
p a					{ text-decoration: none; outline: none; color:#d00000; }*/

#iconbar			{ margin-top:19px;}
#iconbar li			{
	float:left;
	position:relative;
	margin-right:10px;
	
	overflow:hidden;
}
#iconbar .bj{
	background:url(../../images/tel-bj.png) no-repeat;
}
#iconbar a {
	text-decoration: none;
	outline: none;
	color:#d00000;
	display: block;
	width: 31px;
	height:32px;
	cursor:pointer;
}
#iconbar span	{
	width: 140px;
	height: 30px;
	position: absolute;
	display: none;
	line-height:30px;
	padding-left: 10px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#767676;
}