fieldset,img{border:0 none;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
body{min-width:1000px;font:12px/1.5 tahoma,sans-serif;}
body{text-align:center; margin:0px;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline!important;}
.gg_full {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 100%;background:#150103; text-align:center; }
.gg_full .gg_fbtn {
	POSITION: absolute; WIDTH: 19px; DISPLAY: none; HEIGHT: 55px; TOP: 0; right: 23px; z-index:99999;
}
.gg_full .gg_fcon img{ width:100%;}
.gg_full .gg_fbtn A {
	DISPLAY: block; BACKGROUND: url(../images/gg_btn.png) no-repeat 0px 0px; HEIGHT: 55px; OVERFLOW: hidden
}
.gg_full .gg_fbtn .gg_fclose {
	BACKGROUND: url(../images/gg_btn.png) no-repeat -19px 0px
}
.gg_full .gg_fcon {
	DISPLAY: none; height:auto;
}