@charset "UTF-8";
/* 
  $public-color-01: 最常用的颜色
  $public-color-01-hover: 最常用的颜色激活效果
*/
/*子页面公用头*/
.ih-one {
  background-color: #ececed;
  padding-left: 20px;
}

.ih-one .ih-tilte {
  float: left;
  display: inline-block;
  color: #828282;
  height: 30px;
  line-height: 30px;
  background-image: url(../images/exam-04.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  padding-left: 20px;
  font-size: 14px;
}

/*公用底部*/
.index-footer {
  position: relative;
  border-top: 1px solid #e0f0f0;
  padding: 20px 15px 20px 100px;
  background-color: white;
}

.index-footer .title-img {
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -29px;
  width: 50px;
  height: 58px;
  background-image: url(../images/exam-01.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.index-footer h2 {
  color: #888888;
  line-height: 40px;
  font-size: 14px;
}

/*公用二维码*/
.index-gzh {
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: 570px;
  width: 150px;
  background-color: white;
  padding: 15px 20px 10px 15px;
}

.index-gzh .index-gzh-div {
  position: relative;
}

.index-gzh .index-gzh-div img {
  width: 100%;
}

.index-gzh .index-gzh-div p {
  padding-top: 5px;
  color: #888888;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}

.csbr-header .csbr-header-btn-xxxx {
  color: red;
}

.cs-body {
  position: relative;
  padding-left: 170px;
  background-color: white;
}

.cs-body .csb-left {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 130px;
}

.cs-body .csbl-nav-hover {
  background-color: #e60012;
}

.cs-body .csb-right .csbr-nav-xxgl-detail {
  display: none;
}

.cs-body .csb-right .csbr-body-list {
  position: relative;
  display: none;
}

.cs-body .csb-right .csbr-body-list-hover {
  display: block;
}

.cs-body .csb-right .csbr-a-red {
  position: relative;
  display: inline-block;
}

.cs-body .csb-right .csbr-a-red:after {
  position: absolute;
  right: -30px;
  top: 50%;
  height: 14px;
  width: 14px;
  content: ' ';
  margin-top: -7px;
  font-size: 1px;
  background-image: url(../images/cs-02.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cs-body .csb-right .csbr-a-red:hover {
  color: red;
}

.cs-body .csb-right .csbr-a-red:hover:after {
  background-image: url(../images/cs-02-hover.png);
}

.csbr-body {
  min-height: 600px;
}

.csbr-body-zxkt .zxkt-table {
  width: 100%;
}

.csbr-body-zxkt .progress-bar {
  background-color: #e60012;
}

.csbr-body-zxkt .zxkt-progress-bar-left
, .csbr-body-zxkt .progress
, .csbr-body-zxkt .zxkt-progress-bar-right {
  display: inline-block;
}

.csbr-body-zxkt .progress {
  width: 200px;
  margin-bottom: 0;
}

.csbr-body-xxgl .info-list-ok a {
  color: gray;
}

.csbr-body-xxgl .info-list-btn-div {
  display: inline-block;
  cursor: pointer;
  width: 54px;
  height: 14px;
  background-image: url(../images/xxgl-checkbox.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.csbr-body-xxgl .info-list-div-hover {
  background-image: url(../images/xxgl-checkbox-hover.png);
}

.csbr-body-xxgl .info-list-hover a {
  color: #e60012;
}

.csbr-body-xxgl .info-list-btn {
  /*display: none;*/
}

.csbr-body-xxgl .csbr-xxgl-detail {
  display: none;
}

.csbr-body-grzx .grzx-info {
  background-color: #f9f9fa;
}

.csbr-body-grzx .grzx-info .grzx-info-modify {
  display: none;
}

.csbr-body-grzx .grzx-user-img
, .csbr-body-grzx .grzx-user-img-modify {
  width: 76px;
  height: 76px;
  border-radius: 50%;
}

.csbr-body-grzx .grzx-info-warning {
  display: none;
  color: red;
}

.csbr-body-grzx .grzx-info-input-warning {
  border: 1px solid red;
}
