.center-teachers .teacher-course-new {
  display: none;
}

.center-teachers .ct-kcxx-number {
  color: #e60012;
}

.center-teachers .ctkcxx-nav li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

.center-teachers .ctkcxx-nav .ctkcxx-nav-hover {
  color: #e60012;
}

.center-teachers .ctkcxx-content-list {
  width: 32%;
  margin: 1% 1.2% 1% 0;
  float: left;
  border: 1px solid #ccc;
}

.center-teachers .ctkcxx-content-list-hover {
  border: 1px solid #e60012;
}

.center-teachers .abc-btn {
  display: none;
}

.center-teachers .tcn-btn-kcwc
, .center-teachers .tmzxzt-btn-xyb
, .center-teachers .tmzxcs-btn-xzwc {
  color: white;
  background-color: #e60012;
}

.center-teachers .tcn-p-ts {
  display: none;
  color: #e60012;
}

.center-teachers .ctktgl-btn-one:hover
, .center-teachers .ctktgl-btn-one-hover {
  color: #e60012;
}

.center-teachers .ct-two-div {
  display: none;
}

.center-teachers .ct-two-nav {
  display: none;
}

.center-teachers .cm-drkt-btn:hover {
  color: #e60012;
}

.center-teachers .ctzxdy-list-btn {
  float: right;
  color: #e60012;
}

.center-teachers .ctzxdy-list-left {
  float: left;
}
