// @import 'public.scss';
$public-color-01: #e60012;
$public-color-01-hover: #ba0000;
$public-bgColor-01: #f5f5f5;
$public-borderColor-01: #e0e0e0;
$public-fontColor-01: #333333;
.center-teachers{
    .teacher-course-new{
        display: none;
    }
    .ct-kcxx-number{
        color:$public-color-01;
    }
    .ctkcxx-nav{
        li{
            float: left; 
            margin-right: 15px;
            cursor: pointer;
        }
        .ctkcxx-nav-hover{
            color: $public-color-01;
        }
    }
    .ctkcxx-content-list{
        width: 32%;
        margin: 1% 1.2% 1% 0; 
        float: left;
        border: 1px solid #ccc;
    }
    .ctkcxx-content-list-hover{
        border: 1px solid $public-color-01;
    }
    .abc-btn{
        display: none;
    }
    .tcn-btn-kcwc
    ,.tmzxzt-btn-xyb
    ,.tmzxcs-btn-xzwc{
        color: white;
        background-color: $public-color-01;
    }
    .tcn-p-ts{
        display: none;
        color: $public-color-01;
    }
    .ct-two-div{
        display: none;
    }
    .ct-two-nav{
        display: none;
    }
}