/* 
  $public-color-01: 最常用的颜色
  $public-color-01-hover: 最常用的颜色激活效果
*/
$public-color-01: #e60012;
$public-color-01-hover: #ba0000;
$public-bgColor-01: #f5f5f5;
$public-borderColor-01: #e0e0e0;
$public-fontColor-01: #333333;
@mixin bg-all{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
/*子页面公用头*/
.ih-one{
  background-color: #ececed;
  padding-left: 20px;
  .ih-tilte{
    float: left;
    display: inline-block;
    color: #828282;
    height: 30px;
    line-height: 30px;
    background-image: url(../images/exam-04.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-left: 20px;
    font-size: 14px;
  }
}
/*公用底部*/
.index-footer{
  position: relative;
  border-top: 1px solid $public-borderColor-01;
  padding: 20px 15px 20px 100px;
  background-color: white;
  .title-img{
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -29px;
    width: 50px;
    height: 58px;
    background-image: url(../images/exam-01.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  h2{
    color: #888888;
    line-height: 40px;
    font-size: 14px;
  }
}
/*公用二维码*/
.index-gzh{
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: 570px;
  width: 150px;
  background-color: white;
  padding: 15px 20px 10px 15px;
  .index-gzh-div{
    position: relative;
    img{
      width: 100%;
    }
    p{
      padding-top: 5px;
      color: #888888;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
    }
  }
}

.cs-header-img{
  height: 124px;
  border-bottom: 2px solid #e0e0e0;
  background-image: url(../images/cs-01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.ca-header-img{
  background-image: url(../images/ca-01.jpg);
}
.ct-header-img{
  background-image: url(../images/ct-01.jpg);
}
.csbr-header
,#teacherCourseNew .ssb-nav{
  border-bottom: 1px solid $public-borderColor-01;
  padding-bottom: 5px;
  .csbr-header-btn-xxxx{
    color: $public-color-01;
  }
  .csbr-nav-xxgl{
    line-height: 28px;
  }
}
#teacherCourseNew .ssb-nav{
  position: relative;
}
.csbr-header-info{
  border: none;
  .csbr-nav-xxgl{
    background-color: #f5f5f5;
    padding: 0 8px;
  }
}
.cs-body{
  padding-right: 20px;
  position: relative;
  padding-left: 170px;
  background-color: white;
  .csbr-header{
    padding-top: 10px;
  }
  .csb-left{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 130px;
    height: 100%;
    border-right: 1px solid #f5f5f5;
  }
  .csbl-one{
    background-color: $public-bgColor-01;
    padding: 15px 8px;
    h1,p{
      color: $public-color-01;
      text-align: center;
    }
    h1{
      font-size: 50px;
      line-height: 60px;
    }
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .csbl-two{
    margin: 10px 0;
    p{
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  .csbl-nav{
    li{
      text-align: center;
      background-color: $public-bgColor-01;
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .csbl-nav-hover{
      color: white;
      background-color: $public-color-01;
    }
  }

  .csb-right{
    .csbr-nav-xxgl-detail{
      display: none;
    }
    .csbr-body-list{
      position: relative;
      display: none;
    }
    .csbr-body-list-hover{
      display: block;
    }
    
  }
}
.csbr-a-red{
      position: relative;
      display: inline-block;
      color: $public-fontColor-01;
}
.csbr-a-red:after{
      position: absolute;
      right: -20px;
      top: 50%;
      height: 14px;
      width: 14px;
      content: ' ';
      margin-top: -7px;
      font-size: 1px;
      background-image: url(../images/cs-02.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
}
.csbr-a-red:hover{
      color: red;
}
.csbr-a-red:hover:after{
      background-image: url(../images/cs-02-hover.png);
}
.csbr-body{
  min-height: 800px;
  padding-top: 5px;
}
.ctckxx-header{
  position: relative;
}
.csbr-body-zxkt>h1
,.csbr-body-grzx>h1
,.csbr-xxgl>h1
,.public-h1-01
,.cabr-body-xtxx>h1
,.techaer-course-new>h1
,.cabr-body-xjkc>h1
,.ctckxx-header>h1{
  color: #202020;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.csbr-body-zxkt>h2
,.csbr-body-zxkt>p
,.csbr-xxgl>p
,.public-h4-01
,.ctzxdy-div-01>h4{
  font-size: 12px;
  color: #969696;
  line-height: 30px;
}
.center-administrators div.cabr-body-xtxx{
  padding-top: 0; 
}
.xjkc-table{
  td:first-child{
    font-weight: bold;
  }
}
.tcn-p-warn{
  color: #999999;
  display: inline-block;
  padding-left: 20px;
  background-image: url(../images/ca-icon-warn.png);
  background-size: 14px 14px;
  background-position: 0 center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.public-h4-01{
  margin-bottom: 5px;
}
.csbr-xxgl>p{
  border-bottom: 1px solid $public-borderColor-01;
}
.ifl-btn{
  background-color: transparent;
  border: none;
}
.ifl-btn-read-all{
  color: #333333;
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.ifl-btn-delete{
  margin-left: 30px;
  padding-left: 22px;
  background-image: url(../images/cs-btn-delete.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 center;
}
.info-list{
  h2,li{
    color: #969699;
    line-height: 36px;
    border-bottom: 1px solid $public-borderColor-01;
  }
  li{
    padding-left: 10px;
  }
}
.ctzxdy-list-div{
  .ctzxdy-list{
    border: 1px solid $public-borderColor-01;
    margin-bottom: 8px;
    .ctzxdy-list-left{
      width: 80%;
      float: left;
      line-height: 40px;
      padding: 0 10px;
      height: 40px;
      overflow: hidden;
    }
    .ctzxdy-list-btn{
        float: right;
        color: $public-color-01;
        line-height: 40px;
        border: none;
        padding: 0 10px;
        background-color: transparent;
    }
  }
}
.csbr-body-zxkt{
  position: relative;
  .zxkt-progress-bar{
    position: absolute;
    right: 0;
    top: 12px;
  }
  .progress-bar{
    background-color: $public-color-01;
  }
  .zxkt-progress-bar-left
  ,.progress
  ,.zxkt-progress-bar-right{
    display: inline-block;
    line-height: 12px;
  }
  .progress{
    height: 10px;
    width: 200px;
    margin-bottom: 0;
  }
}
.info-list-btn{
  display: none;
}
.info-footer
,.ctkcxx-body-nav-div{
  background-color: $public-bgColor-01;
  line-height: 36px;
  margin: 30px 0;
  padding: 0 10px;
  .info-footer-left{
    float: left;
  }
  .info-footer-right{
    float: right;
    button{
      background-color: transparent;
      border: none;
    }
  }
}
.ctkcxx-body-nav-div{
  margin: 0 0 5px 0;
}
.ctkcxx-content-list{
  p,h5{
    padding: 0 20px;
    line-height: 22px;
    overflow: hidden;
  }
  p{
    height: 44px;
    color: #222222;
    margin-top: 10px;
  }
  h5{
    height: 22px;
    color: #999999;
  }
  .ctkcxx-cl-footer{
    border-top: 1px solid $public-borderColor-01;
    color: #666666;
    line-height: 50px;
    padding: 0 20px;
    margin-top: 10px;
  }
  .ctkcxx-cl-type{
    float: left;
  }
  .ctkcxx-cl-footer-right{
    float: right;
  }
}
.ctkcxx-nav li:lia{
  padding-left: 25px;
  background-image: url(../images/ct-icon-time.png);
  background-position: 0 center;
  background-repeat: no-repeat;
}
.ctkcxx-cl-img{
  img{
    width: 100%;
    height: 180px;
  }
}
.csbr-body-xxgl{
  .info-list-ok{
    a{
      color: gray;
    }
  }
  .info-list-btn-div{
    position: relative;
    top:  2px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    background-image: url(../images/xxgl-checkbox.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 0 center;
  }
  .info-list-div-hover{
    background-image: url(../images/xxgl-checkbox-hover.png);
  }
  .info-list-hover{
    a{
      color: $public-color-01;
    }
  }
  .info-list-btn{
    /*display: none;*/
  }
  .csbr-xxgl-detail{
    display: none;
  }
}
.center-teachers{
  .zxkt-table{
    td:nth-child(2){
      text-align: center;
    }
    td:nth-child(3){
      text-align: left;
    }
  }
}
.zxkt-table{
  width: 100%;
  margin-bottom: 15px;
  tr:first-child{
    td{
      border-top:1px solid #e0e0ee;
      background-color: #f0f0f0;
    }
  }
  td{
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #e0e0ee;
    border-bottom: 1px solid #e0e0ee;
    padding: 0 10px;
  }
  td:nth-child(2){
    text-align: left;
  }
  td:last-child{
    border-right:1px solid #e0e0ee;
  }
}
.zxkt-btn
,.ca-glzx-btn
,.ash-btn
,.acc-btn-drxs
,.tcn-btn-two
,.tcn-btn-jxtj
,.TMZXZJ-btn-jxtj{
  line-height: 20px;
  padding: 0 12px;
  font-size: 12px;
  background-color: $public-bgColor-01;
  border:1px solid #e0e0e0;
}
.ca-glzx-btn
,.ash-btn{
  line-height: 24px;
  margin-top: 10px;
  background-color: #e7e7ee;
}
.acc-btn-drxs
,.tcn-btn-drsp
,.tcn-btn-jxtj{
  position: relative;
  top: -2px;
  line-height: 26px;
  margin-left: 10px;
}
.tcn-tmxq-div label select
,.tcn-tmxq-div label option{
  width: 120px;
  margin: 10px;
}
.tcn-tmxq-div label:first-child select
,.tcn-tmxq-div label:first-child option
,.xjkc-table .tcn-btn-jxtj{
  margin-left: 0;
}
.xxgl-detail-content{

  h1,p{
    font-size: 16px;
    padding-left: 40px;
    line-height: 28px;
  }
  p{
    text-indent:2em;
  }
}
.ssb-nav
,.csbr-nav-xxgl-detail{
  font-size: 20px;
  line-height: 40px;
  a{
  display: inline-block;
  margin: 0 15px;
  font-size: 14px;
  }
  a:first-child{
    margin-left: 0; 
  }
  .ssb-nav-hover{
    color: $public-color-01;
  }
}
.csbr-nav-xxgl-detail{
  position: relative;
  line-height: 30px;
}
.ssbcr-zxtw-
,.grzx-info-btn-01
,.acc-btn-qxxz
,.cm-drkt-btn
,.tmzxzt-btn{
  color: white;
  text-align: center;
  padding: 0 20px;
  border: none;
  line-height: 32px;
  background-color: #a9a9a9;
  border-radius: 4px;
}
// .cm-drkt-btn{
//   color: #222222;
//   text-align: center;
//   padding: 0 20px;
//   border: none;
//   line-height: 32px;
//   background-color:$public-bgColor-01;
//   border-radius: 4px;
// }
.ssbcr-btn-zxtw
,.ssbcr-header .ssbcr-zxtw-btn-hover
,.tcd-btn-xgkcxx
,.ssbcr-zxtw-btn-submit
,.grzx-info-btn-img
,.grzx-info-btn-name
,.grzx-info-btn-password
,.acc-btn-qdxz
,.xjkc-btn-tjkc
,.ca-xtxx-btn-fsxx
,.acc-btn-wcxg
,.tcn-btn-kcwc
,.cm-drkt-btn-kcwc
,.tmzxzt-btn-xyb
,.stbc-answer-btn-submit{
  background-color: $public-color-01;
  color: white;
  text-align: center;
  padding: 0 20px;
  border: none;
  line-height: 32px;
  border-radius: 4px;
}
.stbc-answer-btn-submit{
  position: relative;
  top: 50px;
  padding: 0 40px;
  line-height: 40px;
  margin: auto;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.cm-drkt-btn-kcwc{
  margin-right: 10px;
}
.ctktgl-btn-one
,.ctkcxx-btn-xjkc{
  text-align: center;
  padding: 0 20px;
  border: none;
  line-height: 40px;
  background-color: $public-bgColor-01;
}
.ctktgl-btn-one:hover
,.ctktgl-btn-one-hover
,.ctkcxx-btn-xjkc{
 color: white;
 background-color: $public-color-01;
}
.ctkcxx-btn-xjkc{
  position: absolute;
  right: 0;
  top: 20px;
  padding: 0 25px;
}
.ctktgl-p-red
,.ctkcxx-number{
  line-height: 24px;
  padding-bottom: 5px;
  color: $public-color-01;
  border-bottom: 1px solid $public-borderColor-01;
  margin-bottom: 20px;
}
.ctkcxx-number{
  margin-bottom: 10px;
}
.ct-one-div{
  position: relative;
}
.ctktgl-right-nav{
  position: absolute;
  right: 0px;
  top: 20px;
}
.ssbcr-zxtw-btn-clear{
  color:#222222;
}
.xjkc-btn-tjkc{
  margin-left: 100px;
}

.grzx-info-btn-01{
  margin-right: 15px; 
}
.tcn-p-ts{
  height: 28px;
  line-height: 28px;
}

.ssb-content {
  .nav-tabs > li.active > a
  ,.nav-tabs > li.active > a:focus
  ,.nav-tabs > li.active > a:hover{
    color: $public-color-01;
    border: none;
    border-bottom: 2px solid $public-color-01;
  }
  .tab-content{
    padding: 10px 20px;
    p{
      line-height: 24px;
    }
  }
}
.csbr-body-grzx{
  .grzx-user{
    position: relative;
    margin-top: 5px;
    border-top: 1px solid $public-borderColor-01;
    padding: 40px 110px;
    p{
      color: #666666;
      line-height: 40px;
    }
  }
  .grzx-user-name{
    margin-bottom: 10px;
    position: relative;
    top: 5px;
    font-size: 18px;
    line-height: 20px;
    color: $public-color-01;

  }
  .grzx-info{
    padding: 5px 15px;
    background-color: #f9f9fa;
    h1{
      font-size: 18px;
      line-height: 30px;
    }
    .grzx-info-modify{
      display: none;
      h4{
        color: #929292;
        line-height: 32px;
        font-size: 12px;
      }
    }
    .grzx-info-list{
      line-height: 40px;
    }
    .grzx-info-list-btn{
      border: none;
      color: #6575f6;
      background-color: transparent;
      margin-left: 150px;
    }
  }
  .grzx-user-img
  ,.grzx-user-img-modify{
    width: 76px;
    height: 76px;
    border-radius: 50%;
  }
  .grzx-user-img{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -38px;
  }
  .grzx-user-img-modify{
    margin-bottom: 15px;
  }
  .grzx-info-warning{
    display: none;
    color: red;
  }
  .grzx-info-input-warning{
    border: 1px solid red;
  }
}
.grzx-info-input{
  line-height: 34px;
  border: 1px solid #929292;
  padding: 0 8px;
  margin-bottom: 10px;
}
.center-administrators{
  .ssb-nav{
    border-bottom: 1px solid $public-borderColor-01;
    a{
      font-size: 14px;
    }
  }
  .csbr-header{
    border: none;
  }
}
.center-teachers .csbr-header{
  border: none;
}
.center-teachers .csbr-header
,.center-administrators .csbr-header{
  padding: 0;
}
.ca-glzx-header{
  margin-top: 5px;
  margin-bottom: 15px;
}
.ca-glzx-list{
  float: left;
  padding: 30px 10px 10px 10px;
  width: 150px;
  height: 150px;
  border: 1px solid $public-borderColor-01;
  text-align: center;
  margin-right: 15px;;
  h2{
    font-size: 30px;
    line-height: 36px;
    color: $public-color-01;
  }
  h5{
    color: #b6b6b6;
    line-height: 24px;
  }
}
.as-header{
  padding: 30px;
  background-color: $public-bgColor-01;
}
.ash-input{
  border: 1px solid $public-borderColor-01;
  padding: 0 8px;
  margin: 0 10px;
  line-height: 24px;
  width: 340px;
}
.ac-body
,.ca-xtxx-setting{
  position: relative;
  background-color: $public-bgColor-01;
  padding: 20px;
}
.ac-btn-tjbj{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -44px;
  background-color: transparent;
  background-image: url(../images/ca-btn-add-02.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 0 center;
  border: none;
  padding-left: 20px;
}
.ac-content-list{
  margin-bottom: 15px;
  background-color: white;
  
}
 .center-teachers #teacherCourseNew
,.center-teachers #centerTeachersKTGL{
  .ca-xjkc-content:nth-child(3)
  ,.xjkc-table:last-child tr:last-child td{
  padding-bottom: 140px;
  }
  .tcn-p-ts
  ,.tcn-btn-kcwc
  ,.tcn-p-ts
  ,.tmzxzt-btn{
    position: relative;
    top: -120px;
    margin-left: 118px;
  }
  .tmzxzt-btn-xyb
  ,.tmzxcs-btn-null{
    margin-left: 10px;
  }
}
.ac-content-list .acc-list-header
,.ca-xjkc-content > h2
,.ca-xtxx-setting > h2{
    position: relative;
    line-height: 40px;
    background-color: $public-color-01;
    color: white;
    padding: 0 20px;
}
.ac-btn-xgbj
,.ac-btn-scbj{
  position: absolute;
  top: 0;
  right: 20px;
  background-color: $public-color-01-hover;
  line-height: 24px;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 4px;
  margin:8px 0 8px 20px; 

}
.ac-btn-scbj{
  right: 120px;
}
.abc-div-bg-01
,.abc-div-bg-01 select
,.abc-div-bg-01 option
,.abc-div-bg-left select
,.abc-div-bg-left option
,.abc-div-bg-right select
,.abc-div-bg-right option
,.xjkc-table select
,.xjkc-table option
,.xtxx-table-01 select
,.xtxx-table-01 option
,.tcn-btn-one{
  width: 340px;
  background-color: $public-bgColor-01;
  border: 1px solid $public-borderColor-01;
  line-height: 30px;
  padding:  0 10px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
}
.ac-top  div.abc-div-bg-01
,.acc-list-modify div.abc-div-bg-01{
    padding: 0;
}

.xtxx-table-01 select
,.xtxx-table-01 option{
  background-color: white;
}
.ca-xtxx-setting .xtxx-table-01 td{
  background-color: #f7f7f7;
}
.acc-list-body
,.cabr-body-xjkc .xjkc-table tr:first-child td
,.xtxx-table-01 tr:first-child td{
  padding-top: 20px;
}
.abc-div-bg-right select
,.abc-div-bg-right option{
  width: 90px;
}
label{
  margin: 0;
}
.adc-btn-delete{
  float: left;
  margin: 0 10px;
  background-color: transparent;
  color: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/ca-btn-close.png);
  background-size: 16px 16px;
  background-position: 0 center;
  width: 40px;
  border: none;
  font-size: 1px;
  height: 30px;
  line-height: 30px;
}
.acc-btn-tjkc{
 border: none;
 background-color: transparent;
 background-image: url(../images/ca-btn-add-01.png);
 padding-left: 35px;
 background-position: 0 center;
 background-repeat: no-repeat; 
 margin-bottom: 10px;
}
.abc-div-bg-02{
  clear: both;
}
.abc-div-bg-02>p{
  background-color: #ededed;
  padding: 0 10px;
  line-height: 30px;
  float: left;
  display: inline-block;
  margin-bottom: 5px;
}
