body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit }
input, textarea, select { *font-size: 100%;letter-spacing: 1px; }
legend { color: #000 }
/* 通用 */
html,body{ background: #F2F2F2; min-height: 480px;}
/* body, input, button, textarea { -webkit-text-size-adjust: none; font: normal 16px/20px 'Microsoft Yahei', helvetica, arial; color: #555; outline: none; box-sizing:border-box; -webkit-box-sizing:border-box; } */
p { padding: 0; margin: 0 }
a { text-decoration: none; color: #333333; }
*{ box-sizing: border-box; letter-spacing: 1px;}
.fl { float: left }
.fr { float: right; }
.clear { clear: both; }
.text-left { text-align: left!important }
.text-right { text-align: right }
.text-center { text-align: center }
.blue { color: #1D4D73 !important }
.bold { font-weight: 700 }
.dark { color: #656565 !important }
.black { color: #000}
.gray { color: #aaa !important }
.red { color: #FE0000 !important}
.green { color: #05ac00}
.bg-gray { background: #F0EFF4}
.vr{ font-family: "微软雅黑", "黑体", "宋体";}
.height-10{ height: 10px;}
.hide{ display: none;}
.show{ display: block;}
.img-100{ width: 100%; height: auto;}
.height-10{height: 10px;}
.height-30{ height: 30px;}
.height-60{ height: 60px;}
.height-90{ height: 90px;}
.none{ display: none;}
@media only screen and (min-width:0px){
	.swiper-container{height: 200px;}
}
@media only screen and (min-width:480px){
	.swiper-container{height: 300px;}
}
.index
,.center-students
,.student-study
,.student-test
,.center-administrators
,.center-teachers{
	width: 1100px;
	margin: 0 auto;
}


.login-index-header{
  background-color: #ececed;
}
.login .ih-two{
  height: auto;
}
.login .ih-two #login-myTabs{
  position: relative;
  right: 0;
  width: 100%;
  height: auto;
}
.login .ih-two #login-myTabs .nav-tabs li a{
  padding: 0;
  line-height: 40px;
}
.login-content-div{
  position: absolute;
  width: 450px;
  border: 1px solid red;
  left: 50%;
  top: 28%;
  margin-left: -225px;
  background-color: #4a4a4a;
}
.login .ih-two #login-myTabs .nav-tabs li:nth-child(2){
  border-left: 1px solid #4A4A4A!important;
  border-right: 1px solid #4A4A4A!important;
}
.login .login-username-div{
  margin-bottom: 15px;
}
.login .login-username-div
,.login .login-password-div{
  text-align: center;
}
.login .login-username-input
,.login .login-password-input
,.login .login-btn{
  line-height: 38px;
  background-repeat: no-repeat;
  padding: 0 36px;
  width: 100%;
  background-position:  10px center;
  border: none;
  font-size: 14px;
}
.login .login-btn{
  background-color: #e60012;
  color: white;
}
.login .login-username-input{
  background-image: url(../images/login-user.png);
}
.login .login-username-input:focus{
  background-image: url(../images/login-user-hover.png);
}
.login .login-password-input{
  background-image: url(../images/login-password.png);
}
.login .login-password-input:focus{
  background-image: url(../images/login-password-hover.png);
}
.login .tab-content{
  padding: 30px 60px;
}
.login .tab-content p{
  line-height: 24px;
  padding: 4px 0;
  color: white;
  font-size: 12px;
}
