// @import "public.scss";
$public-color-01: #e60012;
$public-color-01-hover: #ba0000;
$public-bgColor-01: #f5f5f5;
$public-borderColor-01: #e0e0e0;
$public-fontColor-01: #333333;
.student-study{

}

// 课程学习和在线考试
.st-body
,.ss-body{
  background-color: white;
  padding: 0 15px;
}
.ss-body{
  .ssb-content{
    position: relative;
    padding-left: 120px;
    min-height: 1000px;
    .ssbc-right{
      h1{
        line-height: 60px;
        color: $public-color-01;
        font-size: 22px;
      }
      .ssbcr-header{
        height: 360px;
        .ssbcr-header-left{
          float: left;
          height: 100%;
          width: 60%;
          background-color: #d0d0d0;
        }
        .ssbcr-header-right{
          border: 1px solid $public-borderColor-01;
          float: right;
          height: 100%;
          width: 40%;
          padding: 5px 20px;
          .ssbcr-a-test{
            color: $public-color-01;
          }
          .ssbcr-kcjj{
            h2{
              color: $public-color-01;
              font-size: 16px;
              line-height: 40px;
            }
          }
          .ssbcr-kcjj-table{
            width: 100%;
            td:nth-child(1){
              width: 100px;
              font-weight: bold;
            }
            td{
              padding: 5px;
              line-height: 20px;
            }
          }
          .ssbcr-zxtw{
            position: relative;
            padding-top: 40px; 
            display: none;
          }
          
          .ssbcr-zxtw-return{
            position: absolute;
            left: 0;
            top: 8px;
            border: none;
            background-color: transparent;
            padding-left: 15px;
            background-image: url(../images/ss-return.png);
            background-size: 9px 16px;
            background-position: left center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
.ssbcr-zxtw-input{
  height: 240px;
  width: 100%;
  padding: 10px;
  resize:none;
  line-height: 24px;
}
.ssbcr-zxtw-btn-div{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 120px;
  .ssbcr-zxtw-btn{
    margin-bottom: 15px;
  }
}
.tab-pane{
  position: relative;
}
.ss-zxwd-list{
  position: relative;
  background-color: $public-bgColor-01;
  padding:10px 20px;
  margin-bottom: 10px;
  .ss-zxwd-list-div{
    margin-bottom: 10px;
  }
  h2,p,h4{
    line-height: 32px;
  }
  h2{
    font-size: 16px;
  }
  p{
    color: #666666;
  }
  h4{
    color: #999999;
  }
}
.ss-zxwd-list-number{
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 32px;
  color: #bdbdbd;
  font-size: 16px;
  .zxwd-list-number-now{
    color: #333333;
  }
}
.student-test{
  .stb-content-test{
    width: 700px;;
    h1{
      background-color: #f5f5f5;

    }
  }
  .stb-content-answer-div{
    z-index: 9999;
    position: fixed;
    top: 218px;
    left: 50%;
    width: 300px;
    margin-left: 200px;
    background-color: $public-bgColor-01;
    border: 1px solid $public-bgColor-01;
  }
}
.tcd-zxdy-div{
  position: relative;
}
.tcd-zxdy-div-hover{
  position: relative;
  display: none;
}
.tcd-btn-zxdy{
  color: #333333;
  background-color: transparent;
  border: none;
}
.tcd-btn-zxdy-hover{
  color: $public-color-01;
}
.to-content-header-left{
  float: left;
  span{
    font-weight:bold; 
  }
}
.toch-nav-div{
  display: inline-block;
}
.to-content-header-right{
  float: right
}
.to-content-header{
  padding-top: 15px;
}
.to-btn-one
,.to-btn-two
,.too-list-btn{
  background-color: #e5e5ee;
  margin-right: 5px;
  padding: 0 15px;
  line-height: 40px;
  background-color: #e5e5e5;
  font-weight: bold;
  border: none;
}
.to-btn-one-hover
,.to-btn-two{
  color: white;
  background-color: $public-color-01;
}
.to-btn-two
,.too-list-btn{
  line-height: 36px;
  padding: 0 25px;
}
.csbr-body-list{
  display: none;
}
.csbr-body-list-hover{
  display: block;
}
.to-sure-div{
  display: none;
}
.tio-header-left{
  float: left;
}
.tio-header-right{
  float: right;
}
.teacher-online{
  .stb-content-test{
    width: 100%;
    .too-list-btn-add{
      display: block;
    }
    .too-list-btn-delete{
      display: none;
    }
  }
  .stbc-test-list-hover{
    .too-list-btn-delete{
      display: block;
    }
    .too-list-btn-add{
      display: none;
    }
  }
  .stbc-answer-div{
    background-color: #f2f2f2;
    padding: 10px;
  }
}
.ssb-content{
  border-top: 1px solid $public-borderColor-01;
}
.ssbc-left{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding-top: 15px;
  width: 100px;
  background-color: $public-bgColor-01;
  .ssbc-left-hover{
        color: $public-color-01;
  }
}
.ssbc-left-nav{
  li{
    padding-left: 22px;
    line-height: 40px;
    font-size: 16px;
    background-image: url(../images/ss-nav-bg.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-repeat: no-repeat;
  }
  .ssbc-left-hover{
    background-image: url(../images/ss-nav-bg-hover.png)
  }
}
.ssbcr-zxtw-textarea{
  width: 700px;
  height: 80px;
  resize: none;
  background-color: #f1f1f1;
  padding:5px 10px;
  line-height: 24px;
  border: none;
}
.stb-content-test>h1
,.tio-header-left{
  color: black;
  font-weight: bold;
  padding: 0 20px;
  line-height: 40px;
  margin: 20px 0 10px 0;
}
.tio-header-left{
  float: left;
  margin: 0;
}
.tio-header-right{
  line-height: 40px;
  padding: 0 20px;
  float: right;
  font-weight: bold;
}
.student-test{
  .ssb-nav{
    border-bottom: 1px solid $public-borderColor-01;
  }
}
.tio-header{
  margin: 20px 0 10px 0;
  background-color: $public-bgColor-01;
  position: relative;
}

.stbc-test-list{
  min-height: 160px;
  position: relative;
  border: 1px solid $public-borderColor-01;
  padding: 10px 20px 10px 60px;
  margin-bottom: 5px;
  h2{
    border-bottom: 1px solid $public-borderColor-01;
    line-height: 32px;
  }
  ul{
    padding: 5px 0;
  }
}
.stbc-test-list-number{
  position: absolute;
  left: 20px;
  top: 14px;
  display: inline-block;
  background-color: #399cc6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
}
.info-list-btn-div{
  cursor: pointer;
  position: relative;
  line-height: 30px;
  margin-bottom: 2px;
  padding-left: 25px;
  background-image: url(../images/ct-checked-01.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  span{
    display: inline-block;
    padding: 0 10px;
  }
}
.info-list-div-hover{
  background-image: url(../images/ct-checked-01-hover.png);
  span{
    background-color: $public-color-01;
    color: white;
  }
}
.stbc-answer-div{
  padding: 10px 0;
}
.stbc-answer-textarea{
  resize: none;
  line-height: 28px;
  padding: 10px;
  height: 200px;
  width: 100%;
  border: 1px solid $public-borderColor-01;
}
textarea.info-list-div-hover{
  background-image: none;
}
.stb-content-answer-header{
  clear: both;
}
.stb-content-answer-header>h1{
    width: 40%;
    float: left;
    color: white;
    text-align: center;
    background-color: #389cc6;
}
.stb-content-answer-header>h2{
    float: right;
    width: 60%;
    color: $public-color-01;
    background-color: white;
    text-align: center;

}
.stb-content-answer-header>h1
,.stb-content-answer-header>h2{
    height: 50px;
    line-height: 50px;
}
.stbc-answer-one-div>h3
,.stbc-answer-two-div>h3
,.stbc-answer-three-div>h3
,.stbc-answer-four-div>h3{
  line-height: 50px;
  font-weight: bold;
  padding: 0 2px;
}
  .stbc-answer-btn{
    width: 44px;
    height: 44px;
    margin-left: 5px;
    margin-bottom: 5px;
    line-height: 46px;
    border: none;
    background-color: white;
    color: $public-color-01;
    border-radius: 2px;
    font-size: 18px;
  }
  .stbc-answer-btn-hover{
    color: gray;
  }
  .too-list-footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .teacher-online{
    .stbc-test-list-hover{
      background-repeat: no-repeat;
      background-image: url(../images/to-bg-check.jpg);
      background-position: top right;
    }
    .info-list-div-hover{
      background-image: url(../images/ct-checked-02-hover.png);
      span{
        background-color: transparent;
        color: $public-color-01;
      }
    }
    .stbc-test-list-number{
      background-color: transparent;
      color: #666666;
      border: 1px solid #666666;
      overflow: hidden;
    }
  } 
  #teacherOnlineAll{
    .tia-header{
      position: relative;
      .tia-hader-left{
        line-height:50px;
      }
      .tia-hader-right{
        position: absolute;
        top: 0;
        right: 0
      }
      .tia-btn-one{
        display: inline-block;
        background-color: transparent;
        padding-left: 22px;
        line-height: 50px;
        border: none;
        background-position: 0 center;
        background-repeat: no-repeat;
        margin-left: 15px;
      }
      .tia-btn-zxxz{
        background-image: url(../images/to-icon-01.png)
      }
      .tia-btn-dywb{
        background-image:  url(../images/to-icon-02.png)
      }
    }
    .tia-body>h1{
        line-height: 40px;
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
      }
  }