// @import "public.scss";
$public-color-01: #e60012;
$public-color-01-hover: #ba0000;
$public-bgColor-01: #f5f5f5;
$public-borderColor-01: #e0e0e0;
$public-fontColor-01: #333333;
.student-study{

}

// 课程学习和在线考试
.st-body
,.ss-body{
  background-color: white;
  padding: 0 15px;
}
.ss-body{
  .ssb-content{
    position: relative;
    padding-left: 120px;
    min-height: 1000px;
    .ssbc-right{
      h1{
        line-height: 60px;
        color: $public-color-01;
        font-size: 22px;
      }
      .ssbcr-header{
        height: 360px;
        .ssbcr-header-left{
          float: left;
          height: 100%;
          width: 60%;
          background-color: #d0d0d0;
        }
        .ssbcr-header-right{
          border: 1px solid $public-borderColor-01;
          float: right;
          height: 100%;
          width: 40%;
          padding: 5px 20px;
          .ssbcr-a-test{
            color: $public-color-01;
          }
          .ssbcr-kcjj{
            h2{
              color: $public-color-01;
              font-size: 16px;
              line-height: 40px;
            }
          }
          .ssbcr-kcjj-table{
            width: 100%;
            td:nth-child(1){
              width: 100px;
              font-weight: bold;
            }
            td{
              padding: 5px;
              line-height: 20px;
            }
          }
          .ssbcr-zxtw{
            position: relative;
            padding-top: 40px; 
            display: none;
          }
          
          .ssbcr-zxtw-return{
            position: absolute;
            left: 0;
            top: 8px;
            border: none;
            background-color: transparent;
            padding-left: 15px;
            background-image: url(../images/ss-return.png);
            background-size: 9px 16px;
            background-position: left center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
.ssbcr-zxtw-input{
  height: 240px;
  width: 100%;
  padding: 10px;
  resize:none;
  line-height: 24px;
}
.ssbcr-zxtw-btn-div{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 120px;
  .ssbcr-zxtw-btn{
    margin-bottom: 15px;
  }
}
.tab-pane{
  position: relative;
}
.ss-zxwd-list{
  position: relative;
  background-color: $public-bgColor-01;
  padding:10px 20px;
  margin-bottom: 10px;
  .ss-zxwd-list-div{
    margin-bottom: 10px;
  }
  h2,p,h4{
    line-height: 32px;
  }
  h2{
    font-size: 16px;
  }
  p{
    color: #666666;
  }
  h4{
    color: #999999;
  }
}
.ss-zxwd-list-number{
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 32px;
  color: #bdbdbd;
  font-size: 16px;
  .zxwd-list-number-now{
    color: #333333;
  }
}
.student-test{
  .stb-content-test{
    width: 700px;;
    h1{
      background-color: #f5f5f5;
    }
  }
  .info-list-div-hover{
    border: 1px solid red;
  }
  .stb-content-answer-div{
    position: fixed;
    top: 200px;
    left: 50%;
    width: 300px;
    margin-left: 200px;
    border: 1px solid red;
  }
  .stbc-answer-btn{
    color: $public-color-01;
  }
  .stbc-answer-btn-hover{
    color: gray;
  }
}
.tcd-zxdy-div{
  position: relative;
}
.tcd-zxdy-div-hover{
  position: relative;
  display: none;
}
.tcd-btn-zxdy{
  color: #333333;
  background-color: transparent;
  border: none;
}
.tcd-btn-zxdy-hover{
  color: $public-color-01;
}
.to-content-header-left{
  float: left;
}
.to-content-header-right{
  float: right
}

.to-btn-one-hover
,.to-btn-two{
  color: $public-color-01;
}
.csbr-body-list{
  display: none;
}
.csbr-body-list-hover{
  display: block;
}
.to-sure-div{
  display: none;
}
.tio-header-left{
  float: left;
}
.tio-header-right{
  float: right;
}
.teacher-online{
  .stb-content-test{
    width: 100%;
    .too-list-btn-add{
      display: block;
    }
    .too-list-btn-delete{
      display: none;
    }
  }
  .stbc-test-list-hover{
    border: 1px solid blue;
    .too-list-btn-delete{
      display: block;
    }
    .too-list-btn-add{
      display: none;
    }
  }
  .stbc-answer-div{
    background-color: #f2f2f2;
    padding: 10px;
  }
}
.ssb-content{
  border-top: 1px solid $public-borderColor-01;
}
.ssbc-left{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding-top: 15px;
  width: 100px;
  background-color: $public-bgColor-01;
  .ssbc-left-hover{
        color: $public-color-01;
  }
}
.ssbc-left-nav{
  li{
    padding-left: 22px;
    line-height: 40px;
    font-size: 16px;
    background-image: url(../images/ss-nav-bg.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-repeat: no-repeat;
  }
  .ssbc-left-hover{
    background-image: url(../images/ss-nav-bg-hover.png)
  }
}
.ssbcr-zxtw-textarea{
  width: 700px;
  height: 80px;
  resize: none;
  background-color: #f1f1f1;
  padding:5px 10px;
  line-height: 24px;
  border: none;
}