body {
  margin: 0;
  background-image: none;
  position: static;
  left: auto;
  width: 10rem;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#base {
  position: absolute;
  z-index: 0;
}
#u11_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 24.12rem;
}
#u11 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 24.12rem;
}
#u11_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u12_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.29333333rem;
}
#u12 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 24.12rem;
  width: 10rem;
  height: 1.29333333rem;
}
#u12_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u13_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.64rem;
  height: 1.01333333rem;
}
#u13 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.64rem;
  height: 1.01333333rem;
}
#u13_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}