@media only screen and (min-width:0px){
	.swiper-container{height: auto;}
}
@media only screen and (min-width:480px){
	.swiper-container{ height: auto;}
}
body
,html
,.big-img{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #666666;
}
.swiper-father{
	
}
