.list_wrap .clear {
  clear: both;
}
.list_wrap .index-address {
  width: 100%;
  padding-bottom: 60px;
}
.list_wrap .index-address ul {
  width: 100%;
}
.list_wrap .index-address li {
  padding: 0!important;
  width: 17%;
  margin: 1%;
  float: left;
  border: none;
}
.list_wrap .index-address li a {
  display: inline-block;
  width: 96%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  color: black;
  text-decoration: none;
}
.list_wrap .index-address li a:hover {
  background-color: #cc0c06;
  color: white;
}
