.index{
	min-height: 100%;
	position: relative;
	background-image: url(../images/index-bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding: 30px 0;
}
.index-btn-query{
	background-image: url(../images/check.png);
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	width: 200px;
	height: 50px;
	margin-bottom: 10px;
}
.index-btn-query:hover{
	opacity: .8;
}
.index-input-tel{
	display: block;
	width: 310px;
	height: 50px;
	background-image: url(../images/input.png);
	background-size: 100% 100%;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 0 20px;
	border: none;
	background-color: transparent;
	margin: 20px auto;
	letter-spacing: 2px;
}
.index-ts-p{
	position: absolute;
	left: 0;
	bottom: 30px;
	color: white;
	font-size: 12px;
	line-height: 16px;
	padding: 0 10px;
}
#foo{
	position: absolute;
	top: 50%;
	left: 50%;
}
