@media only screen and (min-width: 0px) {
	.swiper-container {
		height: 200px;
	}
}
@media only screen and (min-width: 480px) {
	.swiper-container {
		height: 300px;
	}
}
/* // 在填充数据之前隐藏 */
[v-cloak] {
    display: none;
}
* {
	font-size: 0.24rem;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 0.01rem;
}
#app {
	padding: 1rem 0;
	background: linear-gradient(90deg, #1116A4, #2480EC);
}
.index-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 1rem;
	width: 100%;
	z-index: 99;
	display: flex;
	justify-content: center;
	flex: 1;
	background-color: white;
	align-items: center;
}
.index-header img {
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.2rem;
}
.index-header span {
	line-height: 1rem;
	color: #222222;
	font-size: 0.4rem;
}
.van-tabbar {
	height: 1.61rem;
}
.public-footer-nav {
	background-color: transparent;
	background-image: url(../images/public-nav-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 99;
}
div.public-footer-nav:after {
	border: none;
}
.public-footer-nav .van-tabbar-item img {
	width: 0.41rem;
	height: 0.41rem;
}
.public-footer-nav .van-tabbar-item:nth-child(1) img {
	width: 0.44rem;
	height: 0.47rem;
}
.public-footer-nav .van-tabbar-item:nth-child(2) img {
	width: 0.45rem;
	height: 0.45rem;
}
.public-footer-nav .van-tabbar-item:nth-child(4) img {
	width: 0.46rem;
	height: 0.45rem;
}
.public-footer-nav .van-tabbar-item:nth-child(5) img {
	width: 0.49rem;
	height: 0.38rem;
}
.public-footer-nav .van-tabbar-item:nth-child(3) {
	position: relative;
	top: -0.55rem;
}
.public-footer-nav .van-tabbar-item:nth-child(3) .van-tabbar-item__icon img {
	width: 1.39rem;
	height: 1.39rem;
	padding: .18rem;
}
.public-footer-nav .van-tabbar-item--active {
	background-color: transparent;
}
.public-footer-nav .van-tabbar-item--active span {
	color: #009bfe;
	opacity: 1;
}
.public-footer-nav span {
	font-size: 0.23rem;
	line-height: 0.6rem;
	opacity: 0.8;
	color: #ffffff;
}
.public-header-title {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	/* background-color: transparent; */
}
.public-header-title-content {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}
.phtc-title {
	color: white;
	font-size: 0.35rem;
	letter-spacing: 0.03rem;
	text-align: center;
	width: 100%;
}
.phtc-return {
	position: absolute;
	left: 0;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-image: url(../images/icon-fanhui.png);
	background-size: 0.43rem 0.415rem;
	background-repeat: no-repeat;
	background-position: center center;
}
.phtc-fenxiang {
	position: absolute;
	right: 1rem;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-image: url(../images/icon-fenxiang.png);
	background-size: 0.48rem 0.4rem;
	background-repeat: no-repeat;
	background-position: center center;
}
.phtc-mulu {
	position: absolute;
	right: 0rem;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-image: url(../images/icon-mulu.png);
	background-size: 0.4rem 0.34rem;
	background-repeat: no-repeat;
	background-position: center center;
}
.index-live {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0.3rem;
	width: 0.9rem;
	height: 0.38rem;
	background-color: rgba(255, 255, 255, 0.76);
	border-radius: 0.08rem;
	color: #222222;
	letter-spacing: 0.02rem;
}
.index-live span {
	/* position: absolute;
	left: .12rem;
	content: " ";
	color: transparent;
	top: 50%;
	margin-top: -.04rem;
	margin-left: -.04rem; */
	display: inline-block;
	width: 0.08rem;
	height: 0.08rem;
	margin-right: 0.06rem;
	background-color: #22ac38;
	border-radius: 50%;
}
.index-live,
.index-video-num {
	top: 0.3rem;
	font-size: 0.21rem;
	z-index: 2;
}
.index-video-num {
	position: absolute;
	height: 0.38rem;
	padding: 0 0.12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.58);
	left: 1.4rem;
	color: #ffffff;
	border-radius: 0.08rem;
}
.index-video-num {
	position: absolute;
}
.index-video-num img {
	width: 0.23rem;
	height: 0.15rem;
	margin-right: 0.04rem;
}

.index-swipe-02-father {
	position: relative;
	padding: 0 0.3rem;
}
.index-swipe-02-father .index-h2,
.index-ygz .index-h2 {
	color: #f8f8f8;
}
.index-swipe-02-div {
	width: 3rem;
}
.index-swipe-02-div img {
	width: 100%;
}
.index-swipe-02 .van-swipe-item {
	width: 2rem;
	padding-right: 0.2rem;
}
.index-swipe-02-father {
	padding-right: 0;
	width: 7.5rem;
}
.index-swipe-02-father .van-swipe-item-div {
	/* background-color: #18316f; */
	background-color: rgba(243,247,250, 0.1);
	padding: 0.3rem 0 0.2rem 0;
	min-height: 3.5rem;
	border-radius: 0.2rem;
}
.index-swipe-02-father img {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin: auto;
}
.index-swipe-02 .van-image{
	display: block;
}
.index-swipe-02 h3 {
	margin-top: 0.1rem;
	color: white;
	font-size: 0.29rem;
	font-weight: bold;
}
.index-swipe-02 p {
	color: white;
	font-size: 0.26rem;
	opacity: 0.72;
}
.index-swipe-02 h3,
.index-swipe-02 p {
	line-height: 0.48rem;
	text-align: center;
}
.index-h2 {
	color: white;
	font-size: 0.35rem;
	line-height: 1rem;
	font-weight: bold;
}
.vjs-custom-skin > .video-js .vjs-big-play-button {
	background-image: url(../images/index-bofang.png) !important;
	background-size: 100% 100% !important;
	width: 1.14rem !important;
	height: 1.14rem !important;
	background-repeat: no-repeat !important;
	color: transparent !important;
	border: none !important;
	background-color: transparent !important;
	margin-left: -0.57rem;
	margin-top: -0.57rem;
}
div.video-js {
	width: 7.5rem;
	height: 4.8rem;
}

.jjwb-fhlt-div {
	display: flex;
	justify-content: space-between;
}
.index-ygz-list,
.index-tshw-list {
	width: 3.3rem;
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between; */
}
.index-ygz-item {
	position: relative;
	width: 3.3rem;
	/* height: 3.5rem; */
	margin-bottom: 0.2rem;
}
/* .index-ygz-list:nth-child(1) .index-ygz-item:nth-child(2) img,
.index-ygz-list:nth-child(2) .index-ygz-item:nth-child(1) img {
	height: 2.5rem;
} */
.index-ygz-list:nth-child(odd) .index-ygz-item:nth-child(even) img,
.index-ygz-list:nth-child(even) .index-ygz-item:nth-child(odd) img {
	height: 2.5rem;
}
.index-ygz-item img
,.index-ygz-item  .van-image {
	width: 100%;
	height: 3.5rem;
	border-radius: 0.2rem;
	margin-bottom: 0.1rem;
}
.index-ygz-item h3,
.index-ygz-item p {
	/* position: absolute;
			left: 0; */
	width: 100%;
	padding: 0 0.2rem;
	line-height: 0.5rem;
	color: white;
}
.index-ygz-item h3 {
	bottom: 0.7rem;
	font-size: 0.31rem;
	font-weight: 400;
}
.index-ygz-item p {
	font-size: 0.25rem;
	opacity: 0.6;
	bottom: 0.2rem;
}
.index-ygz {
	position: relative;
	padding: 0 0.3rem;
}
 .van-tabs--line .van-tabs__wrap {
	height: 0.8rem;
}
.van-tabs__wrap--scrollable .van-tabs__nav--complete {
	padding-left: 0.1rem;
	padding-right: 0.1rem;
}
.van-tabs__wrap--scrollable .van-tab {
	padding: 0 0.2rem;
}
.van-tabs__nav--line {
	padding-bottom: 0.25rem;
} 
.index-ygz {
	position: relative;
}
.index-ygz-more {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	color: white;
	font-size: 0.31rem;
	line-height: 1rem;
	opacity: 0.67;
	padding: 0 0.3rem;
	display: flex;
	align-items: center;
}
.index-ygz-more .van-icon {
	margin-left: 0.1rem;
}
.mflj-item {
	position: relative;
	padding-left: 2.7rem;
	min-height: 2.5rem;
	margin-bottom: 0.2rem;
	padding-top: 0.2rem;
	border-radius: 0.2rem;
}
.mflj-item:last-child {
	margin-bottom: 0;
}
.wzwb-mflj {
	margin-top: -0.2rem;
}
.wzwb-mflj-div h3 {
	font-size: 0.31rem;
	line-height: 0.6rem;
}
.wzwb-mflj-div p {
	opacity: 0.7;
	font-size: 0.28rem;
}
.mflj-item img {
	position: absolute;
	top: 0;
	left: 0;
	height: 2.5rem;
	width: 2.3rem;
	border-radius: 0.2rem;
}
.mflj-item h3 {
	font-size: 0.31rem;
	line-height: 0.5rem;
}
.mflj-item p {
	font-size: 0.25rem;
	opacity: 0.7;
	line-height: 0.46rem;
}
.wzwb-btn-mflq {
	position: absolute;
	line-height: 0.6rem;
	padding: 0 0.3rem;
	right: 0.2rem;
	bottom: 0.2rem;
	border-radius: 0.23rem;
	border: 1px solid white;
}
.wzwb-zhyj-div {
	display: flex;
	justify-content: space-between;
}
.van-button--info {
	background-color: #2e5ed4;
	border: 1px solid #2e5ed4;
}

.jbjs-body-item {
	background-color: rgba(255, 255, 255, 0.08);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0.3rem;
	border-radius: 0.2rem;
	margin-bottom: 0.2rem;
}
.jbjs-body-item-img {
	margin-left: 0.3rem;
	width: 1.86rem;
	height: 1.4rem;
	/* width: 1rem;
			height: 1rem; */
	border-radius: 0.1rem;
	overflow: hidden;
	flex-shrink: 0;
}

.jbjs-body-item h4 {
	font-size: 0.32rem;
	font-weight: 400;
	line-height: 0.5rem;
	color: white;
}

.jbjs-body-item h6 {
	font-size: 0.27rem;
	font-weight: 400;
	opacity: 0.6;
	line-height: 0.5rem;
	color: white;
}
.sczp-btn-tj-div{
	padding: .2rem .5rem;
}
.sczp-btn-tj span{
	font-size: .31rem;
	letter-spacing: .1rem;
}
#app .public-footer-nav .van-tabbar-item--active span{
	color: #009BFE;
}
.mflj-item{
	/* background-color: #263377; */
	background-color: rgba(243,247,250, 0.09);
}
.mflj-item{
	position: relative;
	padding-left: 2.7rem;
	min-height: 2.5rem;
	margin-bottom: .2rem;
	padding-top: .2rem;
}
.mflj-item:last-child{
	margin-bottom: 0;
}
div.zqsl-popup{
	padding-bottom: .5rem;
	padding-top: .5rem;
	background: linear-gradient(90deg, #1115A4, #2480EC);
}
.zqsl-popup *{
	color: white;
}
.van-cell,
.van-collapse-item__content,
.van-cell--clickable:active{
	background-color: transparent;
	padding:  .2rem .3rem;
}
.van-collapse-item--border::after,
.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after,
.van-cell::after{
	border: none;
}
.van-cell__title{
	padding-left: .1rem;
}
.van-cell__title span{
	font-size: .35rem;
	font-weight: bold;
}
.zqsl-sx-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#app .zqsl-btn-footer .zqsl-sx-item{
	color: #009BFE;
}
.zqsl-sx-item{
	font-size: .28rem;
	line-height: .8rem;
	border-radius: .4rem;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, .08);
	margin-bottom: .2rem;
	
}
.zqsl-btn-footer .zqsl-sx-item:nth-child(2){
	border-radius: 0 .4rem .4rem 0;
}
#app .zqsl-sx-item-click{
	background: linear-gradient(90deg, #1115A4, #2480EC);
	border: 1px solid #009BFE;
	color: #009BFE;
}
.zqsl-btn-footer{
	display: flex;
	justify-content: center;
	padding: .3rem;
}
.zqsl-btn-footer .zqsl-sx-item{
	border: 1px solid #009BFE;
	font-size: .28rem;
	line-height: .8rem;
	border-radius: .4rem 0 0 .4rem;
	width: 50%;
	text-align: center;
	background-color: rgba(255, 255, 255, .08);
	margin-bottom: .3rem;
}
#app .zqsl-btn-footer .zqsl-sx-item-click{
	background: #009BFE;
	color: white;
}
.video-js .vjs-control-bar .vjs-icon-custombutton{
	font-weight: normal;
	font-style: normal;
}
.video-js .vjs-control-bar .vjs-icon-custombutton:before{
	content: "\f108";
	font-size: 1.8em;
	line-height: 1.67;
}