.index{
	background-color: #513913;
}
.index-body{
	padding: 60px 20px;
}
.index-body img{
	margin-bottom: 20px;
}
.index-header{
	position: relative;
}
.index-header-tc{
	position: absolute;
	left: 50%;
	bottom: -40px;
	width: 90%;
	margin-left: -45%;
	padding: 10px;
	line-height: 24px;
	color: #f98838;
	text-align: center;
	font-size: 14px;
	background-color: white;
	border-radius: 10px;
}
