body,html{
	height: 100%;
}
.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.spliter {
	color: .bbb;
	padding: 0px 8px;
}
.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #CCCCCC;
	font-size: 12px;
}
.oauth-area img{
	width: 14px;
	height: 14px;
	margin: 0 5px;
}
.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	/*-webkit-filter: grayscale(100%); */
	border: solid 1px .ddd;
	border-radius: 25px;
}

.oauth-area .oauth-btn:active {
	border: solid 1px .aaa;
}

.oauth-area .oauth-btn.disabled {
	background-color: .ddd;
}

.login{
	background-color: white;
	padding: 80px 30px 0px 30px;
}
.l-img-01{
	display: block;
	width: 100%;
	margin: 30px  auto 60px auto;
}
.mui-input-group::before{
	display: none;
}
.mui-input-group::after{
	display: none;	
}
.mui-input-group .mui-input-row::after{
	display: none;
}
.mui-input-group .mui-input-row{
	height: 60px;
}
.mui-input-group .mui-input{
	border-bottom: 1px solid #CCCCCC;
	color: #999999;
}
.mui-input-group .input-account
,.mui-input-group .input-password{
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 18px 18px;
	color: #999999;
	padding-left: 30px;
	font-size: 18px;
	letter-spacing: 2px;
}
.mui-input-group .input-account{
	background-image: url(../images/zx-login-05.png);
}
.mui-input-group .input-password{
	background-image: url(../images/zx-login-06.png);
}

.mui-input-group .input-account-hover
,.mui-input-group .input-account-hover::-webkit-input-placeholder
,.mui-input-group .input-password-hover
,.mui-input-group .input-password-hover::-webkit-input-placeholder{
	border-color: #009c84;
	color: #009c84;
}
.mui-input-group .input-account-hover{
	background-image: url(../images/zx-login-05-hover.png);
	
}
.mui-input-group .input-password-hover{
	background-image: url(../images/zx-login-06-hover.png);
}

#btn-login
,#btn-change{
	width: 100%;
}
.l-p-01{
	height: 20px;
	line-height: 20px;
	color: red;
	font-size: 14px;
	letter-spacing: 2px;
}

.login-one{
	display: block;
}
.login-two{
	display: none;
}
.login-two-p{
	text-align: center;
	font-size: 16px;
	color: #666666;
	line-height: 24px;
}
