.electricity {
  position: relative;
  padding-top: 52px;
}
.electricity .public-header-div {
  overflow: initial ;
  height: inherit;
  padding: 5px;
  background-color: #F7F7FB;
}
.electricity .public-header-div h1 {
  line-height: 24px;
}
.electricity .public-header-div h2 {
  color: #686868;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
}
.electricity .public-header-right {
  background-image: url(../images/e_Statistics_icon@2x.png);
  background-size: 21px 21px;
}
.e-header {
  position: relative;
}
.e-header .e-header-one {
  margin: 15px 20px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 6px;
  background-image: url(../images/e_Rise_button@2x.png);
  background-size: 34px 34px;
  background-position: 92% center;
  background-repeat: no-repeat;
}
.e-header .e-header-one h2 {
  color: #1DD7CC;
  font-size: 26px;
  line-height: 32px;
}
.e-header .e-header-one p {
  color: #686868;
  font-size: 13px;
  line-height: 24px;
}
.e-body {
  position: relative;
  padding: 10px 20px;
  background-color: white;
}
.e-body-top {
  display: flex;
  justify-content: space-between;
}
.e-body-top h2 {
  font-size: 18px;
  color: #020202;
  font-weight: bold;
}
.e-body-top h2,
.e-body-top .ebt-admin {
  line-height: 60px;
}
.ebt-admin {
  display: inline-block;
  padding-right: 15px;
  background-image: url(../images/arrow@2x.png);
  background-size: 6px 10px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 13px;
  color: #A4A4A4;
}
.e-body-list {
  position: relative;
}
.e-body-item {
  position: relative;
  padding: 15px  60px  15px 80px ;
  background-image: url(../images/e_ice_box@2x.png);
  background-size: 68px 68px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.e-body-item h2 {
  display: inline-block;
  padding-right: 26px;
  color: #020202;
  font-size: 17px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right center;
  font-weight: bold;
}
.e-body-item p {
  color: #686868;
  font-size: 13px;
}
.e-body-item h2,
.e-body-item p {
  line-height: 28px;
}
.e-body-item-dbx {
  background-image: url(../images/e_ice_box@2x.png);
}
.e-body-item-xyj {
  background-image: url(../images/e_Washing_machine@2x.png);
}
.e-body-item-wbl {
  background-image: url(../images/e_Microwave_Oven@2x.png);
}
.ebi-num {
  position: absolute;
  right: 0;
  top: 50%;
  color: #818181;
  margin-top: -20px;
  line-height: 40px;
  width: 60px;
  height: 40px;
  font-size: 15px;
  text-align: right;
}
.e-body-item-rise .ebi-num {
  color: #EB4F4F;
}
.e-body-item-rise h2 {
  background-image: url(../images/e_Rise_button_s@2x.png);
}
.e-body-item-decline .ebi-num {
  color: #1DD7CC;
}
.e-body-item-decline h2 {
  background-image: url(../images/e_decline_button_s@2x.png);
}
