.swiper-container-hh {
  width: 100%;
  height: 480px;
}
.swiper-container-hh .swiper-wrapper {
  margin-left: -15px;
}
.swiper-container-hh .swiper-slide {
  border-radius: 8px;
  background-image: url(../images/hh-hh-bg@2x.png);
  background-size: 100% 100%;
  padding: 30px;
}
.swiper-container-hh .swiper-slide h3 {
  color: #142D5D;
  font-size: 23px;
  line-height: 24px;
}
.swiper-container-hh .swiper-slide p {
  color: #435984;
  font-size: 15px;
  line-height: 28px;
}
.hhb-ul-01 {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: -5px;
}
.hhb-ul-01 li {
  margin-right: 10px;
  min-width: 40px;
  padding-top: 36px;
  background-size: 33px 33px;
  background-position: center 0 ;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 11px;
  color: #435984;
}
.hhb-ul-01 li:nth-child(1) {
  background-image: url(../images/hh-blood-sugar@2x.png);
}
.hhb-ul-01 li:nth-child(2) {
  background-image: url(../images/hh-uric-acid@2x.png);
}
.hhb-ul-01 li:nth-child(3) {
  background-image: url(../images/hh-Cholesterol@2x.png);
}
.hhb-ul-01 li:nth-child(4) {
  background-image: url(../images/hh-Red-blood-protein@2x.png);
}
.hhb-btn-qsy {
  display: inline-block;
  line-height: 34px;
  background-color: #2A71F1;
  padding: 0 30px;
  font-size: 15px;
  color: white;
  border-radius: 17px;
  margin-top: 20px;
}
.health-hut {
  position: relative;
}
.hh-header {
  padding: 20px  20px 20px 20px;
  position: relative;
}
.hh-header h2 {
  color: #020202;
  font-size: 24px;
  line-height: 32px;
}
.hh-header p {
  color: #646464;
  font-size: 14px;
  line-height: 24px;
}
.hh-body {
  position: relative;
}
.hhss-body {
  padding: 20px;
}
.hhss-content {
  font-size: 16px;
  line-height: 32px;
  color: #020202;
}
.hhss-header-img {
  background-color: #F8F8F8;
  height: 200px;
}
.hhss-btn-kscl,
.hhs-btn-ckbg {
  font-size: 17px;
  background-color: #2A71F1;
  border-radius: 6px;
  line-height: 44px;
  text-align: center;
  color: white;
}
.hhss-title {
  margin-top: 10px;
}
.hhss-title h3 {
  color: #2A71F1;
  font-size: 17px;
  line-height: 32px;
}
.hhss-title .hhb-ul-01 {
  margin-top: 10px;
}
.hhs-body {
  padding: 0 20px;
}
.hhs-body-content {
  padding: 120px 0 200px 0;
}
.hhs-body-content h3 {
  color: #020202;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
}
.hhs-body-content p {
  color: #626262;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}
.hhr-header {
  position: relative;
  padding: 20px;
}
.hhr-header h2 {
  color: #000000;
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
}
.hhr-header p {
  color: #646464;
  font-size: 13px;
  line-height: 28px;
}
.hhr-header .hhr-icon {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hhr-header .hhr-download {
  right: 70px;
  background-image: url(../images/sr_download@2x.png);
}
.hhr-header .hhr-share {
  right: 20px;
  background-image: url(../images/sr_share-icon@2x.png);
}
.hhrb-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  margin-bottom: 15px;
}
.hhrb-header img {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  border-radius: 50%;
}
.hhrb-header h2 {
  font-size: 14px;
  color: #020202;
  line-height: 30px;
}
.hhrb-header .hhrb-more {
  color: #223A6E;
  line-height: 30px;
  font-size: 13px;
}
.hhr-body {
  padding: 15px 20px;
  background-color: #F5F5F5;
}
.hhrb-progress-div {
  background-color: white;
  padding: 20px;
}
.hhrb-progress-div h1 {
  font-size: 16px;
  color: #020202;
  line-height: 32px;
}
.hhrb-progress-div h5 {
  color: #989898;
  font-size: 11px;
  line-height: 24px;
  margin-top: 5px;
}
.hhrb-progress {
  margin-top: 10px;
}
.hhrb-progress .progress {
  display: flex;
  height: 14px;
  margin-bottom: 10px;
  justify-content: flex-end;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#51E88E), color-stop(0.5, #D3A835), to(#F22A2A));
  background: -webkit-linear-gradient(left, #51E88E, #D3A835, #F22A2A);
  background: -moz-linear-gradient(left, #51E88E, #D3A835, #F22A2A);
  background: -o-linear-gradient(left, #51E88E, #D3A835, #F22A2A);
  background: linear-gradient(left, #51E88E, #D3A835, #F22A2A);
}
.hhrb-progress .progress-bar {
  background-color: #F5F5F5;
}
.hhrb-progress-content {
  display: flex;
  justify-content: space-between;
}
.hhrb-progress-content span {
  font-size: 13px;
  color: #51E88E;
}
.hhrb-progress-content span:nth-child(1) {
  color: #51E88E;
}
.hhrb-progress-content span:nth-child(2) {
  color: #D3A835;
}
.hhrb-progress-content span:nth-child(3) {
  color: #F22A2A;
}
.hhrbc-list,
.hhrb-progress-div {
  border-radius: 6px;
}
.hhrbc-list {
  padding: 20px;
  background-color: white;
  margin: 20px 0;
}
.hhrbc-item {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #E0E0E0;
}
.hhrbc-item .hhrbc-item-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-size: 20px 20px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-image: url(../images/sr_01.png);
  padding-left: 30px;
  padding-right: 20px;
}
.hhrbc-item .hhrbc-item-header:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3.5px;
  content: " ";
  color: transparent;
  width: 11px;
  height: 7px;
  background-repeat: no-repeat;
  background-image: url(../images/sr_close.png);
  background-size: 100% 100%;
}
.hhrbc-item h2 {
  color: #020202;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}
.hhrbc-item h3 {
  color: #7C7C7C;
  line-height: 32px;
  font-size: 16px;
}
.hhrbc-item h3 span {
  color: #020202;
}
.hhrbc-item table {
  width: 100%;
  margin-top: 5px;
}
.hhrbc-item td {
  background-color: #F8F8F8;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
  line-height: 50px;
  color: #5C5C5C;
  font-size: 13px;
}
.hhrbc-item tr:first-child td:first-child {
  border-radius: 6px 0 0 0;
}
.hhrbc-item tr:first-child td:last-child {
  border-radius: 0 6px 0 0;
}
.hhrbc-item tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}
.hhrbc-item tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}
.hhrbc-item tr:last-child td {
  border-bottom: 1px solid transparent;
}
.hhrbc-item:last-child,
.hhrbc-item-more {
  border-bottom: 1px solid transparent;
}
.hhrbc-item-more .hhrbc-item-header:before {
  background-image: url(../images/sr_open.png);
}
.hhrbc-item-more .hhrbc-item-content {
  display: block;
}
.hhrbc-item-ok .hhrbc-item-header {
  background-image: url(../images/sr_01.png);
}
.hhrbc-item-no .hhrbc-item-header {
  background-image: url(../images/sr_03.png);
}
.hhrbc-item-warning .hhrbc-item-header {
  background-image: url(../images/sr_02.png);
}
.tr-warning td:last-child {
  color: #D3A835;
}
.tr-no td:last-child {
  color: #F22A2A;
}
.hhrb-download-xdt {
  margin: 15px auto;
  width: 120px;
  display: block;
  color: #223A6E;
  line-height: 24px;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 12px;
}
.hhrbc-item-content-footer {
  margin-top: 10px;
}
