.index {
  padding-top: 0;
  background: none !important;
  padding-bottom: 0;
}
.services-one {
  padding: 20px 0;
  background-image: url(../images/so-02.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.services-one h1 {
  margin-top: 50px;
<<<<<<< HEAD
  font-size: 22px;
=======
  margin-bottom: 20px;
  font-size: 30px;
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
  line-height: 40px;
  color: black;
  text-align: center;
}
.services-one p {
  padding: 5px;
  font-size: 16px;
  line-height: 28px;
  color: #3f3f3f;
  text-align: center;
}
<<<<<<< HEAD
=======
.services-one h1,
.services-one h2,
.services-one h3,
.services-one h4,
.services-one p {
  background-color: transparent !important;
}
.services-one .so-div-bg {
  position: relative;
}
.services-one .so-div-bg p {
  position: absolute;
  font-size: 14px;
  color: black;
  width: 400px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 0;
}
.services-one .so-div-bg p:nth-child(2),
.services-one .so-div-bg p:nth-child(4) {
  top: 5%;
}
.services-one .so-div-bg p:nth-child(3),
.services-one .so-div-bg p:nth-child(5) {
  top: 21%;
}
.services-one .so-div-bg p:nth-child(6),
.services-one .so-div-bg p:nth-child(8) {
  top: 40%;
}
.services-one .so-div-bg p:nth-child(7),
.services-one .so-div-bg p:nth-child(9) {
  top: 55%;
}
.services-one .so-div-bg p:nth-child(10),
.services-one .so-div-bg p:nth-child(12) {
  top: 74%;
}
.services-one .so-div-bg p:nth-child(11),
.services-one .so-div-bg p:nth-child(13) {
  top: 89%;
}
.services-one .so-div-bg p:nth-child(2) {
  left: 12%;
}
.services-one .so-div-bg p:nth-child(3) {
  left: 4%;
}
.services-one .so-div-bg p:nth-child(4) {
  left: 51%;
}
.services-one .so-div-bg p:nth-child(5) {
  left: 42%;
}
.services-one .so-div-bg p:nth-child(6) {
  left: 22%;
}
.services-one .so-div-bg p:nth-child(7) {
  left: 15%;
}
.services-one .so-div-bg p:nth-child(8) {
  left: 75%;
}
.services-one .so-div-bg p:nth-child(9) {
  left: 67%;
}
.services-one .so-div-bg p:nth-child(10) {
  left: 16%;
}
.services-one .so-div-bg p:nth-child(11) {
  left: 8%;
}
.services-one .so-div-bg p:nth-child(12) {
  left: 61%;
}
.services-one .so-div-bg p:nth-child(13) {
  left: 53%;
}
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
.services-two {
  padding-bottom: 100px;
}
.services-two h1 {
  padding: 50px 0 30px 0;
<<<<<<< HEAD
  font-size: 24px;
  color: black;
  line-height: 50px;
}
=======
  font-size: 30px;
  color: black;
  line-height: 50px;
}
.services-two h1 a {
  color: #f2454b;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  background-image: url(../images/arrow-1.png);
  background-size: 10px 12px;
  padding-right: 15px;
  background-position: right center;
  background-repeat: no-repeat;
}
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
.services-two .st-nav-01 {
  display: flex;
  justify-content: space-between;
}
.services-two .st-nav-01 .st-item-01 {
  margin-right: 1%;
}
.services-two .st-nav-01 .st-item-01 img {
  width: 60px;
}
.services-two .st-nav-01 .st-item-01 h2 {
<<<<<<< HEAD
  font-size: 18px;
=======
  font-size: 22px;
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
  color: black;
  line-height: 30px;
  padding-bottom: 5px;
}
.services-two .st-nav-01 .st-item-01 p {
  color: #696969;
  font-size: 14px;
  line-height: 24px;
}
.services-two h2 {
  color: #696969;
  padding: 5px 0;
  font-size: 14px;
  line-height: 40px;
}
.services-two .st-nav-02 {
<<<<<<< HEAD
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.services-two .st-nav-02 .st-item-02 {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5%;
}
.services-two .st-nav-02 .st-item-02 img {
  width: 300px;
}
.services-two .st-nav-02 .st-item-02 p {
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
}
.services-two a {
=======
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 0;
}
.services-two .st-nav-02 .st-item-02 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 2%;
  margin-bottom: 20px;
}
.services-two .st-nav-02 .st-item-02 img {
  display: inline-block;
  height: 240px;
}
.services-two .st-nav-02 .st-item-02 p {
  width: 160px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}
.services-two .st-nav-02 .st-item-02 .st-btn-more {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #7f441b;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  width: 137px;
  background-color: #f9ad79;
}
.services-two .st-nav-02 .st-item-02:nth-child(2) .st-btn-more {
  background-color: #827db5;
  color: #312e50;
}
.services-two .st-nav-02 .st-item-02:nth-child(3) .st-btn-more {
  background-color: #d44b53;
  color: #501d20;
}
.services-two a:nth-child(n+4) {
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
  text-decoration: underline;
}
.service-three {
  position: relative;
  min-height: 100%;
  padding: 50px 0;
  background-image: url(../images/st-11.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.service-three .sc-item h1 {
  position: relative;
  left: 20px;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: white;
  background-color: #308dff;
  z-index: 99;
}
.service-three .sc-item h1::before,
.service-three .sc-item h1::after {
  height: 40px;
  width: 20px;
  display: inline-block;
  position: absolute;
  content: ' ';
  color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.service-three .sc-item h1::before {
  left: -20px;
  top: 0;
  background-image: url(../images/st-left.png);
}
.service-three .sc-item h1::after {
  right: -20px;
  top: 0;
  background-image: url(../images/st-right.png);
}
.service-three .sc-item h3 {
  position: relative;
  line-height: 60px;
  font-size: 30px;
  color: white;
  padding: 0 30px;
  margin-top: -30px;
  z-index: 99;
}
.service-three .sc-item .st-div {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
}
.service-three .sc-item .st-div .st-swiper {
  position: relative;
  width: 66%;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide {
  position: relative;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide h2 {
  position: absolute;
  top: 73%;
  left: 30px;
  font-size: 22px;
  line-height: 60px;
  color: white;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide p {
  position: absolute;
  width: 100%;
  background-image: url(../images/st-12.png);
  background-repeat: no-repeat;
  top: 85%;
  left: 30px;
  font-size: 14px;
  line-height: 32px;
  color: white;
}
.service-three .sc-item .st-div .st-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
}
.service-three #myTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.service-three #myTabs li {
  border: none;
  padding: 0 30px;
  line-height: 60px;
  margin: 0 10px;
}
.service-three #myTabs li a {
  line-height: 60px;
  padding: 0;
}
.service-three #myTabs .active {
  background-color: #308dff;
}
.service-three #myTabs .active a {
  background-color: transparent;
  color: white;
  border: none;
}
.service-three #myTabs a:hover {
  background-color: transparent;
  border-color: transparent;
}
.service-three #myTabs .active::before,
.service-three #myTabs .active::after {
  height: 62px;
  width: 30px;
  display: inline-block;
  position: absolute;
  content: ' ';
  color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.service-three #myTabs .active::before {
  left: -30px;
  top: 0;
  background-image: url(../images/st-left.png);
}
.service-three #myTabs .active::after {
  right: -30px;
  top: 0;
  background-image: url(../images/st-right.png);
}
.service-three .tab-content > .tab-pane {
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  overflow: hidden;
}
.service-three .tab-content > .active {
  height: auto;
  opacity: 1;
}
<<<<<<< HEAD
.services-four {
  padding-top: 60px;
}
=======
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
.services-four #myTabs {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.services-four #myTabs li {
  position: relative;
  background-color: #2b2b2b;
  margin-right: 10px;
  border-radius: 20px;
}
.services-four #myTabs li a {
  color: white;
  padding: 5px;
}
.services-four #myTabs li a:hover {
  background-color: transparent;
  border-color: transparent;
}
.services-four #myTabs .new::after {
  position: absolute;
  right: 0;
  top: -15px;
  height: 22px;
  width: 33px;
  content: ' ';
  font-size: 1px;
  color: transparent;
  background-image: url(../images/sf-11.png);
  background-repeat: no-repeat;
}
.services-four #myTabs .active a {
  color: #3b77ff;
}
.services-four .nav-tabs > li.active > a,
.services-four .nav-tabs > li.active > a:focus,
.services-four .nav-tabs > li.active > a:hover {
  background-color: transparent;
  color: #3b77ff;
  border-color: transparent;
}
.services-four .sc-list-body {
<<<<<<< HEAD
  padding: 20PX 0;
  background-color: #252525;
}
=======
  padding: 20px 0;
  background-color: #252525;
}
.services-four .sc-list-body h1 {
  font-size: 28px;
  line-height: 60px;
  color: white;
  border-bottom: 1px solid #3A3A3A;
}
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
.services-four .sc-list-body .sci-body .sf-div-01 {
  display: flex;
  justify-content: space-between;
  color: #909090;
  line-height: 60px;
  font-size: 12px;
  letter-spacing: 2px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-share {
  display: inline-block;
  background-image: url(../images/sf-12.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: left center;
  padding-left: 25px;
  margin-right: 60px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-share-time {
  display: inline-block;
  margin: 0 20px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-phone-look {
  display: inline-block;
  background-image: url(../images/sf-13.png);
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-position: left center;
  padding-left: 25px;
  margin-left: 40px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-number {
  display: inline-block;
  color: #e75457;
  margin: 0 10px;
}
.services-four .sc-list-body .sci-body .sf-div-02 h3 {
  line-height: 60px;
  font-size: 16px;
  color: white;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list {
  display: flex;
  justify-content: left;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item {
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item img {
  display: block;
  width: 100%;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 14px;
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-four .sc-list-footer {
  padding: 40px 0;
  background-color: white;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header {
  display: flex;
  justify-content: space-between;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h3 {
  color: black;
  line-height: 32px;
  font-size: 16px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 {
  color: #909090;
  line-height: 32px;
  font-size: 14px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 .sf-comment-number {
  color: #e75457;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 .sf-comment-phone {
  display: inline-block;
  background-image: url(../images/sf-13.png);
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-position: left center;
  padding-left: 25px;
  margin-left: 40px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item:first-child {
  border-top: 1px solid #e0e0e0;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item {
  position: relative;
  min-height: 100px;
  padding: 20px 0 20px 80px;
  border-bottom: 1px solid #e0e0e0;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 50%;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item h1 {
  line-height: 40px;
  color: #b4b4b4;
  font-size: 14px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item h1 .comment-name {
  color: black;
  display: inline-block;
  margin-right: 30px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item p {
  font-size: 14px;
  line-height: 40px;
  color: #b4b4b4;
}
<<<<<<< HEAD
=======
.service-five {
  min-height: 1000px;
}
.service-five h1 {
  color: white;
  font-size: 28px;
  line-height: 80px;
  border-bottom: 1px solid #3A3A3A;
}
.service-five .sf-content {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.service-five .sf-content .sf-content-choice-div {
  position: absolute;
  right: 0;
  top: 20px;
  height: 80px;
  width: 68%;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-time {
  color: #7D7D7D;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-time .sf-btn {
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  color: #7d7d7d;
  line-height: 34px;
  border: none;
  background-color: #454545;
  margin-right: 5px;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-time input {
  color: white;
  line-height: 34px;
  border: none;
  width: 150px;
  background-color: #454545;
  padding: 0 15px;
  margin-left: 0px;
  margin-right: 10px;
  height: 34px;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-time input:nth-child(2) {
  margin-left: 10px;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-search-div {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 34px;
  line-height: 34px;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-search-div .choice-search-input {
  width: 200px;
  border: none;
  color: white;
  background-color: #454545;
  font-size: 14px;
  padding: 0 30px;
  line-height: 34px;
  background-image: url(../images/sf-search.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 8px center;
  margin-right: 5px;
  margin-left: 30px;
}
.service-five .sf-content .sf-content-choice-div .sf-content-choice .choice-search-div .btn-choice-search {
  border: none;
  font-size: 14px;
  padding: 0 30px;
  text-align: center;
  color: white;
  line-height: 34px;
  background-color: #454545;
}
.service-five .sf-content .sf-content-left {
  width: 30%;
}
.service-five .sf-content .sf-content-left .sf-nav {
  cursor: pointer;
  opacity: 0.4;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.service-five .sf-content .sf-content-left .sf-nav .sfn-left {
  position: relative;
}
.service-five .sf-content .sf-content-left .sf-nav .sfn-left img {
  width: 160px;
  height: 100px;
}
.service-five .sf-content .sf-content-left .sf-nav .sfn-right {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-five .sf-content .sf-content-left .sf-nav .sfn-right h2 {
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.service-five .sf-content .sf-content-left .sf-nav .sfn-right p {
  color: #656565;
  font-size: 14px;
  line-height: 40px;
}
.service-five .sf-content .sf-content-left .sf-nav-click {
  opacity: 1;
}
.service-five .sf-content .sf-content-right {
  margin-top: 55px;
  width: 68%;
}
.service-five .sf-content .sf-content-right .sfr-list {
  display: none;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item {
  display: block;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 20px;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item img {
  width: 100%;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item h3 {
  position: relative;
  color: #B3B3B3;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
  padding-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item p {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item:nth-child(3n) {
  margin-right: 0;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .sfcr-item:nth-child(n + 16) {
  display: none;
}
.service-five .sf-content .sf-content-right .sfr-list .sfr-list-div .video-img:hover {
  box-shadow: 0 0 10px rgba(59, 119, 255, 0.5);
}
.service-five .sf-content .sf-content-right .sfr-list .sfcr-item-hover h3:after {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 27px;
  height: 18px;
  content: ' ';
  font-size: 0;
  background-image: url(../images/sf-11.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}
.service-five .sf-content .sf-content-right .sfr-list-click {
  display: block;
}
.service-five .video-img {
  position: relative;
}
.service-five .video-img img {
  width: 100%;
}
.service-five .video-img:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  font-size: 0;
  background: rgba(0, 0, 0, 0.1);
  background-image: url(../images/st-13.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 11;
}
.services-sex .s-sex-content {
  position: relative;
  z-index: 99;
  margin-top: -80px;
  background-color: white;
}
.services-sex .s-sex-content .ssc-header {
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: #061F3E;
  line-height: 30px;
}
.services-sex .s-sex-content .ssc-list {
  position: relative;
  margin-bottom: 20px;
}
.services-sex .s-sex-content .ssc-list img {
  width: 100%;
}
.services-sex .s-sex-content .ssc-list .ssc-list-div {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(16, 35, 54, 0.5);
}
.services-sex .s-sex-content .ssc-list .ssc-list-div h1,
.services-sex .s-sex-content .ssc-list .ssc-list-div p {
  color: white;
  text-align: center;
}
.services-sex .s-sex-content .ssc-list .ssc-list-div h1 {
  font-size: 32px;
  line-height: 60px;
}
.services-sex .s-sex-content .ssc-list .ssc-list-div p {
  font-size: 16px;
  line-height: 30px;
  height: 150px;
  overflow: hidden;
}
.services-sex .s-sex-content a:nth-child(3n+1) .ssc-list-div {
  left: 0;
  width: 35%;
}
.services-sex .s-sex-content a:nth-child(3n+2) .ssc-list-div {
  right: 0;
  width: 45%;
}
.services-sex .s-sex-content a:nth-child(3n+3) .ssc-list-div {
  left: 0;
  width: 60%;
}
.serivices-sex-next {
  padding-top: 20px;
  min-height: 1000px;
}
.serivices-sex-next .ssn-body h1 {
  font-size: 32px;
  line-height: 60px;
}
.serivices-sex-next .ssn-body .ssnb-list {
  position: relative;
  min-height: 200px;
  padding: 20px 20px 20px 235px;
  border-bottom: 1px solid #EAEAEA;
}
.serivices-sex-next .ssn-body .ssnb-list img {
  position: absolute;
  left: 0;
  top: 20px;
  width: 220px;
  height: 160px;
}
.serivices-sex-next .ssn-body .ssnb-list h2 {
  font-size: 18px;
  color: #202020;
}
.serivices-sex-next .ssn-body .ssnb-list h3,
.serivices-sex-next .ssn-body .ssnb-list p {
  font-size: 14px;
  color: #A5A5A5;
}
.serivices-sex-next .ssn-body .ssnb-list h2,
.serivices-sex-next .ssn-body .ssnb-list h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.serivices-sex-next .ssn-body .ssnb-list p {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.serivices-sex-next .ssn-body .ssnb-list h2,
.serivices-sex-next .ssn-body .ssnb-list h3,
.serivices-sex-next .ssn-body .ssnb-list p {
  line-height: 40px;
}
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
