.cu-main{
    background-color: white;
    .cum-list{
        .cum-item{
            .cum-header{
                display: flex;
                flex-direction: row;
                padding: 20px 0;
                .cum-header-left{
                    width: 30%;
                    h1{
                        font-size: 16px;
                        line-height: 40px;
                        color: black
                    }
                    p{
                        font-size: 12px;
                        line-height: 26px;
                        color: #c2c2c2;
                    }
                }
                .cum-header-right{
                    h1{
                        font-size: 16px;
                        line-height: 40px;
                        color: #f30000;
                    }
                    p{
                        font-size: 14px;
                        line-height: 26px;
                        color: #8b8b8b
                    }
                }
            }
            .cum-item-content{
                display: none
            }
        }
    }
}