.index {
  padding-top: 0;
  background: none !important;
  padding-bottom: 100px;
}
.publication {
  position: relative;
  padding-bottom: 200px;
}
.publication .publication-white {
  padding-bottom: 200px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.publication .publication-black {
  padding-bottom: 200px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.publication .swiper-slide {
  cursor: pointer;
}
.publication .gallery-thumbs {
  height: 300px;
  padding: 50px 0;
  background-color: white;
}
.publication .gallery-thumbs .swiper-slide {
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-right: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.publication .gallery-thumbs .swiper-slide h1 {
  color: #000000;
  line-height: 40px;
  font-size: 22px;
  text-align: center;
}
.publication .gallery-thumbs .swiper-slide h2 {
  color: #000000;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
.publication .gallery-thumbs .swiper-slide p {
  color: #646464;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}
.publication .gallery-thumbs .swiper-slide-active {
  background-color: #ed1d8b;
}
.publication .gallery-thumbs .swiper-slide-active h1,
.publication .gallery-thumbs .swiper-slide-active h2 {
  color: white;
}
.publication .gallery-thumbs .swiper-slide-active p {
  color: #e0e0e0;
}
.publication .gallery-thumbs .swiper-slide-active:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  content: ' ';
  font-size: 1px;
  border: 8px solid #ed1d8b;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
}
.publication .gallery-top {
  height: auto;
  min-height: 600px;
  width: 1100px;
  background-color: white;
}
.publication .publication-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #efefef;
  z-index: 99;
}
.publication .publication-footer h1 {
  font-size: 20px;
  line-height: 100px;
  color: black;
}
.publication .publication-footer h2 {
  display: flex;
  justify-content: space-between;
  width: 180px;
  line-height: 100px;
  font-size: 20px;
  color: black;
  background-image: url(../images/publication-white.png);
  background-size: 70px 38px;
  background-position: center center;
  background-repeat: no-repeat;
}
.publication .publication-footer h2 .pf-white {
  color: #ed1d8b;
}
.publication .publication-footer a {
  color: #ed1d8b;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 100px;
}
.publication-black-hover .gallery-thumbs {
  background-color: #080a1c;
}
.publication-black-hover .publication-white {
  position: absolute;
  z-index: -1;
}
.publication-black-hover .publication-black {
  position: absolute;
  z-index: 1;
  background-color: #212333;
}
.publication-black-hover .publication-footer {
  background-color: #080a1c;
}
.publication-black-hover .publication-footer h1 {
  color: white;
}
.publication-black-hover .publication-footer h2 {
  background-image: url(../images/publication-black.png);
}
.publication-black-hover .publication-footer h2 .pf-black {
  color: #ed1d8b;
}
.publication-black-hover .publication-footer h2 .pf-white {
  color: gray;
}
.publication-black-hover .publication-next p {
  color: white;
}
.publication-black-hover .gallery-thumbs .swiper-slide {
  background-color: white;
}
.publication-black-hover .gallery-thumbs .swiper-slide-active {
  background-color: #ed1d8b;
  border: 1px solid #ed1d8b;
}
.publication-next {
  padding-top: 50px;
}
.publication-next h1 {
  font-size: 24px;
  line-height: 40px;
  color: #ed1d8b;
  text-align: center;
}
.publication-next p {
  font-size: 14px;
  text-align: center;
  color: #101010;
  line-height: 40px;
  margin-bottom: 10px;
}
.index {
  background: none;
}
