.index {
  padding-top: 0;
  background: none !important;
  padding-bottom: 0;
}
.services-one {
  padding: 20px 0;
  background-image: url(../images/so-02.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.services-one h1 {
  margin-top: 50px;
  font-size: 22px;
  line-height: 40px;
  color: black;
  text-align: center;
}
.services-one p {
  padding: 5px;
  font-size: 16px;
  line-height: 28px;
  color: #3f3f3f;
  text-align: center;
}
.services-two {
  padding-bottom: 100px;
}
.services-two h1 {
  padding: 50px 0 30px 0;
  font-size: 24px;
  color: black;
  line-height: 50px;
}
.services-two .st-nav-01 {
  display: flex;
  justify-content: space-between;
}
.services-two .st-nav-01 .st-item-01 {
  margin-right: 1%;
}
.services-two .st-nav-01 .st-item-01 img {
  width: 60px;
}
.services-two .st-nav-01 .st-item-01 h2 {
  font-size: 18px;
  color: black;
  line-height: 30px;
  padding-bottom: 5px;
}
.services-two .st-nav-01 .st-item-01 p {
  color: #696969;
  font-size: 14px;
  line-height: 24px;
}
.services-two h2 {
  color: #696969;
  padding: 5px 0;
  font-size: 14px;
  line-height: 40px;
}
.services-two .st-nav-02 {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.services-two .st-nav-02 .st-item-02 {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5%;
}
.services-two .st-nav-02 .st-item-02 img {
  width: 300px;
}
.services-two .st-nav-02 .st-item-02 p {
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
}
.services-two a {
  text-decoration: underline;
}
.service-three {
  position: relative;
  min-height: 100%;
  padding: 50px 0;
  background-image: url(../images/st-11.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.service-three .sc-item h1 {
  position: relative;
  left: 20px;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: white;
  background-color: #308dff;
  z-index: 99;
}
.service-three .sc-item h1::before,
.service-three .sc-item h1::after {
  height: 40px;
  width: 20px;
  display: inline-block;
  position: absolute;
  content: ' ';
  color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.service-three .sc-item h1::before {
  left: -20px;
  top: 0;
  background-image: url(../images/st-left.png);
}
.service-three .sc-item h1::after {
  right: -20px;
  top: 0;
  background-image: url(../images/st-right.png);
}
.service-three .sc-item h3 {
  position: relative;
  line-height: 60px;
  font-size: 30px;
  color: white;
  padding: 0 30px;
  margin-top: -30px;
  z-index: 99;
}
.service-three .sc-item .st-div {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
}
.service-three .sc-item .st-div .st-swiper {
  position: relative;
  width: 66%;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide {
  position: relative;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide h2 {
  position: absolute;
  top: 73%;
  left: 30px;
  font-size: 22px;
  line-height: 60px;
  color: white;
}
.service-three .sc-item .st-div .st-swiper .swiper-slide p {
  position: absolute;
  width: 100%;
  background-image: url(../images/st-12.png);
  background-repeat: no-repeat;
  top: 85%;
  left: 30px;
  font-size: 14px;
  line-height: 32px;
  color: white;
}
.service-three .sc-item .st-div .st-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
}
.service-three #myTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.service-three #myTabs li {
  border: none;
  padding: 0 30px;
  line-height: 60px;
  margin: 0 10px;
}
.service-three #myTabs li a {
  line-height: 60px;
  padding: 0;
}
.service-three #myTabs .active {
  background-color: #308dff;
}
.service-three #myTabs .active a {
  background-color: transparent;
  color: white;
  border: none;
}
.service-three #myTabs a:hover {
  background-color: transparent;
  border-color: transparent;
}
.service-three #myTabs .active::before,
.service-three #myTabs .active::after {
  height: 62px;
  width: 30px;
  display: inline-block;
  position: absolute;
  content: ' ';
  color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.service-three #myTabs .active::before {
  left: -30px;
  top: 0;
  background-image: url(../images/st-left.png);
}
.service-three #myTabs .active::after {
  right: -30px;
  top: 0;
  background-image: url(../images/st-right.png);
}
.service-three .tab-content > .tab-pane {
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  overflow: hidden;
}
.service-three .tab-content > .active {
  height: auto;
  opacity: 1;
}
.services-four {
  padding-top: 60px;
}
.services-four #myTabs {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.services-four #myTabs li {
  position: relative;
  background-color: #2b2b2b;
  margin-right: 10px;
  border-radius: 20px;
}
.services-four #myTabs li a {
  color: white;
  padding: 5px;
}
.services-four #myTabs li a:hover {
  background-color: transparent;
  border-color: transparent;
}
.services-four #myTabs .new::after {
  position: absolute;
  right: 0;
  top: -15px;
  height: 22px;
  width: 33px;
  content: ' ';
  font-size: 1px;
  color: transparent;
  background-image: url(../images/sf-11.png);
  background-repeat: no-repeat;
}
.services-four #myTabs .active a {
  color: #3b77ff;
}
.services-four .nav-tabs > li.active > a,
.services-four .nav-tabs > li.active > a:focus,
.services-four .nav-tabs > li.active > a:hover {
  background-color: transparent;
  color: #3b77ff;
  border-color: transparent;
}
.services-four .sc-list-body {
  padding: 20PX 0;
  background-color: #252525;
}
.services-four .sc-list-body .sci-body .sf-div-01 {
  display: flex;
  justify-content: space-between;
  color: #909090;
  line-height: 60px;
  font-size: 12px;
  letter-spacing: 2px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-share {
  display: inline-block;
  background-image: url(../images/sf-12.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: left center;
  padding-left: 25px;
  margin-right: 60px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-share-time {
  display: inline-block;
  margin: 0 20px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-phone-look {
  display: inline-block;
  background-image: url(../images/sf-13.png);
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-position: left center;
  padding-left: 25px;
  margin-left: 40px;
}
.services-four .sc-list-body .sci-body .sf-div-01 .sf-number {
  display: inline-block;
  color: #e75457;
  margin: 0 10px;
}
.services-four .sc-list-body .sci-body .sf-div-02 h3 {
  line-height: 60px;
  font-size: 16px;
  color: white;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list {
  display: flex;
  justify-content: left;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item {
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item img {
  display: block;
  width: 100%;
}
.services-four .sc-list-body .sci-body .sf-div-02 .sf-div-list .sf-div-item h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 14px;
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-four .sc-list-footer {
  padding: 40px 0;
  background-color: white;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header {
  display: flex;
  justify-content: space-between;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h3 {
  color: black;
  line-height: 32px;
  font-size: 16px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 {
  color: #909090;
  line-height: 32px;
  font-size: 14px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 .sf-comment-number {
  color: #e75457;
}
.services-four .sc-list-footer .sf-comment .sf-comment-header h4 .sf-comment-phone {
  display: inline-block;
  background-image: url(../images/sf-13.png);
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-position: left center;
  padding-left: 25px;
  margin-left: 40px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item:first-child {
  border-top: 1px solid #e0e0e0;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item {
  position: relative;
  min-height: 100px;
  padding: 20px 0 20px 80px;
  border-bottom: 1px solid #e0e0e0;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 50%;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item h1 {
  line-height: 40px;
  color: #b4b4b4;
  font-size: 14px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item h1 .comment-name {
  color: black;
  display: inline-block;
  margin-right: 30px;
}
.services-four .sc-list-footer .sf-comment .sf-comment-body .sf-comment-item p {
  font-size: 14px;
  line-height: 40px;
  color: #b4b4b4;
}
