.index{
    padding-top: 0;
    background:none !important;
    padding-bottom: 0;
}
.services-one{
    padding: 20px 0;
    background-image: url(../images/so-02.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    h1{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
        color: black;
        text-align: center;
    }
    p{
        padding: 5px;
        font-size: 16px;
        line-height: 28px;
        color: #3f3f3f;
        text-align: center;
    }
    h1,h2,h3,h4,p{
        background-color: transparent !important;
    }
    .so-div-bg{
        position: relative;
        p{
            position: absolute;
            font-size: 14px;
            color: black;
            width: 400px;
            height: 20px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            padding: 0;
        }
        p:nth-child(2)
        ,p:nth-child(4){
            top: 5%;
        }
        p:nth-child(3)
        ,p:nth-child(5){
            top: 21%;
        }
        p:nth-child(6)
        ,p:nth-child(8){
            top: 40%;
        }
        p:nth-child(7)
        ,p:nth-child(9){
            top: 55%;
        }
        p:nth-child(10)
        ,p:nth-child(12){
            top: 74%;
        }
        p:nth-child(11)
        ,p:nth-child(13){
            top: 89%;
        }
        p:nth-child(2){
            left: 12%;
        }
        p:nth-child(3){
            left: 4%;
        }
        p:nth-child(4){
            left: 51%;
        }
        p:nth-child(5){
            left: 42%;
        }
        p:nth-child(6){
            left: 22%;
        }
        p:nth-child(7){
            left: 15%;
        }
        p:nth-child(8){
            left: 75%;
        }
        p:nth-child(9){
            left: 67%;
        }
        p:nth-child(10){
            left: 16%;
        }
        p:nth-child(11){
            left: 8%;
        }
        p:nth-child(12){
            left: 61%;
        }
        p:nth-child(13){
            left: 53%;
        }
        
        
    }
}

.services-two{
    padding-bottom: 100px;
    h1{
        padding: 50px 0 30px 0;
        font-size: 30px;
        color: black;
        line-height: 50px;
        a{
            color: #f2454b;
            font-size: 12px;
            line-height: 14px;
            display: inline-block;
            background-image: url(../images/arrow-1.png);
            background-size: 10px 12px;
            padding-right: 15px;
            background-position: right center;
            background-repeat: no-repeat; 
        }
    }
    .st-nav-01{
        display: flex;
        justify-content: space-between;
        .st-item-01{
            margin-right:1%;
            img{
                width: 60px;
            }
            h2{
                font-size: 22px;
                color: black;
                line-height: 30px;
                padding-bottom: 5px;
            }
            p{
                color: #696969;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
    h2{
        color: #696969;
        padding: 5px 0;
        font-size: 14px;
        line-height: 40px;
    }
    .st-nav-02{
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 30px 0;
        .st-item-02{
            position: relative;
//          width: 450px;
            display: flex;
            justify-content: center;
            margin-right: 2%;
            margin-bottom: 20px;
            img{
                display:inline-block;
//              width: 300px!important;
                height: 240px;
            }
            p{
                width: 160px;
                padding: 0 10px;
                display: inline-block;
                font-size: 14px;
                line-height: 24px;
            }
            .st-btn-more{
                position: absolute;
                right: 10px;
                bottom: 0; 
                color: #7f441b;
                font-size: 14px;
                text-align: center;
                line-height: 26px;
                height: 26px;
                overflow: hidden;
                width: 137px;
                background-color: #f9ad79;
            }
        }
        .st-item-02:nth-child(2){
            .st-btn-more{
                background-color: #827db5;
                color: #312e50;
            }
        }
        .st-item-02:nth-child(3){
            .st-btn-more{
                background-color: #d44b53;
                color: #501d20;
            }
        }
    }
    a:nth-child(n+4){text-decoration:underline}


}
.service-three{
    position: relative;
    min-height: 100%;
    padding: 50px 0;
    background-image: url(../images/st-11.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .sc-item{
        h1{
            position: relative;
            left: 20px;
            display: inline-block;
            font-size: 20px;
            line-height: 40px;
            color: white;
            background-color: #308dff;
            z-index: 99;
        }
        h1::before,h1::after{
            height: 40px;
            width: 20px;
            display: inline-block;
            position: absolute;
            content: ' ';
            color: transparent;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        h1::before{
            left: -20px;
            top: 0;
            background-image: url(../images/st-left.png);
        }
        h1::after{
            right: -20px;
            top: 0;
            background-image: url(../images/st-right.png);
        }
        h3{
            position: relative;
            line-height: 60px;
            font-size: 30px;
            color: white;
            padding: 0 30px;
            margin-top:-30px; 
            z-index: 99;
        }
        .st-div{
            margin-top:-10px; 
            display: flex;
            justify-content: space-between;
            .st-swiper{
                position: relative;
                width: 66%;
                .swiper-slide{
                    position: relative;
                    h2{
                        position: absolute;
                        top: 73%;
                        left: 30px;
                        font-size: 22px;
                        line-height: 60px;
                        color: white;
                    }
                    p{
                        position: absolute;
                        width: 100%;
                        background-image: url(../images/st-12.png);
                        background-repeat: no-repeat;
                        top: 85%;
                        left: 30px;
                        font-size: 14px;
                        line-height: 32px;
                        color: white;
                    }
                }
            }
            .st-right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 32%;
            }
        }
    }
    #myTabs{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        li{
            border: none;
            padding: 0 30px;
            line-height: 60px;
            margin: 0 10px;
            a{
                line-height: 60px;
                padding: 0;
            }
        }
        .active{
            background-color: #308dff;
            a{
                background-color: transparent;
                color: white;
                border: none;
            }
        }

        a:hover{
            background-color: transparent;
            border-color: transparent;
        }
        .active::before,.active::after{
            height: 62px;
            width: 30px;
            display: inline-block;
            position: absolute;
            content: ' ';
            color: transparent;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .active::before{
            left: -30px;
            top: 0;
            background-image: url(../images/st-left.png);
        }
        .active::after{
            right: -30px;
            top: 0;
            background-image: url(../images/st-right.png);
        }
    }
    .tab-content>.tab-pane{
        position: relative;
        opacity: 0;
        display: block;
        height: 0;
        overflow: hidden;
    }
    .tab-content>.active{
        height: auto;
        opacity: 1;
    }
}
.services-four{
    #myTabs{
        background-color: transparent;
        border-color: transparent;
        color: white;
        li{
            position: relative;
            background-color: #2b2b2b;
            margin-right: 10px;
            border-radius: 20px;
            a{
                color: white;
                padding: 5px;
            }
            a:hover{
                background-color: transparent;
                border-color: transparent;
            }
        }
        .new::after{
            position: absolute;
            right: 0;
            top: -15px;
            height: 22px;
            width: 33px;
            content: ' ';
            font-size: 1px;
            color: transparent;
            background-image: url(../images/sf-11.png);
            background-repeat: no-repeat;
            
        }
        .active{
            a{
                color: #3b77ff;
            }
        }
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
            background-color: transparent;
            color: #3b77ff;
            border-color: transparent;
    }
    .sc-list-body{
        padding: 20px 0;
        background-color: #252525;
        h1{
            font-size: 28px;
            line-height: 60px;
            color: white;
            border-bottom: 1px solid #3A3A3A;
        }
        .sci-body{
            .sf-div-01{
                display: flex;
                justify-content: space-between;
                color: #909090;
                line-height: 60px;
                font-size: 12px;
                letter-spacing: 2px;
                .sf-share{
                    display: inline-block;
                    background-image: url(../images/sf-12.png);
                    background-repeat: no-repeat;
                    background-size: 15px 15px;
                    background-position: left center;
                    padding-left: 25px;
                    margin-right: 60px;
                }
                .sf-share-time{
                    display: inline-block;
                    margin: 0 20px;
                }
                .sf-phone-look{
                    display: inline-block;
                    background-image: url(../images/sf-13.png);
                    background-repeat: no-repeat;
                    background-size: 12px 14px;
                    background-position: left center;
                    padding-left: 25px;
                    margin-left: 40px;
                }
                .sf-number{
                    display: inline-block;
                    color: #e75457;
                    margin: 0 10px;
                }
            }
            .sf-div-02{
                h3{
                    line-height: 60px;
                    font-size: 16px;
                    color: white
                }
                .sf-div-list{
                    display: flex;
                    justify-content: left;
                    .sf-div-item{
                        position: relative;
                        overflow: hidden;
                        margin-right: 15px;
                        img{
                            display: block;
                            width: 100%
                        }
                        h4{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            color: white;
                            font-size: 14px;
                            line-height: 40px;
                            padding: 0 10px;
                            height: 40px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    .sc-list-footer{
        padding: 40px 0;
        background-color: white;
        .sf-comment{
            .sf-comment-header{
                display: flex;
                justify-content: space-between;
                h3{
                    color: black;
                    line-height: 32px;
                    font-size: 16px;
                }
                h4{
                    color: #909090;
                    line-height: 32px;
                    font-size: 14px;
                    .sf-comment-number{
                        color:#e75457;
                    }
                    .sf-comment-phone{
                        display: inline-block;
                        background-image: url(../images/sf-13.png);
                        background-repeat: no-repeat;
                        background-size: 12px 14px;
                        background-position: left center;
                        padding-left: 25px;
                        margin-left: 40px;
                    }
                }
            }
            .sf-comment-body{
                .sf-comment-item:first-child{
                    border-top: 1px solid #e0e0e0;
                }
                .sf-comment-item{
                    position: relative;
                    min-height: 100px;
                    padding: 20px 0 20px 80px;
                    border-bottom: 1px solid #e0e0e0;
                    img{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 60px;
                        height: 60px;
                        margin-top: -30px;
                        border-radius: 50%;
                    }
                    h1{
                        line-height: 40px;
                        color: #b4b4b4;
                        font-size: 14px;
                        .comment-name{
                            color: black;
                            display: inline-block;
                            margin-right: 30px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 40px;
                        color: #b4b4b4;
                    }
                }
            }
        }
    }
}
.service-five{
    min-height: 1000px;
    h1{
        color: white;
        font-size: 28px;
        line-height: 80px;
        border-bottom: 1px solid #3A3A3A;
    }
    .sf-content{
        position: relative;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        .sf-content-choice-div{
            position: absolute;
            right: 0;
            top: 20px;
            height: 80px;
            width: 68%;
            .sf-content-choice{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .choice-time{
                    color: #7D7D7D;
                    text-align: center;
                    font-size: 14px;
                    display: flex;
                    justify-content: flex-start;
                    .sf-btn{
                        height: 100%;
                        padding: 0 20px;
                        font-size: 14px;
                        color: #7d7d7d;
                        line-height: 34px;
                        border: none;
                        background-color: #454545;
                        margin-right: 5px;
                    }
                    input{
                        color: white;
                        line-height: 34px;
                        border: none;
                        width: 150px;
                        background-color: #454545;
                        padding: 0 15px;
                        margin-left: 0px;
                        margin-right: 10px;
                        height: 34px;
                    }
                    input:nth-child(2){
                        margin-left: 10px;
                    }
                }
                .choice-search-div{
                    margin:  0;
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    height: 34px;
                    line-height: 34px;
                    .choice-search-input{
                        width: 200px;
                        border: none;
                        color: white;
                        background-color: #454545;
                        font-size: 14px;
                        padding: 0 30px;
                        line-height: 34px;
                        background-image: url(../images/sf-search.png);
                        background-repeat: no-repeat;
                        background-size: 14px 14px;
                        background-position: 8px center;
                        margin-right: 5px;
                        margin-left: 30px;
                    }
                    .btn-choice-search{
                        border: none;
                        font-size: 14px;
                        padding: 0 30px;
                        text-align: center;
                        color: white;
                        line-height: 34px;
                        background-color: #454545;
                        
                    }
                }
                
            }
        }
        .sf-content-left{
            width: 30%;
            .sf-nav{
                cursor: pointer;
                opacity: 0.4;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 20px;
                .sfn-left{
                    position: relative;
                    img{
                        width: 160px;
                        height: 100px;
                    }
                }
                .sfn-right{
                    padding: 0 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2{
                        font-size: 20px;
                        color: white;
                        line-height: 40px;
                    }
                    p{
                        color: #656565;
                        font-size: 14px;
                        line-height: 40px;;
                    }
                }
            }
            .sf-nav-click{
                opacity: 1;
            }
        }
        .sf-content-right{
            margin-top: 55px;
            width: 68%;
            .sfr-list{
                display: none;
                .sfr-list-div{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .sfcr-item{
                        display: block;
                        width: 32%;
                        margin-right: 2%;
                        margin-bottom: 20px;
                        img{
                            width: 100%;
                        }
                        h3{
                            position: relative;
                            color: #B3B3B3;
                            font-size: 16px;
                            line-height: 24px;
                            height: 40px;
                            padding-top: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            z-index: 99;
                            
                        }
                        p{
                            color: #4f4f4f;
                            font-size: 12px;
                            line-height: 18px;
                            height: 18px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .sfcr-item:nth-child(3n){
                        margin-right: 0;
                    }
                    .sfcr-item:nth-child(n + 16){
                        display: none;
                    }
                    .video-img:hover{
                        box-shadow: 0 0 10px rgba(59,119,255,0.5);
                    }
                    
                }
                .sfcr-item-hover{
                    h3:after{
                        position: absolute;
                        right: 20px;
                        top: 5px;
                        width: 27px;
                        height: 18px;
                        content: ' ';
                        font-size: 0;
                        background-image: url(../images/sf-11.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        z-index: 999;
                    }
                }
                
            }
            .sfr-list-click{
                display: block;
            }
        }
    }
    
    .video-img{
        position: relative;
        img{
            width: 100%;
        }
    }
    .video-img:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        font-size: 0;
        background: rgba(0,0,0,.1);
        background-image: url(../images/st-13.png);
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 11;
    }
    
}
.services-sex{
    .s-sex-content{
        position: relative;
        z-index: 99;
        margin-top: -80px;
        background-color: white;
        .ssc-header{
            height: 160px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            font-size: 16px;
            color: #061F3E;
            line-height: 30px;
        }
        .ssc-list{
            position: relative;
            margin-bottom: 20px;
            img{
                width: 100%;
            }
            .ssc-list-div{
                position: absolute;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 20px;
                background-color: rgba(16,35,54,.5);
                h1,p{
                    color: white;
                    text-align: center;
                }
                h1{
                    font-size: 32px;
                    line-height: 60px;
                }
                p{
                    font-size: 16px;
                    line-height: 30px;
                    height: 150px;
                    overflow: hidden;
                }
            }
        }
        a:nth-child(3n+1){
            .ssc-list-div{
                left: 0;
                width: 35%;
            }
        }
        a:nth-child(3n+2){
            .ssc-list-div{
                right: 0;
                width: 45%;
            }
        }
        a:nth-child(3n+3){
            .ssc-list-div{
                left: 0;
                width: 60%;
            }
        }
    }
    
}

.serivices-sex-next{
    padding-top: 20px;
    min-height: 1000px;
    .ssn-body{
        h1{
            font-size: 32px;
            line-height: 60px;
        }
        .ssnb-list{
            position: relative;
            min-height: 200px;
            padding: 20px 20px 20px 235px;
            border-bottom: 1px solid #EAEAEA;
            img{
                position: absolute;
                left: 0;
                top: 20px;
                width: 220px;
                height: 160px;
            }
            h2{
                font-size: 18px;
                color: #202020;
            }
            h3,p{
                font-size: 14px;
                color: #A5A5A5;
            }
            h2,h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                height: 80px;
//              white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            h2,h3,p{
                line-height: 40px;
            }
        }
    }
}














