.index{
    padding-top: 0;
    background:none !important;
    padding-bottom: 0;
}
//定义变量
@bottom-height:80px;
html,body{
    background-color: #141414;
}
.team-style{
    position: relative;
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination{
        display: none !important;
    }
    .btn-left{
        position: absolute;
        left: -100px;
        background-image: url(../images/btn-left-arrow.png);
        
    }
    .btn-right{
        position: absolute;
        right: -100px;
        background-image: url(../images/btn-right-arrow.png);
    }
    .btn-left,
    .btn-right{
        position: absolute;
        margin-top: -43px;
        top: 50%;
        width: 48px;
        height: 86px;
        background-size: 100% 100%;
        border: none;
        background-color: transparent;
        font-size: 0;
        
    }
    .teamstyle-swiper{
        padding-bottom: @bottom-height;
        .swiper-slide{
            position: relative;
            img{
                width: 1100px;
                height: 720px;
            }
            h1{
                line-height: 70px;
                color: white;
                font-size: 30px;
            }
            p{
                color: #969696;
                line-height: 28px;
                font-size: 16px;
            }
        }
        .swiper-pagination-bullet{
            background-color: #cccccc;
        }
        .swiper-pagination-bullet-active{
            background-color: white;
        }
    }
}