body {
  margin: 0;
  background-image: none;
  position: static;
  left: auto;
  width: 10rem;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#base {
  position: absolute;
  z-index: 0;
}
#u23_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.14666667rem;
}
#u23 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.14666667rem;
}
#u23_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u24_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 1.37333333rem;
}
#u24 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 1.14666667rem;
  width: 10rem;
  height: 1.37333333rem;
}
#u24_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u25_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 13.48rem;
}
#u25 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 2.52rem;
  width: 10rem;
  height: 13.48rem;
}
#u25_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u26 {
  border-width: 0;
  position: absolute;
  left: 1.45333333rem;
  top: 0.2rem;
  width: 6.64rem;
  height: 0.70666667rem;
}
#u26_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 6.64rem;
  height: 0.70666667rem;
  background-color: transparent;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 0.17333333rem;
  text-decoration: none;
  color: #000000;
  text-align: left;
  border-color: transparent;
  outline-style: none;
}
#u27_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.32rem;
  height: 1.14666667rem;
}
#u27 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.32rem;
  height: 1.14666667rem;
}
#u27_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u28_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 13.48rem;
}
#u28 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 16.04rem;
  width: 10rem;
  height: 13.48rem;
}
#u28_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}