body {
  margin: 0;
  background-image: none;
  position: static;
  left: auto;
  width: 10rem;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#base {
  position: absolute;
  z-index: 0;
}
#u0_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 5.42666667rem;
}
#u0 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 5.42666667rem;
}
#u0_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u1_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.36rem;
  height: 2.61333333rem;
}
#u1 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 5.42666667rem;
  width: 2.36rem;
  height: 2.61333333rem;
}
#u1_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u2_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.70666667rem;
  height: 2.61333333rem;
}
#u2 {
  border-width: 0;
  position: absolute;
  left: 2.36rem;
  top: 5.42666667rem;
  width: 2.70666667rem;
  height: 2.61333333rem;
}
#u2_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u3_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.46666667rem;
  height: 2.61333333rem;
}
#u3 {
  border-width: 0;
  position: absolute;
  left: 5.06666667rem;
  top: 5.42666667rem;
  width: 2.46666667rem;
  height: 2.61333333rem;
}
#u3_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u4_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.46666667rem;
  height: 2.61333333rem;
}
#u4 {
  border-width: 0;
  position: absolute;
  left: 7.53333333rem;
  top: 5.42666667rem;
  width: 2.46666667rem;
  height: 2.61333333rem;
}
#u4_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u5_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 2.52rem;
}
#u5 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 8.04rem;
  width: 10rem;
  height: 2.52rem;
}
#u5_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u6_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 3.58666667rem;
}
#u6 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 10.56rem;
  width: 10rem;
  height: 3.58666667rem;
}
#u6_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u7_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 3.02666667rem;
}
#u7 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 14.14666667rem;
  width: 10rem;
  height: 3.02666667rem;
}
#u7_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u8 {
  border-width: 0;
  position: absolute;
  left: 1.86666667rem;
  top: 4.13333333rem;
  width: 7.30666667rem;
  height: 1rem;
}
#u8_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 7.30666667rem;
  height: 1rem;
  font-family: '\601D\6E90\9ED1\4F53   CN';
  font-weight: 400;
  font-style: normal;
  font-size: 0.34666667rem;
  text-decoration: none;
  color: #999999;
  text-align: left;
  border-color: transparent;
  outline-style: none;
}
#u9_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 14.78666667rem;
}
#u9 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 15.58666667rem;
  width: 10rem;
  height: 14.78666667rem;
}
#u9_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}
#u10_img {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 13.45333333rem;
}
#u10 {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 29.14666667rem;
  width: 10rem;
  height: 13.45333333rem;
}
#u10_text {
  border-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  visibility: hidden;
  word-wrap: break-word;
}