.hdgz{
	padding: 10px;
}
.hdgz h1{
	font-size: 18px;
	line-height: 40px;
	color: #45b27b;
	text-align: center;
}
.hdgz p{
	font-size: 14px;
	line-height: 24px;
	color: black;
}
.r-btn-return{
	display: block;
	width: 60%;
	line-height: 40px;
	background-color: #45B27B;
	color: white;
	text-align: center;
	margin: 20px auto;
	border-radius: 20px;
}
