.index{
    padding-top: 0;
    background:none !important;
    padding-bottom: 0;
}
.about-us{
<<<<<<< HEAD
=======
    padding-top: 200px !important;
    background-image: url(../images/new/au-31.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    .au-content-div{
        display: flex;
        justify-content: space-between;
        .auc-left
        ,.auc-right{
            width: 46%;
        }
        .auc-left{
            h4{
                right: -68px;
            }
        }
        .auc-right{
            margin-top: -10px;
            h1{
                font-size: 32px;;
                line-height: 60px;
                color: white;
            }
            p{
                font-size: 14px;
                color: white;
                line-height: 24px;
                margin-bottom: 40px;
            }
            h4{
                left: -68px;
            }
        }
        .au-share-logo{
            margin-bottom: 18px;;
        }
        .auc-font-div{
            position: relative;
            margin: 60px 0;
            padding: 60px;
            border: 1px solid #E0E0E0;
            background-color: white;
            p{
                font-size: 14px;
                line-height: 24px;
                color: black;
            }
        }
        .auc-img-div{
            position: relative;
            img{
                width: 100%;
                display: block;
            }
            h4{
                position: absolute;
                top: 55%;
                font-size: 32px;
                line-height: 50px;
                color: #202020;
                span{
                    color: white;
                }
            }
        }
        .auc-font-div:before
        ,.auc-font-div:after{
            position: absolute;
            left: 50%;
            content: ' ';
            font-size: 1px;
            height: 60px;
            width: 2px;
            background-color: #E0E0E0;
        }
        .auc-font-div:before{
            top: -60px;
        }
        .auc-font-div:after{
            bottom: -60px;
        }
    }
}
.about-us-old{
>>>>>>> 214275f83e3bbb34e480b496b55c0fb1dc343785
    .au-div-01{
        position: relative;
        .au-div{
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -550px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 99;
            h1{
                color: white;
                line-height: 50px;
                font-size: 30px;
                text-align: center;
            }
            p{
                font-size: 16px;
                line-height: 28px;
                color: white;
                text-align: center;
            }
        }
        
    }
    .au-div-02{
        position: relative;
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        .au-02-left{
            width: 50%;
        }
        .au-02-right{
            margin-top: -200px;
            position: relative;
            width: 50%;
            padding-top: 50px;
            text-align: right;
            .au-share-img{
                position: absolute;
                top: 0;
                right: 0;
            }
            .aur-div{
                display: inline-block;
                width: 500px;
                height: 500px;
                background-color: #2288ff;
            }
        }
        .au-02-img{
            position: absolute;
            bottom: -80px;
            left: -15%;
            z-index: 99;
        }
        h1{
            font-size: 30px; 
            color: black;
            line-height: 50px;
        }
        p{
            color: #636768;
            font-size: 16px;
            line-height: 28px;
        }
    }
    .au-div-03{
        position: relative;
        padding: 30px 0 100px 0; 
        p{
            font-size: 16px;
            line-height: 28px;
            color: black;
        }
    }
}