body{
	background-color: #F9F9F9;
}
.personal-center{
	font-family: "微软雅黑";
	letter-spacing: 1px;
}
.pc-ul{
	margin-bottom: 15px;
}
.mui-table-view-cell::after{
	left: 0;
}

.pc-ul-01 li
,.pc-ul-02 li{
	padding: 14px 15px 14px 30px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 10px center;
	font-size: 16px;
}
.pc-ul-01 li:nth-child(1){
	background-image: url(../images/zx-pc-01.png);
}
.pc-ul-01 li:nth-child(2){
	background-image: url(../images/zx-pc-02.png);
}
.pc-ul-01 li:nth-child(3){
	background-image: url(../images/zx-pc-03.png);
}
.pc-ul-02 li:nth-child(1){
	background-image: url(../images/zx-pc-04.png);
}
.pc-ul-02 li:nth-child(2){
	background-image: url(../images/zx-pc-05.png);
}
.pc-ul-02 li:nth-child(3){
	background-image: url(../images/zx-pc-06.png);
}
.pc-ul-02 li:nth-child(4){
	background-image: url(../images/zx-pc-07.png);
}
.mui-scroll-wrapper{
	position: relative;
	overflow: visible;
}
.pc-header{
	position: relative;
	padding: 32px 10px 32px 110px;
	background-color:#009C84;
}
.pch-btn-modify{
	position: absolute;
	left: 20px;
	top: 25px;
	border: none;
	width: 16px;
	height: 16px;
	background-color: transparent;
	background-image: url(../images/zx-pc-10.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0;
}
.pch-img-div{
	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -35px;
	width: 70px;
	height: 70px;
	padding: 3px;
	background-color: #85d0c4;
	border-radius: 50%;
}
.pch-img-bg{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 50%;
	padding: 2px;
}
.pch-img-div img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.pc-header h1{
	color: white;
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	margin-bottom: 0;
}
