body{ 
	letter-spacing: 2px;
	min-width: 320px;
	min-height: 480px;
	max-width: 768px;
	margin: auto;
	position: relative;
}
.index
,.record{
	background-color: #c51613;
	letter-spacing: 2px;
	position: relative;
	
}
.border-none{
	border: none!important;
}
.img-100{display: block;width: 100%;} 
