h1{
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    color: #000000;
    font-weight: bold;
}
.table-01{
    width: 200px;
    margin-left: 40px;
}
.table-01 td{
    border: 1px solid #167a6a;
    text-align: center;
    line-height: 30px;
}