<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<!-- 使用最新的ie内核渲染 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 移动设备优先, 禁止缩放 -->
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">
		<!-- 国产浏览器(360)使用webkit内核 -->
		<meta name="renderer" content="webkit">
		<!-- 禁止识别为手机号码 -->
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<title>名称</title>
		<style type="text/css">

		</style>
	</head>

	<body>
		<button οnclick="test()">video</button>
		<ul th:each="videoUrl:${videoList}" id="ulVideo" style="display:none">
			<li th:text=${videoUrl}></li>
		</ul>
		<video style="display:none" controls="controls" name="media" id="divVideo">
			<source type="video/mp4">
		</video>
	</body>
	<script src="js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		function unique(arr) {
			var aa = [];
				for(var i = 0; i < arr.length; i++) {
					for(var j = i + 1; j < arr.length; j++) {
						if(arr[i] == arr[j]) { //第一个等同于第二个，splice方法删除第二个
							aa.push(j+i)
							arr.splice(j, 1);
							j--;
						}
					}
				}
				console.log('111',aa)
			return arr;
		}
		var arr = [1, 1, 'true', 'true', true, true, 15, 15, false, false, undefined, undefined, null, null, NaN, NaN, 'NaN', 0, 0, 'a', 'a', {}, {}];
		console.log(unique(arr))
	</script>

</html>