/* 0 ~ 360 */
/*@media screen and (max-width: 360px) {
  div.house-toggle-house {
    padding-left: .12rem;
  }
  div.hth-header {
    padding-left: 132px;
  }
  div.hth-header img {
    width: 1.2rem;
    height: .9rem;
  }
}*/
.house {
  padding: 0;
}
.house .house-more {
  padding-top: .4rem;
}
.house .house-more p {
  line-height: .24rem;
  font-size: .14rem;
  color: #666666;
  text-align: center;
}
.house .house-header {
  position: relative;
  padding: .1rem .2rem;
  border-radius: .08rem;
}
.house .house-header h2 {
  line-height: .2rem;
  color: #727272;
  font-size: .14rem;
}
.house .house-header h5 {
  position: absolute;
  right: .15rem;
  top: .4rem;
  float: right;
  color: #323232;
  font-size: .16rem;
  line-height: normal;
  border-radius: .16rem;
  border: .01rem solid #E0E0E0;
  padding: 0.06rem .1rem;
}
.house .house-header h3 {
  color: #999999;
  font-size: .16rem;
  line-height: .32rem;
}
.house .house-header .house-header-bottom {
  margin-top: .1rem;
  border-top: .01rem solid #F0F0F0;
}
.house .house-header .house-header-other {
  color: #FF8F29;
  font-size: .14rem;
  line-height: .4rem;
  background-image: url(../images/arrow@2x.png);
  background-size: .075rem .135rem;
  background-position: center right;
  background-repeat: no-repeat;
}
.house .house-header-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.house .house-header-top h1 {
  display: inline-block;
  font-size: .17rem;
  color: #333333;
  line-height: .32rem;
  font-weight: bold;
}
.house .house-header-top p {
  display: inline-block;
  color: #303030;
  font-size: .12rem;
  padding: 0 .1rem;
  background-color: #F5F5F5;
  line-height: .2rem;
  height: .2rem;
  border-radius: .04rem;
  margin: .06rem 0 .06rem .1rem;
}
.house .house-footer-click {
  padding: 0 .12rem;
  height: .32rem;
  margin-top: -.16rem;
  position: absolute;
  top: 50%;
  right: .3rem;
  border: none;
  font-size: .14rem;
  color: transparent;
  background-image: url(../images/change-icon@2x.png);
  background-repeat: no-repeat;
  background-size: .2rem .2rem;
  background-position: right center;
}
.house .house-footer-click-now {
  z-index: 99;
  right: .2rem;
  color: #333333;
  margin-top: -.16rem;
  line-height: .32rem;
  border: .01rem solid #CCCCCC;
  border-radius: .16rem;
  font-size: .01rem;
  background: none;
}
.house .house-user-list {
  padding: .2rem .2rem .2rem .6rem;
  position: relative;
}
.house .house-user-list img {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -.23rem;
  width: .46rem;
  height: .46rem;
  border-radius: 50%;
}
.house .house-user-list h3 {
  font-size: .14rem;
  line-height: .22rem;
  color: #666666;
}
.house .house-user-list h4 {
  font-size: .13rem;
  line-height: .24rem;
  color: #979797;
}
.house .house-body {
  padding: .2rem;
}
.house .house-body .hb-top {
  display: flex;
  justify-content: space-between;
}
.house .house-body .hb-top h1 {
  font-size: .17rem;
  line-height: .4rem;
  color: #363636;
  font-weight: bold;
}
.house .house-body .hb-top .hbt-btn-rhyq {
  color: #27396A;
  font-size: .15rem;
  line-height: .4rem;
}
.house .house-body .hb-list {
  min-height: 1.2rem;
  border-bottom: .2rem;
  max-height: 3.44rem;
  overflow-y: scroll;
}
.house .house-body .hb-list::-webkit-scrollbar {
  display: none;
}
.house .house-body .house-user-list:after {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: .01rem solid #F5F5F5;
  width: 82%;
  height: .01rem;
  content: " ";
  font-size: .01rem;
}
.house .house-body .hbl-item-btn {
  position: absolute;
  right: 0;
  top: 50%;
  background-image: url(../images/more@2x.png);
  background-size: .05rem .14rem;
  background-repeat: no-repeat;
  width: .8rem;
  height: .6rem;
  margin-top: -.3rem;
  background-position: right center;
}
.house .house-footer {
  text-align: center;
  margin: 0 -.2rem;
}
.house .house-footer .house-footer-list {
  background-color: #F8F8F8;
}
.house .house-footer .house-footer-list h2 {
  line-height: .2rem;
  color: #727272;
  font-size: .14rem;
  text-align: left;
}
.house .house-footer .house-footer-item {
  position: relative;
  padding-bottom: .1rem;
  padding: 0 .2rem .1rem .2rem;
}
.house .house-footer .house-footer-item:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .04rem;
  content: " ";
  color: transparent;
  font-size: .01rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
.house .house-footer .house-footer-item:last-child:after {
  display: none;
}
.house .house-footer .house-header-top p {
  background-color: #E0E0E0;
}
.house .house-body {
  padding-top: .1rem;
}
.house .hbl-item-btn-div {
  display: none;
  position: relative;
  left: 0;
  top: 0;
  z-index: 9;
  border-radius: .06rem;
  text-align: center;
}
.house .hbl-item-btn-div img {
  width: .44rem;
  height: .44rem;
}
.house .hbl-item-btn-delte,
.house .hbl-item-btn-chat {
  display: inline-block;
  width: .8rem;
  line-height: .6rem;
  background-repeat: no-repeat;
  background-size: .16rem .16rem;
  background-position: .02rem center;
  color: white;
  font-size: .14rem;
  text-align: center;
}
.house .hbl-item-btn-delte {
  background-color: #F95133;
  font-size: .17rem;
  color: white;
}
.house .hbl-item-btn-chat {
  background-image: url(../images/chat-icon@2x.png);
}
.hbl-item-btn-hover .hbl-item-btn-div {
  display: block;
}
.house-add .ha-header {
  background-image: url(../images/map@2x.png);
  background-size: .2rem .2rem;
  background-position: .2rem center;
  background-repeat: no-repeat;
  padding-left: .5rem;
  color: #27396A;
  font-size: .16rem;
  line-height: .6rem;
}
.house-add .ha-body h5 {
  padding-left: .2rem;
  color: #969696;
  line-height: .3rem;
  font-size: .14rem;
}
.house-add .hab-ul li {
  line-height: .48rem;
  padding-left: .5rem;
  color: #333333;
  font-size: .16rem;
  background-color: white;
}
.house-add .hab-ul .hab-li-click {
  background-color: #F5F5F5;
}
.house-detail {
  padding: 0 .2rem;
}
.house-detail .hdb-item {
  display: flex;
  justify-content: space-between;
  line-height: .52rem;
}
.house-detail .hdb-item h3 {
  line-height: .52rem;
  font-size: .16rem;
  color: #333333;
  font-weight: bold;
}
.house-detail .hdb-item a {
  font-size: .16rem;
  color: #686868;
}
.house-detail .hdb-item .hdb-item-more {
  background-position: right center;
  background-size: ..08rem .15rem;
  background-repeat: no-repeat;
}
.house-detail .hdb-item,
.house-detail .hdb-item-footer {
  border-bottom: .01rem solid #F5F5F5;
}
.house-detail .hdb-item-footer {
  padding-bottom: .1rem;
}
.house-detail .hdb-item-footer h3 {
  line-height: .6rem;
  font-size: .16rem;
  color: #333333;
  font-weight: bold;
}
.house-detail .hdb-item-footer .hdb-user-div-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.house-detail .hdb-item-footer .hudn-btn-add,
.house-detail .hdb-item-footer .hudn-user-item {
  width: 1rem;
  height: 1.5rem;
  margin: 0 0 .15rem 0;
  padding: 0 ..08rem;
}
.house-detail .hdb-item-footer .hudn-btn-add {
  background-image: url(../images/add-to-button@2x.png);
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: .5rem .5rem;
  line-height: .28rem;
  font-size: .11rem;
  color: #8F8F8F;
  text-align: center;
  padding-top: .9rem;
}
.house-detail .hdb-item-footer .hudn-user-item {
  box-shadow: 0 0 .04rem #999999;
  border-radius: .06rem;
  position: relative;
  padding-top: ..08rem;
}
.house-detail .hdb-item-footer .hudn-user-item img {
  display: block;
  width: .46rem;
  height: .46rem;
  margin: auto;
  border-radius: 50%;
}
.house-detail .hdb-item-footer .hudn-user-item h2 {
  height: .2rem;
  overflow: hidden;
  margin-top: .1rem;
  font-size: .16rem;
  color: #020202;
  line-height: .2rem;
  text-align: center;
  font-weight: bold;
}
.house-detail .hdb-item-footer .hudn-user-item h4 {
  height: .28rem;
  overflow: hidden;
  font-size: .12rem;
  line-height: .28rem;
  color: #646464;
  text-align: center;
}
.house-detail .hdb-item-footer .hudn-btn-delete {
  display: block;
  margin: auto;
  width: .39rem;
  height: .26rem;
  background-repeat: no-repeat;
  background-image: url(../images/friend-detele-button@2x.png);
  background-size: 100% 100%;
}
.house-detail .hdb-item-footer .hudn-user-type {
  position: absolute;
  width: 1rem;
  margin-left: -.5rem;
  text-align: center;
  top: .35rem;
  left: 50%;
  height: .2rem;
  overflow: hidden;
}
.house-detail .hdb-item-footer .hudn-user-type span {
  color: white;
  padding: .01rem .06rem;
  display: inline-block;
  background-color: #E91A0E;
  font-size: .12rem;
  line-height: .16rem;
  border-radius: .02rem;
}
.house-detail .hdb-item-footer .hdb-user-div {
  display: flex;
  justify-content: flex-start;
}
.house-detail .hdb-item-footer .hdb-user-img-all {
  display: flex;
  justify-content: flex-start;
}
.house-detail .hdb-item-footer .hdb-user-img {
  position: relative;
  width: .44rem;
  height: .44rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .1rem;
  margin-bottom: .1rem;
  border: .01rem solid #F5F5F5;
}
.house-detail .hdb-item-footer .hdb-user-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.house-detail .hdb-item-footer .hdb-user-img .hdb-user-delete {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/houst-delete-icon@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: .18rem .18rem;
}
.house-detail .hdb-item-footer .hdb-user-img-delete .hdb-user-delete {
  display: block;
}
.house-detail .hdb-item-footer .hdb-user-btn-add {
  width: .44rem;
  height: .44rem;
  background-size: 100% 100%;
  background-image: url(../images/add-to-button@2x.png);
  background-repeat: no-repeat;
}
.house-detail .hd-footer {
  text-align: center;
  padding-top: .2rem;
}
.house-detail .hd-footer .hdf-delete-house {
  font-size: .16rem;
  padding: 0 .25rem;
  border: .01rem solid #E4E4E4;
  border-radius: .2rem;
  line-height: .4rem;
  color: #303030;
}
.house-detail .hdf-btn-fwcz {
  display: block;
  margin: .1rem auto;
  color: #8F8F8F;
  font-size: .13rem;
  line-height: .24rem;
}
.house-detail .hd-body {
  min-height: 4.2rem;
}
.house-detail .mui-popover {
  margin-left: -.2rem;
}
.house-detail .mui-popover.mui-popover-action .mui-table-view {
  color: #333333;
  font-size: .16rem;
}
.house-detail .mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell a:hover {
  color: #ff6974;
}
.house-detail .select_type_li {
  position: relative;
  line-height: .24rem;
  font-size: .14rem;
  padding: .11rem .15rem;
}
.house-detail .select_type_li:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: .01rem;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
.house-detail-address-modify {
  position: relative;
  background-color: white;
}
.house-detail-address-modify .hdam-body-modify {
  position: relative;
}
.house-detail-address-modify .hdam-input-address {
  height: .6rem;
  width: 100%;
  display: block;
  border: none;
  background-color: transparent;
  line-height: .4rem;
  padding: .1rem .6rem .1rem .2rem;
  color: #333333;
  font-size: .18rem;
  margin: 0;
  text-decoration: .02rem;
}
.house-detail-address-modify .hdam-btn-clear {
  position: absolute;
  right: .2rem;
  top: 50%;
  margin-top: -.12rem;
  z-index: 91;
  width: .24rem;
  height: .24rem;
  background-image: url(../images/edit-delete@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.house-card {
  background-color: #2f3740;
  padding: 1rem .2rem .4rem .2rem;
}
.house-card .hc-body {
  position: relative;
  border-radius: .1rem;
  background-color: white;
  padding-top: .8rem;
  padding-bottom: .3rem;
}
.house-card .hc-body .hcbc-header {
  position: absolute;
  top: -.54rem;
  left: 50%;
  margin-left: -.6rem;
  width: 1.2rem;
  text-align: center;
}
.house-card .hc-body .hcbc-header img {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.house-card .hc-body .hcbc-header h5 {
  position: relative;
  top: -.16rem;
  display: inline-block;
  background-color: #ece3bd;
  line-height: .28rem;
  width: .7rem;
  letter-spacing: .02rem;
  text-align: center;
  border-radius: .14rem;
  font-size: .14rem;
  color: #333333;
}
.house-card .hc-body .hcb-card h1 {
  line-height: .42rem;
  font-size: .22rem;
  color: #333333;
  text-align: center;
}
.house-card .hc-body .hcb-card h3 {
  font-size: .14rem;
  color: #303030;
  font-weight: 500;
  text-align: center;
}
.house-card .hc-body .hcb-card p {
  color: #969696;
  line-height: .24rem;
  text-align: center;
}
.house-card .hc-body .hcb-card .hcbc-ewm {
  background-color: #DBDBDB;
  border-radius: ..08rem;
  width: 2rem;
  height: 2rem;
  display: block;
  margin: .2rem auto;
}
.house-card .hc-footer {
  padding-top: .2rem;
  background-color: transparent;
}
.house-card .hc-footer p {
  text-align: center;
  font-size: .14rem;
  color: #adafb1;
}
.house-card .hc-footer .hcf-btn-close {
  margin: .2rem auto;
  height: .44rem;
  width: .44rem;
  background-size: 100% 100%;
  background-image: url(../images/edit-delete@2x.png);
  background-color: transparent;
  background-repeat: no-repeat;
}
.house-person-detail {
  position: relative;
}
.house-person-detail .hpd-body {
  padding-top: .5rem;
}
.house-person-detail .hpd-info {
  position: relative;
}
.house-person-detail .hpd-info .hpd-img {
  display: block;
  border-radius: 50%;
  width: .86rem;
  height: .86rem;
  margin: 0 auto .15rem auto;
}
.house-person-detail .hpd-info .hpd-type-user {
  position: absolute;
  top: .8rem;
  left: 50%;
  margin-left: -.18rem;
  color: white;
  background-color: #E91A0E;
  font-size: .1rem;
  width: .36rem;
  line-height: .16rem;
  text-align: center;
  border-radius: .02rem;
}
.house-person-detail .hpd-info h1,
.house-person-detail .hpd-info h2,
.house-person-detail .hpd-info h3 {
  line-height: .3rem;
  height: .3rem;
  overflow: hidden;
  text-align: center;
}
.house-person-detail .hpd-info h1 {
  font-size: .23rem;
  color: #E91A0E;
  font-weight: bold;
}
.house-person-detail .hpd-info h2 {
  margin: -.03rem 0;
  font-size: .14rem;
  color: #020202;
  font-weight: bold;
}
.house-person-detail .hpd-info h3 {
  font-size: .14rem;
  color: #646464;
}
.house-person-detail .hpd-more {
  padding: .2rem;
}
.house-person-detail .hpd-btn {
  display: block;
  width: 1.4rem;
  margin: 0 auto .2rem auto;
  padding: 0 .2rem 0 .75rem;
  background-repeat: no-repeat;
  background-size: .23rem .23rem;
  background-position: .35rem center;
  background-color: #F5F5F5;
  line-height: .54rem;
  border-radius: .27rem;
  font-size: .15rem;
  color: #020202;
}
.house-person-detail .hpd-btn-modify {
  background-image: url(../images/house-edit@2x.png);
}
.house-person-detail .hpd-btn-delete {
  background-image: url(../images/house-delete@2x.png);
}
.house-person-detail .hpd-btn-chat {
  background-image: url(../images/house-chat@2x.png);
}
.house-person-phone {
  position: relative;
  padding: .2rem .2rem;
}
.house-person-phone .hpp-header {
  min-height: 3rem;
}
.house-person-phone .hpp-header .fims-list {
  margin: .3rem 0;
}
.house-person-phone .hpp-header .fims-list h3 {
  font-size: .16rem;
}
.house-person-phone .hpp-header h1 {
  color: #000000;
  font-weight: bold;
  font-size: .23rem;
  line-height: .4rem;
}
.house-person-phone .hpp-header h3 {
  font-size: .13rem;
  color: #969696;
  line-height: .32rem;
  height: .32rem;
  overflow: hidden;
}
.house-person-phone .hpp-header h2 {
  color: #000000;
  font-size: .19rem;
  line-height: .4rem;
  font-weight: bold;
}
.house-person-phone .hpp-header .hpp-input-phone {
  margin-top: .2rem;
  margin-bottom: .2rem;
  font-size: .16rem;
  line-height: .5rem;
  color: #333333;
  border: none;
  border-bottom: .01rem solid #DCDCDC;
  text-align: left;
  padding: 0;
}
.house-person-phone .hpp-header .hpp-warn {
  color: red;
  font-size: .12rem;
  line-height: .28rem;
  text-align: center;
  height: .28rem;
  margin: .3rem 0 .5rem 0;
}
.house-person-type {
  padding: .2rem;
}
.house-person-type .hpt-header {
  display: flex;
  justify-content: space-between;
}
.house-person-type .hpt-header h2 {
  color: #646464;
  font-size: .17rem;
  line-height: .4rem;
}
.house-person-type .hpt-header .hpt-a-01 {
  color: #E91A0E;
  line-height: .4rem;
  font-size: .15rem;
}
.house-person-type .hpt-body {
  padding-top: 1rem;
}
.house-person-type .hpt-btn {
  display: block;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #F5F5F5;
  color: #333333;
  text-align: center;
  line-height: 1.1rem;
  margin: 0 auto .3rem auto;
  font-size: .19rem;
  font-weight: bold;
}
.house-person-share {
  padding: .2rem;
}
.house-person-share .hps-body {
  position: relative;
  padding-top: .2rem;
}
.house-person-share .hps-body * {
  text-align: center;
}
.house-person-share .hps-body h1 {
  line-height: .5rem;
  color: #000000;
  font-size: .23rem;
}
.house-person-share .hps-body h5 {
  color: #686868;
  line-height: .24rem;
  font-size: .13rem;
}
.house-person-share .hps-body h4 {
  color: #27396A;
  padding: 0 ..08rem;
  line-height: .4rem;
  font-size: .16rem;
}
.house-person-share .hps-body .hps-ewm {
  display: block;
  margin: .2rem auto;
  width: 2rem;
  height: 2rem;
  background-color: #C4C4C4;
  border-radius: .06rem;
}
.house-person-share .hps-body p {
  line-height: .24rem;
  color: #686868;
  font-size: .15rem;
}
.house-person-share .hps-body h3 {
  color: #989898;
  line-height: .24rem;
  font-size: .15rem;
}
.house-person-share .hps-footer {
  padding: .5rem .2rem;
}
.house-person-share .hps-btn-share {
  display: block;
  margin: auto;
  width: 1.3rem;
  height: .42rem;
  border-radius: .22rem;
  text-align: center;
  color: white;
  border: none;
  line-height: .42rem;
  padding: 0;
  font-size: .18rem;
  background-color: #223a6e;
  /* font-weight: bold; */
}
.house-toggle-house {
  padding-right: .2rem;
  padding-left: .2rem;
}
.hth-header {
  position: relative;
  padding: .1rem 0 .1rem 1.6rem;
  min-height: 1.2rem;
}
.hth-header img {
  position: absolute;
  top: .1rem;
  left: 0;
  width: 1.4rem;
  height: .9rem;
}
.hth-header h3 {
  color: #FF8F29;
  font-size: .16rem;
  line-height: .36rem;
}
.hth-header h4 {
  color: #323232;
  font-size: .17rem;
  line-height: .28rem;
}
.hth-header p {
  color: #999999;
  font-size: .16rem;
  line-height: .28rem;
}
.hth-body h2 {
  font-size: .17rem;
  color: #363636;
  line-height: .36rem;
  font-weight: bold;
}
.hthb-list {
  min-height: 2.4rem;
}
.hthb-item {
  position: relative;
  padding: .05rem  .3rem .15rem 0;
  background-image: url(../images/two/two-icon_default@3x.png);
  background-size: .22rem .22rem;
  background-position: right center;
  background-repeat: no-repeat;
}
.hthb-item h3 {
  color: #323232;
  font-size: .17rem;
  line-height: .32rem;
}
.hthb-item p {
  font-size: .16rem;
  color: #999999;
  line-height: .32rem;
}
.hthb-item p span {
  font-size: .12rem;
}
.hthb-item-click {
  background-image: url(../images/two/two-fi-icon-selected@3x.png);
}
