* {
    margin: 0;
    padding: 0;
}


.l-btn {
    display: inline-block;
    outline: none;
    resize: none;
    border: none;
    padding: .05rem .1rem;
    background: #FF9645;
    color: #fff;
    border: solid .01rem #FF9645;
    border-radius: .03rem;
    font-size: .14rem;
}

    .l-btn:hover {
        background: #FF9645;
        -webkit-animation: anniu 1s infinite;
                animation: anniu 1s infinite;
    }

    .l-btn:active {
        -webkit-box-shadow: 0 .02rem .03rem rgba(0,0,0,.2) inset;
                box-shadow: 0 .02rem .03rem rgba(0,0,0,.2) inset;
    }

.hidden {
    display: none;
}

.tailoring-container, .tailoring-container div, .tailoring-container p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tailoring-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

    .tailoring-container .black-cloth {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #111;
        opacity: .9;
        z-index: 1001;
    }

    .tailoring-container .tailoring-content {
        position: absolute;
        margin-left:.1rem;
        width: 3.55rem;
        height: 4.6rem;
        background: #fff;
        z-index: 1002;
        left: 0;
        top: 0;
        /* 水平垂直居中 浏览器版本号低的不支持transform */
        /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -weblit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);*/
        border-radius: .1rem;
        -webkit-box-shadow: 0 0 .1rem #000;
                box-shadow: 0 0 .1rem #000;
        padding: .1rem;
    }

.tailoring-content-one {
    height: .4rem;
    width: 100%;
    border-bottom: .01rem solid #DDD;
}

.tailoring-content .choose-btn {
    float: left;
}

.tailoring-content .close-tailoring {
    display: inline-block;
    height: .3rem;
    width: .3rem;
    border-radius: 100%;
    background: #eee;
    color: #fff;
    font-size: .22rem;
    text-align: center;
    line-height: .3rem;
    float: right;
    cursor: pointer;
}

    .tailoring-content .close-tailoring:hover {
        background: #ccc;
    }

.tailoring-content .tailoring-content-two {
    width: 100%;
    height: 3.6rem;
    position: relative;
    padding: .05rem 0;
}

.tailoring-content .tailoring-box-parcel {
    width: 100%;
    height: 3.5rem;
    position: absolute;
    left: 0;
    border: solid .01rem #ddd;
}

.tailoring-content .preview-box-parcel {
    display: inline-block;
    width: 2.28rem;
    height: 4.5rem;
    position: absolute;
    right: 0;
    padding: .04rem .14rem;
}

.preview-box-parcel p {
    color: #555;
}

.previewImg {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

.preview-box-parcel .square {
    margin-top: .1rem;
    border: solid .01rem #ddd;
}

.preview-box-parcel .circular {
    border-radius: 100%;
    margin-top: .1rem;
    border: solid .01rem #ddd;
}

.tailoring-content .tailoring-content-three {
    width: 100%;
    height: .4rem;
    border-top: .01rem solid #DDD;
    padding-top: .1rem;
}

.sureCut {
    float: right;
}

/*@media all and (max-width: 7.68rem) {
    .tailoring-container .tailoring-content{
        width: 100%;
        min-width: 320px;
        height: 4.6rem;
    }
    .tailoring-content .tailoring-content-two{
        height: 360px;
    }
    .tailoring-content .tailoring-box-parcel{
        height: 350px;
    }
    .tailoring-container .tailoring-box-parcel{
        width: 100%;
    }
    .tailoring-container .preview-box-parcel{
        display: none;
    }

}*/