.me-index {
  padding: 0 .2rem 0 .2rem;
  background-color: white;
}
.me-index .mi-top {
  height: .9rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: .1rem .2rem 0 .2rem;
  margin: 0 -.2rem;
  background: -webkit-gradient(linear, 0 100%, 0 0, from(#fd933d), to(#fe6026));
  background: -webkit-linear-gradient(90deg, #fd933d, #fe6026);
  background: -moz-linear-gradient(90deg, #fd933d, #fe6026);
  background: -o-linear-gradient(90deg, #fd933d, #fe6026);
  background: linear-gradient(90deg, #fd933d, #fe6026);
  /* 标准的语法 */
}
.me-index .mi-top .mit-news,
.me-index .mi-top .mit-setting {
  display: block;
  width: .4rem;
  height: .4rem;
  background-size: .22rem .22rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.me-index .mi-top .mit-news {
  background-image: url(../images/two/notice@3x.png);
}
.me-index .mi-top .mit-setting {
  margin: 0 -.05rem 0 .05rem;
  background-image: url(../images/two/settiing-icon@3x.png);
}
.me-index .mi-header {
  position: relative;
  padding-left: 0;
  padding-top: .35rem;
  min-height: .7rem;
}
.me-index .mi-header .mih-img {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -.3rem;
  width: .6rem;
  height: .6rem;
  border: .01rem solid #F5F5F5;
  border-radius: 50%;
}
.me-index .mi-header h1 {
  font-size: .18rem;
  line-height: .3rem;
  color: #000000;
  height: .3rem;
  overflow: hidden;
  font-weight: bold;
}
.me-index .mi-header p {
  font-size: .13rem;
  line-height: .24rem;
  color: #686868;
  overflow: hidden;
  height: .24rem;
}
.me-index .mi-body {
  position: relative;
  padding-top: .1rem;
}
.me-index .mi-body .mib-btn-face {
  width: 1.5rem;
  height: .25rem;
  margin-bottom: .15rem;
  background-color: transparent;
  line-height: .25rem;
  display: flex;
  justify-content: center;
  font-size: .15rem;
  color: white;
  border-radius: .06rem .06rem 0 0;
  letter-spacing: .02rem;
  background-image: url(../images/two/Face_btn@3x.png);
  background-size: 100% 100%;
  color: transparent;
}
.me-index .mi-body .mib-btn-face img {
  position: relative;
  display: none;
  top: .05rem;
  height: .29rem;
  width: .29rem;
  margin-right: .05rem;
}
.me-index .mi-body .mib-list {
  position: relative;
}
.me-index .mi-body .mibl-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: .6rem;
  padding: 0 .2rem 0 .4rem;
  border-bottom: .01rem solid #F5F5F5;
  background-image: url(../images/arrow@2x.png);
  background-size: .08rem .15rem;
  background-repeat: no-repeat;
  background-position: right center;
}
.me-index .mi-body .mibl-item h2 {
  font-size: .17rem;
  color: #010101;
  line-height: .6rem;
}
.me-index .mi-body .mibl-item .mi-active-number {
  font-size: .17rem;
  color: #646464;
}
.me-index .mi-body .mibl-item:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -.13rem;
  content: " ";
  font-size: .01rem;
  color: transparent;
  width: .25rem;
  height: .25rem;
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.me-index .mi-body .mibl-item-02:before {
  background-image: url(../images/two/me-Mobile-icon@3x.png);
}
.me-index .mi-body .mibl-item-03:before {
  background-image: url(../images/two/me-Face-icon@3x.png);
}
.me-index .mi-body .mibl-item-04:before {
  background-image: url(../images/two/me-privacy-icon@3x.png);
}
.me-index .mi-body .mibl-item-05:before {
  background-image: url(../images/two/me-about-icon@3x.png);
}
.me-index .mi-line-15 {
  background-color: #F8F8F8;
  height: .15rem;
  margin: 0 -.2rem;
}
.me-setting .mi-body {
  padding: 0;
}
.me-setting .mib-list .mibl-item:last-child {
  border-bottom: .01rem solid #F5F5F5;
}
.me-setting .mib-list .mes-item-02 {
  border-bottom: .01rem solid transparent!important;
}
.me-setting .mib-list .mes-item {
  background-color: white;
  padding-left: 0;
}
.me-setting .mib-list .mes-item p {
  color: #6D6E8D;
  font-size: .17rem;
}
.me-setting .mib-list .mes-item:before {
  display: none;
}
.me-setting .mes-user-setting {
  position: relative;
  top: .15rem;
  width: .33rem;
  height: .33rem;
  border-radius: 50%;
}
.me-setting .mes-line {
  background-color: #F5F5F5;
  margin: 0 -.2rem;
  height: .3rem;
}

.me-modify-password .mmp-body {
  padding: .15rem;
}
.me-modify-password .mmp-body .mmp-input,
.me-modify-password .mmp-body h4,
.me-modify-password .mmp-body h5 {
  padding: 0 .15rem;
}
.me-modify-password .mmp-body .mmp-input {
  border-radius: .04rem;
  display: block;
  width: 100%;
  height: .48rem;
  border: .01rem solid transparent;
  background-color: #F8F8F8;
  font-size: .15rem;
  color: #969696;
}
.me-modify-password .mmp-body h4 {
  font-size: .12rem;
  color: #646464;
  line-height: .24rem;
  padding-top: .05rem;
  padding-bottom: .1rem;
}
.me-modify-password .mmp-body h5 {
  color: #E91A0E;
  font-size: .12rem;
  line-height: .32rem;
  height: .32rem;
  margin-bottom: .2rem;
}
.me-modify-password .mmp-body .mmp-btn-qdxg {
  border-radius: .04rem;
  display: block;
  background-color: #E91A0E;
  color: white;
  font-size: .17rem;
  line-height: .48rem;
  width: 100%;
  text-align: center;
}
.me-modify-result {
  padding-top: .2rem;
}
.me-modify-result .mmo-title {
  padding: 1rem 0 .1rem 0;
  font-size: .15rem;
  text-align: center;
  background-image: url(../images/me-safe-icon@2x.png);
  background-repeat: no-repeat;
  background-size: .39rem .39rem;
  background-position: center;
  font-weight: bold;
}
.me-mofify-result-no .mmo-title {
  background-image: url(../images/bill_04.png);
}
.me-phone-choice {
  padding: .2rem;
}
.me-phone-choice .mpc-body {
  padding-top: .2rem;
}
.me-phone-choice .mpc-body .mpc-img {
  height: .39rem;
  width: .39rem;
  margin: .1rem auto;
  background-image: url(../images/me-safe-icon@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.me-phone-choice .mpc-body h3 {
  font-size: .15rem;
  line-height: .24rem;
  padding: .1rem 0;
  color: #000000;
  text-align: center;
}
.me-phone-choice .mpc-body .mpc-phone {
  margin: .2rem auto;
  width: 90%;
  color: #2EBC6E;
  background-color: #F8F8F8;
  border-radius: .26rem;
  padding: .1rem .15rem;
  line-height: .32rem;
  text-align: center;
  font-size: .17rem;
}
.me-phone-old {
  padding: .15rem;
}
.me-phone-old .mpo-body .mpo-phone-div,
.me-phone-old .mpo-body .mpo-number-div {
  padding: 0 .15rem;
  background-color: #F8F8F8;
  border-radius: .04rem;
  margin-bottom: .2rem;
}
.me-phone-old .mpo-body .mpo-phone-div {
  display: flex;
}
.me-phone-old .mpo-body .mpo-phone-div h2 {
  width: 30%;
  font-size: .15rem;
  color: #202020;
  line-height: .48rem;
}
.me-phone-old .mpo-body .mpo-phone-div .mpo-input-phone {
  width: 69%;
  height: .48rem;
  line-height: .48rem;
  padding-right: .15rem;
  color: #888888;
  font-size: .15rem;
  border: none;
  background-color: transparent;
  margin: 0;
}
.me-phone-old .mpo-body .mpo-input-yzm,
.me-phone-old .mpo-body .mpo-input-phone {
  padding: 0 .15rem 0 0;
}
.me-phone-old .mpo-body .mpo-number-div {
  display: flex;
  justify-content: space-between;
}
.me-phone-old .mpo-body .mpo-number-div .mpo-input-yzm {
  width: 69%;
  height: .48rem;
  line-height: .48rem;
  color: #888888;
  font-size: .15rem;
  border: none;
  background-color: transparent;
  margin: 0;
}
.me-phone-old .mpo-body .mpo-number-div .mpo-btn-hqyz {
  width: 30%;
  font-size: .15rem;
  color: #202020;
  line-height: .48rem;
  text-align: right;
}
.me-phone-old .mpo-body .mpo-warning {
  text-align: center;
  font-size: .12rem;
  color: red;
  line-height: .32rem;
  height: .32rem;
  margin-top: -.1rem;
}
.me-phone-old .mpo-body .mpo-btn-qdxg {
  display: block;
  margin-top: .1rem;
  background-color: #2EBC6E;
  color: white;
  font-size: .17rem;
  line-height: .48rem;
  text-align: center;
  border-radius: .04rem;
}
.set_downtime {
  color: #020202!important;
}
.set_downtime span {
  display: inline-block;
  margin-left: .05rem;
  color: #999!important;
}
.me-phone-modify .mpm-header {
  padding-top: .2rem;
}
.me-phone-modify .mpm-header .mpm-img {
  display: block;
  margin: auto;
  width: .66rem;
  height: .66rem;
  background-image: url(../images/me-safe-icon_02@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.me-phone-modify .mpm-header p {
  font-size: .15rem;
  line-height: .32rem;
  color: #2EBC6E;
  text-align: center;
  margin: .1rem 0 .2rem 0 ;
}
.me-phone-modify .mom-btn-question {
  display: block;
  text-align: center;
  line-height: .32rem;
  margin-top: .4rem;
  font-size: .15rem;
  color: #223A6E;
}
.me-setting-info .msi-header {
  position: relative;
  padding: .1rem;
}
.me-setting-info .msi-header .msi-img {
  display: block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 50%;
  margin: auto;
}
.me-setting-info .msi-header h1 {
  margin-top: .1rem;
  color: #223A6E;
  font-size: .19rem;
  line-height: .4rem;
  text-align: center;
  height: .4rem;
  overflow: hidden;
}
.me-setting-info .msi-body {
  padding-top: .1rem;
}
.me-setting-info .msi-body .msi-div {
  color: #686868;
  font-size: .15rem;
  line-height: .24rem;
  line-height: .5rem;
}
.me-setting-info .msi-body .msi-item:before {
  display: none;
}
.me-setting-info .msi-body .msi-item {
  padding-left: 0;
}
.me-setting-info .msi-body .msi-item:last-child {
  border-bottom: .01rem solid #E0E0E0;
}
.me-setting-info .msi-body .msi-item-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: .17rem;
  color: #6D6E8D;
}
.me-setting-info .msi-body .msi-item-right button {
  border: none;
  font-size: .17rem;
  color: #6D6E8D;
  padding-right: 0;
  background-color:transparent;
}
.me-setting-info .msi-btn-tcdl, .me-setting .msf-btn-tcdl {
    display: block;
    margin: .3rem auto;
    height: .46rem;
    line-height: .46rem;
    width: 1.4rem;
    text-align: center;
    border-radius: .23rem;
    background-color: #F5F5F5;
    color: #E91A0E;
    font-size: .17rem;
}
.me-setting-info .msi-item-05 {
  border: none!important;
  padding: 0!important;
}
.me-setting-info .msi-face-img {
  width: .6rem;
  background-image: url(../images/friend-change-button1@3x.png);
  background-size: .6rem .5rem;
  background-position: center center;
  background-repeat: no-repeat;
}
.me-setting-info .msi-face-img-hover {
  background-image: url(../images/friend-change-button1@3x-hover.png);
}
.me-error {
  padding: .2rem;
}
.me-error .me-body {
  padding-top: .6rem;
}
.me-error .me-body .meb-img {
  margin: auto;
  width: 1.67rem;
  height: 1rem;
  background-image: url(../images/me-error-images@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.me-error .me-body p {
  color: #303030;
  font-size: .16rem;
  text-align: center;
  padding: .2rem 0;
  line-height: .28rem;
}
.me-error .me-body .meb-btn-new {
  display: block;
  margin: .6rem auto;
  width: 1.36rem;
  height: .46rem;
  line-height: .46rem;
  border-radius: .23rem;
  text-align: center;
  font-size: .16rem;
  color: #011A54;
  border: .01rem solid #E0E0E0;
  letter-spacing: .03rem;
  font-weight: bold;
}
.me-new .mn-body-no {
  display: block;
  padding: .2rem 0;
}
.me-new .mn-body-no .mn-img {
  width: 100%;
}
.me-new .mn-body-no h3 {
  margin-top: .2rem;
  color: #969696;
  line-height: .4rem;
  text-align: center;
  padding: 0 .2rem;
  font-size: .16rem;
}
.me-new .mn-body-ok {
  display: none;
}
.me-new .mn-body-ok .mnb-list-div {
  padding-left: .8rem;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item {
  position: relative;
  padding: .2rem .2rem .2rem 0;
  border-bottom: .01rem solid #E0E0E0;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item .mnc-item-header {
  display: flex;
  justify-content: space-between;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h2 {
  font-size: .17rem;
  color: #000000;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h4 {
  font-size: .13rem;
  color: #969696;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item p {
  font-size: .14rem;
  color: #686868;
  height: .24rem;
  overflow: hidden;
}
.me-new .mn-body-ok .mnb-list-div .mnc-item h4,
.me-new .mn-body-ok .mnb-list-div .mnc-item h2,
.me-new .mn-body-ok .mnb-list-div .mnc-item p {
  line-height: .26rem;
}

.me-new-more .mn-body-no {
  display: none;
}
.me-new-more .mn-body-ok {
  display: block;
}
.me-news-detail {
  padding: .2rem;
}
.me-news-detail .mnd-content h1 {
  color: #969696;
  font-size: .21rem;
  line-height: .32rem;
  padding: .08rem 0;
}
.me-news-detail .mnd-content h2 {
  color: #000000;
  font-size: .17rem;
  line-height: .32rem;
  padding: .08rem 0;
}
.me-news-detail .mnd-content p {
  color: #646464;
  font-size: .15rem;
  line-height: .28rem;
  padding: .05rem 0;
}
.me-news-detail img {
  width: 100%;
}
