
.mui-plus.mui-android header.mui-bar {
    display: none;
}

.mui-plus.mui-android .mui-bar-nav ~ .mui-content {
    padding: 0;
}
div.public-div{
  /*padding-top: .44rem;*/
  width: 100%;
  min-width: 3.2rem;
  overflow-x: hidden;
}
div.body-building
,div.body-building-reserve
,div.body-building-reserve-order
,div.body-building-reserve-me
,div.body-building-run
,div.body-building-first
,div.health-hut-Result
,div.health-hut-report
,div.electricity-statistics
,div.electricity-administration
,div.electricity-administration-add
,div.electricity-rates{
    position: relative;
    padding-top: .44rem;
}
div.electricity{
    position: relative;
    padding-top: .52rem;
}
.box-shadow-01{
  position: relative;
  margin-bottom: .16rem;

}
.box-shadow-01:after{
  position: absolute;
  bottom: -.16rem;
  left: 0;
  height: .16rem;
  width: 100%;
  content: " ";
  border-radius: 0 0 .16rem .16rem;
  color: transparent;
  background: linear-gradient(#F5F5F5, white); /* 标准的语法 */
}


* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  letter-spacing: .02rem;
  /*font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
  font-family:'Helvetica Neue',Helvetica,sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: 500;
  font-size: 0.14rem;
}
html,body{
  font-size: .12rem;
  background-color: white;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,a:hover,a:active,a:visited,a:link,a:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0) !important;
-webkit-tap-highlight-color: transparent!important;
outline:none!important;
text-decoration: none!important;
-webkit-user-select: none!important;
-moz-user-focus: none!important;
-moz-user-select: none!important;
}
ul,
li,
ol {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
select,
option {
  cursor: pointer;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input,
img,
select,
iframe {
  border: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

\n .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
  height: auto !important;
}

.hidd {
  overflow: hidden;
}

.font12 {
  font-size: .12rem;
}

.font14 {
  font-size: .14rem;
}

.font16 {
  font-size: .16rem;
}

.font18 {
  font-size: .18rem;
}

.font20 {
  font-size: .2rem;
}

.font22 {
  font-size: .22rem;
}

.font24 {
  font-size: .24rem;
}

.font26 {
  font-size: .26rem;
}

.font28 {
  font-size: .28rem;
}

.font30 {
  font-size: .3rem;
}

.fontwryh {
  font-family: "微软雅黑";
}

.fontst {
  font-family: "宋体";
}

.fontht {
  font-family: "黑体";
}

.fontkt {
  font-family: "楷体";
}

.fontArial {
  font-family: arial;
}

.fontalign {
  text-align: center;
}

.fontbold {
  font-weight: bold;
}

.marg {
  margin: 0 auto;
}

.marg0 {
  margin: 0;
}

.marg5 {
  margin: .05rem;
}

.marg10 {
  margin: .1rem;
}

.marg15 {
  margin: .15rem;
}

.marg20 {
  margin: .2rem;
}

.margtop5 {
  margin-top: .05rem;
}

.margtop10 {
  margin-top: .1rem;
}

.margtop15 {
  margin-top: .15rem;
}

.margtop20 {
  margin-top: .2rem;
}

.margright0 {
  margin-right: 0;
}

.margright5 {
  margin-right: .05rem;
}

.margright10 {
  margin-right: .1rem;
}

.margright15 {
  margin-right: .15rem;
}

.margright20 {
  margin-right: .2rem;
}

.margleft0 {
  margin-left: 0;
}

.margleft5 {
  margin-left: .05rem;
}

.margleft10 {
  margin-left: .1rem;
}

.margleft15 {
  margin-left: .15rem;
}

.margleft20 {
  margin-left: .2rem;
}

.margbottom5 {
  margin-bottom: .05rem;
}

.margbottom10 {
  margin-bottom: .1rem;
}

.margbottom15 {
  margin-bottom: .15rem;
}

.margbottom20 {
  margin-bottom: .2rem;
}

.padd0 {
  padding: 0;
}

.padd5 {
  padding: .05rem;
}

.padd10 {
  padding: .1rem;
}

.padd15 {
  padding: .15rem;
}

.padd20 {
  padding: .2rem;
}

.paddlr5 {
  padding: 0 .05rem 0 .05rem;
}

.paddlr10 {
  padding: 0 .1rem 0 .1rem;
}

.paddlr15 {
  padding: 0 .15rem 0 .15rem;
}

.paddlr20 {
  padding: 0 .2rem 0 .2rem;
}

.paddlr33 {
  padding: 0 .33rem 0 .33rem;
}

.paddleft5 {
  padding-left: .05rem;
}

.paddleft10 {
  padding-left: .1rem;
}

.paddleft15 {
  padding-left: .15rem;
}

.paddleft20 {
  padding-left: .2rem;
}

.paddtop5 {
  padding-top: .05rem;
}

.paddtop10 {
  padding-top: .1rem;
}

.paddtop15 {
  padding-top: .15rem;
}

.paddtop20 {
  padding-top: .2rem;
}

.paddright5 {
  padding-right: .05rem;
}

.paddright10 {
  padding-right: .1rem;
}

.paddright15 {
  padding-right: .15rem;
}

.paddright20 {
  padding-right: .2rem;
}

.paddbottom5 {
  padding-bottom: .05rem;
}

.paddbottom10 {
  padding-bottom: .1rem;
}

.paddbottom15 {
  padding-bottom: .15rem;
}

.paddbottom20 {
  padding-bottom: .2rem;
}

.fgx0 {
  border-bottom: dashed .01rem #e5e5e5;
}

.fgx5 {
  border-bottom: dashed .01rem #e5e5e5;
  margin: .05rem 0;
}

.fgx10 {
  border-bottom: dashed .01rem #e5e5e5;
  margin: .1rem 0;
}

.fgx15 {
  border-bottom: dashed .01rem #e5e5e5;
  margin: .1rem 0;
}

.bg_no {
  background: none !important;
}

.border_no {
  border: none !important;
}

.border0 {
  border: solid .01rem #bfd2e1;
}

.border1 {
  border: solid .01rem #b7b7b7;
}

.fontcolor0 {
  color: #43657E;
}

.fontcolor1 {
  color: #c01705;
}

a.fontcolor0 {
  color: #a9a9a9;
}

a.fontcolor1 {
  color: #c01705;
}

.rad5 {
  border-radius: .05rem;
  -moz-border-radius: .05rem;
}

.boxsha5 {
  box-shadow: .05rem .05rem;
}

.rela {
  position: relative;
}

.top_h {
  height: 2.31rem;
}

.bottom_h {
  margin: 0 auto;
  width: 10rem;
  height: 1.91rem;
}

.center {
  width: 11rem;
  margin: 0 auto;
  background-color: #FFF;
}

.center_nobj {
  width: 11rem;
  margin: 0 auto;
}

.dqwz {
  height: .5rem;
  line-height: .5rem;
  margin: 0 .1rem;
  border-bottom: .01rem solid #cecece;
  font-size: .16rem;
}

.dqwz img {
  float: left;
  margin: .19rem .1rem 0 .05rem;
}

.img-100 {
  display: block;
  width: 100%;
}
.line-bg-height-15{
  height: .15rem;
  background-color: #F5F5F5;
}
.public-bg-tc{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.1);
}



.hf-btn-tjxfw
,.fif-btn-fkyq{
      margin-top: .2rem;
      background-image: url(../images/l-add-to@2x.png);
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: .4rem .4rem;
      border: none;
      padding-top: .4rem;
      padding-right: .2rem;
      padding-left: .2rem;
      line-height: .32rem;
      font-size: .16rem;
      color: #969696;
      background-color: transparent;
      text-align: center;
      
}
/* 按钮*/
.public-friend-btn-01
,.fims-btn-qd
,.hm-btn-rhyq
,.hpp-btn-next
,.bf-btn-msjf
,.two-center-btn-qd
,.public-two-btn-01{
    display: block;
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: .42rem;
    border-radius: .22rem;
    text-align: center;
    color: white;
    border: none;
    line-height: .42rem;
    padding: 0;
    font-size: .18rem;
    background-color: #FF9645;
    /* font-weight: bold; */
}
.public-btn-04{
            display: block;
            margin: .2rem;
            background-color: #2EBC6E;
            color: white;
            font-size: .17rem;
            line-height: .48rem;
            text-align: center;
            border-radius: .04rem;
}
.ftmc-line{
       position: relative;
       margin: .25rem -.15rem;
       height: .01rem;
       background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
       background-size: .12rem .01rem;
       background-repeat: repeat-x;
   }
.ftmc-line:before
,.ftmc-line:after{
       position: absolute;
       top: -.15rem;
       content: " ";
       font-size: .01rem;
       color: transparent;
       width: .3rem;
       height: .3rem;
       background-color: #F5F5F5;
       border-radius: .15rem;
}
.ftmc-line:before{
       left: -.2rem;
}
.ftmc-line:after{
       right: -.2rem;
}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

.Rotation{
-webkit-transform: rotate(360deg);
animation: rotation 3s linear infinite;
-moz-animation: rotation 3s linear infinite;
-webkit-animation: rotation 3s linear infinite;
-o-animation: rotation 3s linear infinite;
}
.bbrm-btn-smsy
,.bbf-btn-start
,.hhf-btn-start{
    background-color: #FF9645;
    height: .5rem;
    line-height: .5rem;
    border-radius: .25rem;
    font-size: .17rem;
    color: white;
    width: 100%;
    text-align: center;
}
.hhf-btn-start{
  background-color: #0073FA;
}

.public-header-div{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .44rem;
    overflow: hidden;
    background-color: white;
    z-index: 999999;
}

.public-header{
    position: relative;
}
.public-header h1{
    line-height: .44rem;
    text-align: center;
    font-size: .18rem;
    color: #333333;
    text-align: center;
    font-weight: bold;
}
.public-header-return{
    position: absolute;
    background-repeat: no-repeat;
    background-position:  left center;
    width: .44rem;
    height: .44rem;
    left: .2rem;
    top: 0;
    background-size: .12rem .21rem;
    background-image: url(../images/bb-return.png);
}
.bbh-toggle
,.public-header-right{
    position: absolute;
    background-repeat: no-repeat;
    background-position: right center;
    width: .44rem;
    height: .44rem;
    right: .2rem;
    top: 0;
    background-size: .17rem .17rem;
    background-image: url(../images/more_gym@2x.png);
}
div.mui-dtpicker-header button{
  background-color: transparent;
  font-size: .17rem;
  border-color: transparent;
}
button.mui-btn-blue{
  color: #FF8F29;
  border-color: transparent;
}
div.mui-dtpicker
,div.mui-dtpicker-title h5
,div.mui-picker{
  background-color: white;
}
.mui-tc-01{
  
}
.mui-popover.mui-popover-action .mui-table-view{
  border-radius: .1rem;
}
.mui-tc-01.mui-popover-action .mui-tc-ul-01{
  padding-top: .1rem;
}
.mui-tc-01.mui-popover-action .mui-tc-ul-01 li:nth-child(1){
  color: #969696;
  font-size: .13rem;
  padding: .05rem .1rem;
  line-height: .24rem;
  font-weight: initial;
}
.mui-tc-01.mui-popover-action li{
  color: #323232;
  font-size: .17rem;
  font-weight: bold;
  line-height: .28rem;
}
.mui-tc-01.mui-popover-action .mui-tc-ul-02 li:nth-child(1){
  color: #FF5B70;
}
.two-modal-share{
  padding: .1rem .2rem;  
}

.two-modal-share h4{
  color: #999999;
  font-size: .12rem;
  line-height: .4rem;
}
.two-share-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.two-share-list li{
  margin-right: .3rem;
  background-size: .51rem .51rem;
  background-image: url(../images/two/two-share-message@3x.png);
  background-position: center top;
  min-width: .51rem;
  text-align: center;
  background-repeat: no-repeat;
  font-size: .12rem;
  color: #999999;
  padding-top: .51rem;
  line-height: .28rem;
}
.two-share-list .two-share-wx{
  background-image: url(../images/two/two-share-weixin@3x.png);
}
.two-share-list .two-share-qq{
  background-image: url(../images/two/two-share-qq@3x.png);
}
.two-share-list .two-share-message{
  background-image: url(../images/two/two-share-message@3x.png);
}
.two-share-btn-qx{
  width: 100%;
  line-height: .4rem;
  font-size: .17rem;
  text-align: center;
  color: #333333;
  margin-bottom: -.1rem;
}

div.two-modal-center{
  top: 25%;
}
div.modal-dialog-center{
  margin: .2rem 8%;
}
div.two-center-content{
  padding: .2rem;
}
.two-center-content h4{
  text-align: center;
}
.two-center-btn-qd{
  margin-top: .3rem;
}
.two-public-header-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: .44rem;
  z-index: 99;
  background-color: orange;
}
.two-public-header{
  position: relative;
  height: 100%;
  width: 100%;
}
.two-public-header-nav-div-after{
  position: absolute;
  display: block;
  top: -.09rem;
  right: .1rem;
  width: .1rem;
  height: .1rem;
  color: transparent;
  font-size: 0;
  border-left: .1rem solid transparent;
  border-right: .1rem solid transparent;
  border-bottom: .1rem solid #65666B;
  border-top: none;
  
} 
.two-public-header-more
,.two-public-header-return{
  position: absolute;
  top: 0;
  width: .44rem;
  height: 100%;
  background-size: .22rem .22rem;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
}
.two-public-header-return
,.two-public-header-more
,.two-public-header-nav{
  z-index: 3;
  cursor: pointer;
}
.two-public-header-return{
  left: .15rem;
}
.two-public-header-more{
  right: .18rem;
  text-align: right;
}
.icon-fanhui{
  font-size: .22rem; 
}
.icon-icon-test{
  font-size: .22rem;
}
.two-public-header-title{
  color: white;
  line-height: .44rem;
  text-align: center;
  font-size: .18rem;
  font-weight: bold;
}
.two-public-header-title
,.icon-fanhui
,.icon-icon-test{
  color: #333333;
}
.two-public-header-nav-div{
  display: none;
  position: absolute;
  top: .5rem;
  right: 0.115rem;
  background-color: #65666B;
  border-radius: .04rem;
}
.two-public-header-nav{
  position: relative;
}
.two-public-header-nav li{
  padding: 0 .15rem;
}
.two-public-header-nav a{
  position: relative;
  display: inline-block;
  padding-left: .32rem;
  color: white;
  width: .96rem;
  line-height: .5rem;
  border-bottom: .01rem solid #919191;
  font-size: .14rem;
  letter-spacing: .02rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: .22rem .22rem;
  /*background-image: url(../images/two/two-nav-activity@3x.png);*/
}
.two-public-header-nav a img{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -.11rem;
  width: .22rem;
  height: .22rem;
}
/*
.tphn-setting a{
  background-image: url(../images/two/two-nav-setting@3x.png);
}
.tphn-message a{
  background-image: url(../images/two/two-nav-message@3x.png);
}
.tphn-help a{
  background-image: url(../images/two/two-nav-help@3x.png);
}
.tphn-home a{
  background-image: url(../images/two/two-nav-home@3x.png);
}
.tphn-setting a{
  background-image: url(../images/two/two-nav-setting@3x.png);
}
.tphn-activity a{
  background-image: url(../images/two/two-nav-activity@3x.png);
}*/

.two-public-header-nav li:last-child a{
  border-bottom: none;
}
.two-public-header-big{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.cmb-item-footer{
  position: relative;
  display: flex;
  justify-content: left;
  
}
.cmb-item-footer p{
     color: #989898;
     font-size: .12rem;
     line-height: 0.18rem;
}
.cmb-item-footer-div{
  display: flex;
  height: .18rem;
  margin-right: .08rem;
}
.cmb-item-footer-div-one,
.cmb-item-footer-div-two,
.cmb-item-footer-div-three {
  border-radius: 50%;
  width: .18rem;
  height: .18rem;
  background-image: url(../images/user-01.jpg);
  background-size: 100% 100%;
}
.two-modal-small{
  top: 50%;
  margin-top: -2rem;
  padding:.2rem;
}
.two-modal-small .modal-body{
  min-height: .8rem;
  
}
.two-modal-small .modal-content{
  padding: .2rem .2rem 0 .2rem;
}
.two-modal-small h4{
  font-size: .16rem;
  line-height: .32rem;
  text-align: center;
}
.modal-small-footer{
  display: flex;
  justify-content: center;
  padding: 0;
}
.two-small-btn-qd
,.two-small-btn-qx{
  width: 40%;
  margin: .15rem 3% ;
  line-height: .4rem;
  border-radius: .2rem;
  text-align: center;
  font-size: .16rem;
  color: white;
}

.two-small-btn-qd{
  background-color: #FF8F29;
}
.two-small-btn-qx{
  background-color: #CCCCCC;
}
.fi-body{
  padding:.1rem .2rem;
}
.fib-img-div{
  position: relative;
  display: flex;
  margin: .2rem auto;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/two/face-sao@3x.png);
  background-size: 100% 100%;
  width: 2.8rem;
  height: 2.8rem;
  background-repeat: no-repeat;
}
.fib-img-div img{
  position: absolute;
  left: 50%;
  margin-left: -.8rem;
  width: 1.6rem
}
.fib-content h2{
  color: #656565;
  font-size: .16rem;
  line-height: .4rem;
}
.fib-content p{
  color: #313131;
  line-height: .28rem;
  padding: .05rem 0;
  font-size: .16rem;
}
.fib-btn-qd{
  margin-top: .1rem;
}
