@charset "utf-8";
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit }
input, textarea, select { *font-size: 100% }
legend { color: #000 }
/* 通用 */
html,body{ background: #F2F2F2; }
body, input, button, textarea { -webkit-text-size-adjust: none; font: normal 16px/20px 'Microsoft Yahei', helvetica, arial; color: #555; outline: none; box-sizing:border-box; -webkit-box-sizing:border-box; }
p { padding: 0; margin: 0 }
a { text-decoration: none; color: #1F4E73 }
*{ box-sizing: border-box;}
.fl { float: left }
.fr { float: right; }
.clear { clear: both; }
.text-left { text-align: left!important }
.text-right { text-align: right }
.text-center { text-align: center }
.blue { color: #1D4D73 !important }
.bold { font-weight: 700 }
.dark { color: #656565 !important }
.black { color: #000}
.gray { color: #aaa !important }
.red { color: #FE0000 !important}
.green { color: #05ac00}
.bg-gray { background: #F0EFF4}
.vr{ font-family: "微软雅黑", "黑体", "宋体";}
.height-10{ height: 10px;}
.hide{ display: none;}
.show{ display: block;}
.img-100{ width: 100%; height: auto;}

@media only screen and (min-width:0px){
  html{font-size:75%!important}.viewport{max-width:0px}
}
@media only screen and (min-width:360px){
  html{font-size:81.3%!important}.viewport{max-width:360px}
}
@media only screen and (min-width:480px){
  html{font-size:100%!important}.viewport{max-width:480px}
}

body{
	min-width: 320px;
	max-width: 768px;
	min-height: 480px;
	margin: auto;
	letter-spacing: 2px;
	background-image: url(../images/home-10.png);
	background-color: white;
	background-size: 20px 20px;
	letter-spacing: 2px;
}
.buy
,.index{
	position: relative;
}

.zzc{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .6;
	z-index: 99;
	display: none;
}

/*公用头 01*/
.public-header-01-father{
	position: fixed;
	top: 0;
	left: 0;
	height: 48px;
	z-index: 98;
	width: 100%;

}
.public-header-01{
	min-width: 320px;
	max-width: 768px;
	margin: auto;
	position: relative;
	background-color: #31bfc9;
	height: 100%;
}
.public-header-01-father h1{
	font-size: 1.5rem;
	line-height: 48px;
	text-align: center;
	color: white;
}
.public-h-return{
	position: absolute;
	left: 10px;
	top: 0;
	height: 48px;
	line-height: 48px;
	display: block;
	padding-left: 15px;
	color: white;
	font-size: 1.25rem;
  background-repeat: no-repeat;
  background-image: url(../images/public-return-left.png);
  background-size: 10px 18.5px;
  background-position: 0 center;
}
.public-btn-ts
,.public-btn-search
,.public-btn-font{
	position: absolute;
	right: 5px;
	top: 0;
	border: none;
	height: 48px;
	width: 40px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.public-btn-ts{
	background-image: url(../images/ts-img.png);	
	background-size: 25px 25px;
}
.public-btn-search{
	background-image: url(../images/search-img.png);
	background-size: 20px 20px;
}
.public-btn-font{
	font-size: 1.125rem;
	width: auto;
	color: white;
}


