
.qs-input-div{
    display: none;
    height: 40px;
    background-size: 100% 100%;
    width: 280px;
    padding-left: 100px;
    padding-top: 0;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.qs-input-div:nth-child(1){
    background-image: url("../images/qs-01.png");
}
.qs-input-div:nth-child(2){
    background-image: url("../images/qs-02.png");
    background-size: 100% 70%;
}
.qs-input-div input{
    line-height: 40px;
    width: 100%;
    border:none;
    color: #646464;
    background-color: transparent;
    letter-spacing: 2px;
    text-align: left;
}
.qs-body{
    padding-top: 50px;
    padding-bottom: 20px;
}
.index-img-01{
    display: block;
    width: 90%;
    margin: auto;
}